@(currentUser: femr.common.dtos.CurrentUser, viewModel: femr.ui.models.admin.inventory.CustomViewModelGet, assets: AssetsFinder)

@import femr.ui.controllers.admin.routes.InventoryController
@import femr.ui.views.html.partials.admin.inventory.inventoryMenu
@import femr.ui.views.html.layouts.admin

@additionalStyles = {

    <link rel="stylesheet" href="@assets.path("css/libraries/jquery.dataTables.min.css")">
    <link rel="stylesheet" href="@assets.path("css/admin/inventory.css")">
}
@additionalScripts = {

    <script type = "text/javascript" src="@assets.path("js/libraries/jquery.dataTables.min.js")"></script>
    <script type = "text/javascript" src="@assets.path("js/admin/inventory.js")"></script>
}

@admin("Inventory - Add Custom Medication", currentUser, styles = additionalStyles, scripts = additionalScripts, assets = assets) {

    @inventoryMenu(viewModel.getMissionTripItem)

    @if(currentUser.getTripId == null) {
        <fieldset disabled="disabled">
        }

    @helper.form(action = InventoryController.customPost(viewModel.getMissionTripItem.getId)) {

        <h3>Add Custom Medicine To Formulary:</h3>
        <ul>
            <li>If a medication does not exist in the concept dictionary, add it below</li>
        </ul>
        <div class="newMedicationWrap">

            <div class="row">
                <div class="fieldMedication" >
                    <label for="medicationName">Brand</label>
                    <input type="text" class="fInput" id="medicationName" name="medicationName"  placeholder="" />
                </div>

                <div class="fieldMedication">
                    <label for="medicationForm">Form</label>
                    <select name="medicationForm" class="fOption">
                        @*<option value="" disabled selected>Form</option>*@
                        @for(formIndex <- 1 to viewModel.getAvailableForms.size) {
                            @defining(viewModel.getAvailableForms.get(formIndex - 1)) { form =>
                                <option value="@form">@form</option>
                            }
                        }
                    </select>
                </div>

                <div class="fieldMedication">
                    <label for="medicationQuantity">Quantity</label>
                    <input type="number" class="fInput text" name="medicationQuantity" placeholder="" />
                </div>

            </div>
            <div class="row ingredients">
                <div class="ingredientWrap">

                    <div class="ingredientFields first">

                        <div class="fieldMedication">
                            <label for="medicationIngredient">Generic</label>
                            <input type="text" name="medicationIngredient[]" class="fInput medicationIngredient" placeholder="" />
                        </div>

                        <div class="fieldMedication">
                            <label for="medicationStrength">Strength</label>
                            <input type="number" name="medicationStrength[]" class="fInput medicationsStrength" placeholder="" />
                        </div>

                        <div class="fieldMedication">
                            <label for="medicationUnit">Unit</label>
                            <select name="medicationUnit[]" class="fOption">
                                @*<option value="" selected>Unit</option>*@
                                @for(unitIndex <- 1 to viewModel.getAvailableUnits.size) {
                                    @defining(viewModel.getAvailableUnits.get(unitIndex - 1)) { unit =>
                                        <option value="@unit">@unit</option>
                                    }
                                }
                            </select>
                        </div>

                        <a class="fButton removeIngredient">
                            <span>-</span>
                        </a>

                    </div>

                    <a class="fButton" id="addNewIngredient">
                        <span>+</span>
                    </a>
                </div>
            </div>
            <div class="row">
                <button class="fButton" id="submitMedicationButton">Submit</button>
            </div>

        </div>
        @if(currentUser.getTripId == null) {
        </fieldset>
        }

    }
}