@(currentUser: femr.common.dto.CurrentUser, viewModel: femr.ui.models.admin.InventoryViewModelGet)

@import femr.ui.views.html.layouts.admin

    @additionalStyles = {
        <link rel="stylesheet" href="@routes.Assets.at("css/admin/inventory.css")">
    }
    @additionalScripts = {
        <script type = "text/javascript" src="@routes.Assets.at("js/admin/inventory.js")"></script>
    }


@admin("Inventory Tracking", currentUser, styles = additionalStyles, scripts = additionalScripts) {
    <div id="inputMedication">
        <div id="inputMedicationLeft">
            <div class="fieldMedication">
                <label for="nameInput">Name</label>
                <input type="text" class="fInput" id="nameInput" placeholder="name"/>
            </div>
            <div class="fieldMedication">
                <label for="amountInput">Quantity</label>
                <input type="number" class="fInput" id="amountInput" placeholder="quantity"/>
            </div>
            <div class="fieldMedication">
                <label for="formInput"></label>
                <select name="form" id="formInput">
                    <option>ONE</option>
                    <option>TWO</option>
                    <option>THREE</option>
                </select>
            </div>
        </div>
        <div id="inputMedicationRight">

            <div class="fieldMedication">
                <label>Ingredient</label>
                <input type="text" class="fInput" id="formInput" placeholder="ingredient"/>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">Heading</div>
                <div class="panel-body">
                    Content
                </div>
            </div>


        </div>
        <div class="fieldMedication">
            <button class="fButton" id="addMedToList">Add</button>
        </div>
    </div>

    <div id="currentMedication">
        <h3>Current Medications:</h3>
        <div id="currentMedicationsWrap">
            <table id="inventoryTable">
                <thead>
                    <th>Name</th>
                    <th>Total Quantity</th>
                    <th>Current Quantity</th>
                    <th>Remove</th>
                </thead>
                <tbody>
                @for(m <- 1 to viewModel.getMedications.size) {
                    <tr>
                        <td class="name">@viewModel.getMedications.get(m - 1).getName</td>
                        <td class="totalQuantity">@viewModel.getMedications.get(m - 1).getQuantity_total</td>
                        <td class="currentQuantity">@viewModel.getMedications.get(m - 1).getQuantity_current</td>
                        <td class="remove">
                            @*
                            @helper.form(action = InventoryController.indexPost(viewModel.getMedications.get(m - 1).getId)) {
                            <button type="submit" id="removeMed"> <span class="glyphicon glyphicon-minus">
                            @*<input type="text" value="@viewModel.getMedications.get(m - 1).getId" class="hidden"/>*@
                            @*</span></button>
                            } *@
                        </td>
                    </tr>
                }

                </tbody>

            </table>

        </div>

    </div>


}