@import femr.ui.controllers.admin.routes.InventoryController

<div id="inputMedication">
    <h4>Add Medication:</h4>
    <div id="fieldMedicationWrap">
        <div class="fieldMedication">
            <label>Name</label>
            <input type="text" class="fInput" id="nameInput" placeholder="name"/>
        </div>
        <div class="fieldMedication">
            <label>Amount</label>
            <input type="number" class="fInput" id="amountInput" placeholder="amount"/>
        </div>
        <div class="fieldMedication">
            <button class="fButton" id="addMedToList">Add</button>
        </div>
    </div>
</div>

<h4>Medications to be saved:</h4>
@helper.form(action = InventoryController.inventoryPost()) {
    <div id="listMedication">
        <ol>
            @*populated via js*@
        </ol>
    </div>
    <button type="button" class="fButton" id="cancelAllNewMeds">Cancel</button>
    <button type="submit" class="fButton" id="saveAllNewMeds">Save</button>
}