<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="assets/css/feedback.css">
    <title>Feedback</title>
  </head>
  <body>
    <div class="ifContainer">

      <h1>Give Feedback</h1>
      <p class="welcomeMessage">Thanks for choosing to give feedback to fEMR. Please be honest and as thorough as possible to make sure we are able to understand and implement your feedback appropriately.</p>
      <form action="">
        <textarea name="usrFeedback" id="usrFeedback" cols="50" rows="10"></textarea>

        <input type="button" value="Submit" id="feedbackSubmit">
      </form>

      <p id="disclaimer">Your feedback is completely anonymous and will only be used to produce a better fEMR product.</p>
    </div>
  </body>
</html>