@(currentUser: femr.common.dtos.CurrentUser, assets: AssetsFinder, successMessage: java.lang.String)

@import femr.ui.views.html.layouts.main
@import femr.ui.controllers.routes.FeedbackController


@additionalScripts = {
    <script defer>
            document.addEventListener('DOMContentLoaded', function(event) {
                let languageData;
                fetch('@routes.Assets.versioned("json/languages.json")')
                        .then(response => response.json())
                        .then(data => {
                            languageData = data;
                            try {
                                let languageCode = "@{currentUser.getLanguageCode()}";
                                updateLanguage(languageCode);
                            } catch (error) {
                                const languageCode = "en";
                                updateLanguage(languageCode);
                            }
                        });

                function updateTextContent(elementId, value) {
                    const element = document.getElementById(elementId);
                    if (element) {
                        element.textContent = value;
                    }
                }

                function updateLanguage(languageCode = "en") {
                    localStorage.setItem('languageCode', languageCode);
                    const language = languageCode;
                    updateTextContent("feedback_header", languageData[language].feedback_header);
                    updateTextContent("feedback_welcome_message", languageData[language].feedback_welcome_message);
                    updateTextContent("feedback_disclaimer", languageData[language].feedback_disclaimer);
                    updateTextContent("feedback_submit", languageData[language].feedback_submit);
                }
            });
    </script>
}

@additionalStyles = {
    <link rel="stylesheet" href="@assets.path("css/feedback.css")">
}

@main("Feedback", currentUser, styles = additionalStyles, scripts = additionalScripts, assets = assets) {
    <div class="ifContainer">
        <h2 id="feedback_header">Give Feedback</h2>
        <p class="welcomeMessage" id="feedback_welcome_message">Thanks for choosing to give feedback to fEMR. Please be honest and as thorough as possible to make sure we are able to understand and implement your feedback appropriately.</p>

        @helper.form(action = FeedbackController.indexPost()) {
            <textarea  class="fTextArea" name="feedbackMsg" id="usrFeedback" cols="50" rows="10" maxlength="10000" required></textarea>
            <button type="submit" class="fButton fSubmitButton" id="feedback_submit">Submit</button>
        }
        <span id="feedback_success_message">@successMessage</span>
        <p id="feedback_disclaimer">Your feedback is completely anonymous and will only be used to produce a better fEMR product.</p>
    </div>
}
