@import femr.ui.controllers.admin.routes.TripController

<div class="tripOptionsWrap">
    <a href="@TripController.manageGet()" class="fButton fOtherButton fAdminButton userBtns"><span class="glyphicon glyphicon-plus-sign"></span>
        Manage Trips</a>
    <a href="@TripController.teamsGet()" class="fButton fOtherButton fAdminButton userBtns"><span class="glyphicon glyphicon-plus-sign"></span>
        Manage Teams</a>
    <a href="@TripController.citiesGet()" class="fButton fOtherButton fAdminButton userBtns"><span class="glyphicon glyphicon-plus-sign"></span>
        Manage Cities</a>
</div>