@(title: String, currentUser: femr.business.dtos.CurrentUser,menu: Html = Html(""),
        styles: Html = Html(""), scripts: Html = Html(""),
        outsideContainerTop: Html = Html(""), outsideContainerBottom: Html = Html(""))(content: Html)

@import femr.ui.views.html.layouts.main
@import femr.ui.controllers.admin.routes.UsersController

@main(title, currentUser, styles, scripts, search = null, showSearchButton = false) {
    <div class="row">
        <div class="col-md-2 admin-left-panel">
            <div class="btn-group-vertical">
                <a href="@UsersController.index()" class="btn btn-default pull-left userBtns listUserBtn"><span class="glyphicon glyphicon-user"></span>
                    Manage Users</a>
                <a href="@UsersController.createGet()" class="btn btn-default pull-left userBtns"><span class="glyphicon glyphicon-plus-sign"></span>
                    Add User</a>
                @menu
            </div>

        </div>
        <div class="col-md-10 admin-right-panel">
        @content
        </div>
    </div>
}