/* this is the style sheet for the encounter class.  it adds on to the
  medical.css sheet by adding the pharmacy tab*/

#treatmentTab, #hpiTab, #pmhTab, #pharmacyTab {
    background-color: #dcdcdc;
    color: #626262;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#treatmentTab:hover, #hpiTab:hover, #pmhTab:hover, #pharmacyTab:hover {
    cursor: pointer;
}