body {
    padding-top: 50px;
    background: url("../img/paper_3.png") repeat;
}

hr {
    border-top: 1px solid black;
}

.nameSearchForm {
    width: 100%;
    margin-top: 10px;
}

.idSearchForm {
    margin-top: 10px;
    width: 100%;
}

.searchLabel {
    padding: 5px;
    margin-top: 6px;
    font-size: 25px;
}

.buttonSearchForm {
    margin-top: 10px;
    height: 34px;
}

.admin-left-panel {
    margin-top: 100px;
}

.admin-right-panel {
    margin-top: 100px;
}

.form-group-padding {
    padding-left: 5px;
}

.margin-top-zero {
    margin-top: 0;
}

.remove-padding {
    padding: 0 !important;
}
.width-100{
    width: 100%;
}
.width-50{
    width: 50%;
}

/* Bootstrap won't offset for xs columns, but i want to */
.col-xs-offset-4{
    margin-left: 33%;
}

/*Admin*/
.userBtns{
     margin: 5px !important;
 }
.listUserBtn{
    margin-top: 0px !important;
}