@font-face {
    font-family: "dejavu";
    src: url("../fonts/DejaVuSansCondensed.ttf");
}

body {
    padding-top: 50px;
    /*http://api.thumbr.it/whitenoise-361x370.png?background=a8a699ff&noise=626262&density=15&opacity=75*/
    background: url("../img/paper_greyNoise.png") repeat;
    font-family: dejavu;
}

hr {
    border-top: 1px solid black;
}

.nameSearchForm {
    width: 100%;
    margin-top: 10px;
}

.idSearchForm {
    margin-top: 10px;
    width: 100%;
}

.searchLabel {
    padding: 5px;
    margin-top: 6px;
    font-size: 25px;
}

.buttonSearchForm {
    margin-top: 10px;
    height: 34px;
}

.admin-left-panel {
    margin-top: 100px;
}

.admin-right-panel {
    margin-top: 100px;
}

.form-group-padding {
    padding-left: 5px;
}

.margin-top-zero {
    margin-top: 0;
}

.remove-padding {
    padding: 0 !important;
}
.width-100{
    width: 100%;
}
.width-50{
    width: 50%;
}

/* Bootstrap won't offset for xs columns, but i want to */
.col-xs-offset-4{
    margin-left: 33%;
}

/*Admin*/
.userBtns{
     margin: 5px !important;
 }
.listUserBtn{
    margin-top: 0px !important;
}


/* THE fEMR button! */
.fButton {
    background-color: #ffffff;
    color: black;
    border: 1px solid #3f3f3d;

    padding: 6px 12px;
    border-radius: 4px;
}

.fButton:hover {
    background-color: #e5e5e5;
    border: 1px solid #3f3f3d;
}
/* THE fEMR dropdown! */
.fOption{
    height: 33px;
    width: 175px;
}
/* THE fEMR textarea */
.fTextArea{
    width: 100%;
    height: 75px;
}
/* THE fEMR input(text)! */
.fInput{
    border-radius: 5px;
    height: 33px;
    width: 175px;
    border: 1px solid #ccc;
    padding: 5px 10px 5px 10px;
    background-color: white;
    color: #555;

}
.fInput:focus{
    box-shadow: 0 0 5px #3f3f3d
}
/* THE fEMR submit button! */
.fSubmitButton{
    background-color: #51a1ba;
}
/* THE fEMR patient history button! */
#historyButton:hover{
    cursor: pointer;
    text-decoration: none;
    color: black;
}
/* THE fEMR input(checkbox) */
.fCheckbox{
    padding: 20px;
}

/* The following 2 sections are used on both Medical and pharmacy */

#patientOverviewWrap span {
    padding: 4px;
}

#generalInfoWrap{
    overflow: hidden;
    text-align: center;
    margin-bottom: 15px;
}
/* Main section wrapper*/
#mainWrap {
    margin-top: 15px;
    overflow: hidden;
    padding: 10px;
    height: 100%;
}
/* Medical and Pharmacy landing pages */
.searchWrap{
    width: 300px;
    text-align: center;
    margin: 0 auto;
}
.searchWrap p{
    font-size: 20px;
}

/* fEMR's background with border */
.backgroundForWrap{
    border-radius: 10px;
    background: url("../img/paper_greyLightNoise.png") repeat;
    border: 3px solid #3f3f3d;
}