body {
  padding-top: 50px;
}

/*Triage Page*/
.medicalHistoryLineDivide{
    background: #000000;
    clear: both;
    float: none;
    width: 100%;
    height: 1px;
    margin: 0 0 1.4em;
    border: none;
}
.btn-group-wrap{
    text-align: center;
}
.temp{
    list-style-type: none;
}
.triageInputRow{
    font-size: 12px;
}
label{
    display: inline-block;
    float: left;
    clear: left;
    text-align: right;
    margin-right: 5px;
}
input{
    border: 1px solid #989898 !important;
}

input:focus {
    outline: none !important;
    border-color: #0033FF !important;
    box-shadow: 0 0 5px #9ecaed !important;
}