/*------------------------------------*\
    #History
\*------------------------------------*/

/*------------------------------------*\
    #History-Bootstrap Override
\*------------------------------------*/
#encounterViewHeader p, .encounterViewBodyHeader p {
    /*bootstrap override*/
    margin: 0;
}

/*------------------------------------*\
    #History-Encounter
\*------------------------------------*/

#encounterViewWrap {
    margin-top: 25px;
    overflow: hidden;
    padding: 20px;
}

#encounterViewHeader {
    overflow: hidden;
    padding: 20px;
}
#encounterViewHeader p{
    font-size: 28px;
    margin-top: 23px;
    margin-left: 100px;
}

#encounterViewHeader img{
    border: 1px solid black;
}

#encounterViewHeader img, h1 {
    float: left;
}

#encounterViewWrap {
    padding: 0 !important;
}

.encounterViewBodyHeader {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: grey;
    text-align: center;
    font-size: 22px;
}

.encounterViewBody {
    width: 100%;
    padding: 20px;
    overflow: hidden;
}

.encounterViewBody img {
    max-width: 760px;
    display: block;
    margin: 0 auto;
}

.imageDescription {
    text-align: center;
    font-size: 18px;
    font-style: italic;
}

.infoLabel {
    font-weight: bold;
}

.encounterViewBodyLeft {
    width: 33%;
    float: left;
    overflow: hidden;
}

.encounterViewBodyLeftHalf {
    width: 50%;
    float: left;
}

.encounterViewBodyMiddle {
    width: 33%;
    float: left;

}

.encounterViewBodyRight {
    width: 33%;
    float: left;

}

@media(max-width: 767px){
    .encounterViewBodyLeft, .encounterViewBodyMiddle, .encounterViewBodyRight{
        width: 60%;
        margin: 0 auto;
        border-bottom: 1px solid black;
        text-align: left;
        float: none;
    }
    .encounterViewBodyLeftHalf{
        width: 100%;
    }

}

@media(max-widtH: 995px){
    .encounterViewBody img {
        max-width: 400px;
    }

}

@media(max-width: 550px){
    .encounterViewBodyLeft, .encounterViewBodyMiddle, .encounterViewBodyRight{
        width: 100%;
    }
}



/*#encounterViewNavigation{*/
/*background-color: pink;*/
/*width: 15%;*/
/*float: left;*/
/*height: 800px;*/
/*}*/
/*#encounterViewInformation{*/
/*background-color: red;*/
/*width: 85%;*/
/*float: left;*/
/*height: 800px;*/
/*}*/

/*------------------------------------*\
    #History-Patient
\*------------------------------------*/

#viewPatientHeader {
    overflow: hidden;
    margin-bottom: 5px;
    border-bottom: 1px solid black;
}

#patientPhoto {
    float: left;
    width: 15%;

}

#patientInformation {
    float: left;
    width: 85%;
}

#viewPatientHeader img {
    border: 2px solid black;
    margin-bottom: 20px;
}

#viewPatientHeader h1 {
    margin-top: 30px;
}

.encounterInfoWrap {
    padding: 20px;
}

.medicalHistoryLineDivide {
    background: #000000;
    clear: both;
    float: none;
    width: 100%;
    height: 1px;
    margin: 0 0 2px;
    border: none;
}

.inputRow {
    font-size: 12px;
}

.inputLabel {
    display: inline-block;
    float: left;
    clear: left;
    text-align: right;
}

.encbtns {
    background: transparent;
    border: none !important;
}

.encbtns:hover {
    background-color: #E1DDCF;
}

#encounterAlert {
    margin-left: 40px;
}

/*------------------------------------*\
    #History-Bootstrap_Overrides
\*------------------------------------*/
.bold {
    font-weight: bold;
}







