/*------------------------------------*\
    #History
\*------------------------------------*/

/*------------------------------------*\
    #History-Bootstrap Override
\*------------------------------------*/
#encounterViewHeader p, .encounterViewBodyHeader p {
    /*bootstrap override*/
    margin: 0;
}

/*------------------------------------*\
    #History-Encounter
\*------------------------------------*/

#encounterViewWrap {
    margin-top: 25px;
    overflow: hidden;
    padding: 20px;
}

#encounterViewHeader {
    overflow: hidden;
    padding: 20px;
}
#encounterViewHeader p{
    font-size: 28px;
    margin-top: 23px;
    margin-left: 100px;
}

#encounterViewHeader img{
    border: 1px solid black;
}

#encounterViewHeader img, h1 {
    float: left;
}

#encounterViewWrap {
    padding: 0 !important;
}

.encounterViewBodyHeader {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: grey;
    text-align: center;
    font-size: 22px;
}

.encounterViewBody {
    padding: 20px;
    margin: 0 -15px;
}

.encounterViewBody:before, .encounterViewBody:after { /* Floated Column Clear Fix */
    content: '';
    display: table;
    clear: both;
}

.encounterViewBody img {
    max-width: 760px;
    display: block;
    margin: 0 auto;
}

.imageDescription {
    text-align: center;
    font-size: 18px;
    font-style: italic;
}

.infoLabel {
    font-weight: bold;
    Height: 30px;
    Width: 300px;
}
.infoLabel.nonEditable {
    color: inherit;
}
.infoLabel.nonEditable:hover {
    color: inherit;
    text-decoration: inherit;
}

.encounterViewBodyLeft {
    width: 33%;
    float: left;
    overflow: hidden;
    padding: 0 15px;
}

.encounterViewBodyLeftHalf {
    width: 50%;
    float: left;
    padding: 0 15px;
}

.encounterViewBodyMiddle {
    width: 33%;
    float: left;
    padding: 0 15px;
}

.encounterViewBodyRight {
    width: 33%;
    float: left;
    padding: 0 15px;
}

@media(max-width: 767px){
    .encounterViewBodyLeft, .encounterViewBodyMiddle, .encounterViewBodyRight{
        width: 100%;
        margin: 0 auto 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid #343434;
        text-align: left;
        float: none;
    }
    .encounterViewBodyLeftHalf{
        width: 100%;
    }

}

@media(max-widtH: 995px){
    .encounterViewBody img {
        max-width: 400px;
    }

}

@media(max-width: 700px){
    #patientInformation h1{
        float: right;
        margin-top: 0 !important;
        width: 100%;
        text-align: right;
    }
    #patientInformation form{
        overflow: hidden;
        float: right;
        margin: 0 !important;
    }
}

@media(max-width: 608px){
    h3{
        font-size: 16px;
    }
}

@media(max-width: 550px){
    .encounterViewBodyLeft, .encounterViewBodyMiddle, .encounterViewBodyRight{
        width: 100%;
    }
}

@media(max-width: 390px){
    #patientPhoto, #patientInformation{
        width: 100% !important;
    }
    #patientInformation h1{
        float: left;
        text-align: left;
    }
    #patientInformation form{
        float: left;
    }
}



/*#encounterViewNavigation{*/
/*background-color: pink;*/
/*width: 15%;*/
/*float: left;*/
/*height: 800px;*/
/*}*/
/*#encounterViewInformation{*/
/*background-color: red;*/
/*width: 85%;*/
/*float: left;*/
/*height: 800px;*/
/*}*/

/*------------------------------------*\
    #History-Patient
\*------------------------------------*/

#viewPatientHeader {
    overflow: hidden;
    margin-bottom: 5px;
    border-bottom: 1px solid black;
}

#patientPhoto {
    float: left;
    width: 15%;

}

#patientInformation {
    float: left;
    width: 85%;
}

#viewPatientHeader img {
    border: 2px solid black;
    margin-bottom: 20px;
}

#viewPatientHeader h1 {
    margin-top: 30px;
}

.encounterInfoWrap {
    padding: 20px;
}

.medicalHistoryLineDivide {
    background: #000000;
    clear: both;
    float: none;
    width: 100%;
    height: 1px;
    margin: 0 0 2px;
    border: none;
}

.inputRow {
    font-size: 12px;
}
.submit {
    margin-top: 15px;
    margin-bottom: 5px;
    overflow: hidden;
}

.inputLabel {
    display: inline-block;
    float: left;
    clear: left;
    text-align: right;
}

.encbtns {
    background: transparent;
    border: none !important;
}

.encbtns:hover {
    background-color: #E1DDCF;
}

#encounterAlert {
    margin-left: 40px;
}

/*------------------------------------*\
    #History-Bootstrap_Overrides
\*------------------------------------*/
.bold {
    font-weight: bold;
}

#edit-form{

    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 350px;
    margin-left: -250px;
    margin-top: -150px;
    border: 1px solid #ccc;
    padding: 15px;
    background-color: gray;

}

.form-history{
    max-height: 200px;
    overflow-y: auto;
    background-color: #ffffff;
    margin-top: 10px;

}
.form-history table{
    width: 100%;
}
#edit-form input[type="text"] {

    margin-bottom: 10px;
    display: inline-block;
    whitespace: nowrap;

}
.activeDrug {
    display: list-item;
    list-style-type: square;
    margin-left: 175px;
    font-size: 10px;
    font-style: italic;

}

/*Dispensed Meds Table*/
#medTable{
    border: 1px solid #ddd;
    width: 95%;
}
#medTable ul{
    list-style-type: none;
}
#medTable th{
    border: 1px solid #ddd;
    font-size: 14px;
    text-align: center;
    padding: 5px;
}
#medTable td{
    padding: 5px;
    border: 1px solid #ddd;
    font-size: 12px;
}
#medTable ul{
    padding: 0;
}

.prescription-row{
    padding-bottom: 10px;
    margin-bottom: 5px;
    border-bottom: 1px solid #999;
    font-size: 11px;
}

.prescription-row .prescription-id{
    font-size: .8em;
    display: block;
    color: #666;
}

.prescription-row .alert{
    border: 2px solid #efe24b;
    background-color: rgba(239, 226, 75, 0.5);
    border-radius: 6px;
    font-size: .8em;
    margin: 15px 0 10px;
    padding: .8em;
}

@media (max-width: 767px){
    .prescription-row:last-child{
        border: 0;
    }
}

.delete-encounter{
    float:right;
}


