
input, textarea {
    border-style: ridge;
    background: #32313b !important;
    background-repeat: repeat;
    margin: 1px 1px 1px 5px;
    color: white !important;

}
label{
    color: #39b1c6;
}

#hpiControl{
    border: 1px solid black;
    border-top: none;
}

/* General page styles */
#generalInfoWrap {
    background-color: #25242c;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    /*border: 1px solid #b1aaa0;*/
}

#generalInfoWrap span {
    padding: 5px;

}

#mainWrap {

}

#vitalsWrap {
    /*border-right: 1px solid #b1aaa0;*/
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

#vitalMainWrap {
    background-color: #25242c;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom: 1px solid #b1aaa0;
    border-right: 1px solid #b1aaa0;
    border-left: 1px solid #b1aaa0;

}

/* Add subtract button for problems and prescriptions */
.addSubtractBtn {
    float: left;
    border: 1px solid #4577d4;
    background-color: #e1e8f6;
}

/* Patient History button */
#historyButtonWrap {
    margin-top: 10px;
    width: 175px;
}

#historyButtonWrap a {
    background-color: #32313b;
    color: deeppink;
    border-color: black;
}
#historyButtonWrap a:hover{
    background-color: #be5c50;
}

#resetVitalsBtn {
    background-color: #c9776d;
}

#medicalSubmitBtn {
    background-color: #32313b;
    color: deeppink;
    border-color: black;
}

/* Tabs for HPI, Treatment, PMH, etc.. */
#medicalTabs {
    margin: 0;
    padding: 15px 0 0 0;
    float: left;
    width: 100%;
    border-bottom: 1px solid #222222;
}

#medicalTabs li {
    display: inline;
    padding: 0;
    margin: 0;

}

#medicalTabs li.active a {
    background: #222222;
}

#medicalTabs li:first-child a {
    /* first-child not supported in IE, but who cares */

    margin-left: 0;
}

#medicalTabs a:link,
#medicalTabs a:visited {
    margin-left: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    /*border: 1px solid #5fb9c4;*/
    border: 1px solid black;
    border-bottom: none;
    color: #000;
    background: #222222;
    padding: 10px 25px 10px 25px;
    float: left;
    width: auto;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}

#medicalTabs a:hover,
#medicalTabs a:focus {
    color: #000;
    background: #6dbfc9;
}
