#myTab {
    font-size: 25px;
}

.active>a {
    background-color: #F0EAD6;
}

#treatmentTab, #hpiTab, #pmhTab {
    background-color: #dcdcdc;
    color: #626262;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#treatmentTab:hover, #hpiTab:hover, #pmhTab:hover {
    cursor: pointer;
}

.active {
    border-top: 2px solid #939393;
    border-left: 2px solid #939393;
    border-right: 2px solid #939393;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.addSubtractBtn {
    float: left;
    border: 1px solid #d8d2c0;
}

.nav-tabs {
    /*bootstrap override*/
    border-bottom: 2px solid #939393 !important;
}

.nav-tabs > li.active > a {
    /*bootstrap override*/
    color: black !important;
}

.nav-tabs > li {
    /*bootstrap override*/
    margin-bottom: -2px !important;
}

.nav-tabs > li > a {
    /*bootstrap override*/
    margin-right: 0px !important;
}