#myTab {
    font-size: 25px;
}

.active>a {
    background-color: #b7c9ea;
}

.active {
    background-color: #b7c9ea;
}

.addSubtractBtn {
    float: left;
    border: 1px solid #4577d4;
    background-color: #e1e8f6;
}

.nav-tabs {
    /*bootstrap override*/
    border-bottom: 2px solid #7c9fe0 !important;
}

.nav-tabs > li.active > a {
    /*bootstrap override*/
    color: black !important;
    background-color: #b7c9ea;
    border: none;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.nav-tabs > li {
    /*bootstrap override*/
    margin-bottom: -2px !important;
    border-top: 2px solid #7c9fe0;
    border-left: 2px solid #7c9fe0;
    border-right: 2px solid #7c9fe0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-right: 9px;

}

.nav-tabs > li > a {
    /*bootstrap override*/
    margin-right: 0px !important;
    color: #052a6e;
    border: none;


    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    width: inherit !important;

}
.nav-tabs > li > a:hover{
    background-color: #b7c9ea !important;
    cursor: pointer;
    border: none !important;
}
#historyButtonWrap{
    margin-top: 10px;
    width: 175px;
}