/* General page styles */
#mainWrap form {
    overflow: hidden;
}

#diagnosisWrap {
    width: 30%;
    float: left;
    padding: 5px;

}

#medicationWrap {
    width: 70%;
    float: left;
    padding: 5px;
    border-left: 1px solid #b2b2b0;
}

#medicationList {
    padding-left: 80px;
}

.prescription {
    padding: 15px;
    border-bottom: 1px solid #b2b2b0;
}

.prescription button {
    position: absolute;
    margin-left: -80px;
    margin-top: -6px;
}

.replacement{

    padding-top: 15px;
}



/* Override the overflow style so the user can see the full drop down
 in medication typeahead list*/
#mainWrap {
    min-height: 300px;
}

.problems li {
    font-size: 15px;
    margin-bottom: 35px;
}

@media (max-width: 620px) {
    #diagnosisWrap {
        width: 100%;
    }

    #medicationWrap {
        width: 100%;
        border-left: none;
    }
}

@media (max-width: 500px) {
    #disclaimerWrap label{
        max-width: 300px;
    }
}

@media (max-width: 400px){
    #disclaimerWrap label{
        max-width: 150px;
    }
}

/*typeahead           */

input[style] {
    vertical-align: middle !important;
}

.twitter-typeahead .tt-hint {
    height: 34px;
    padding: 6px 9px;
    font-size: 14px;
}

.twitter-typeahead .hint-small {
    height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 3px;
    line-height: 1.5;
}

.twitter-typeahead .hint-large {
    height: 45px;
    padding: 10px 16px;
    font-size: 18px;
    border-radius: 6px;
    line-height: 1.33;
}

.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
    margin-bottom: 0;
}

.tt-dropdown-menu {
    font-size: 16px;
    min-width: 160px;
    margin-top: 2px;
    padding: 5px 0;
    background-color: #fff;
    *border-right-width: 2px;
    *border-bottom-width: 2px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    position: relative !important;
}

.tt-suggestion {
    display: block;
    padding: 3px 20px;
}

.tt-suggestion.tt-is-under-cursor {
    color: #fff;
    background-color: #0081c2;
    background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
    background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
    background-image: -o-linear-gradient(top, #0088cc, #0077b3);
    background-image: linear-gradient(to bottom, #0088cc, #0077b3);
    background-repeat: repeat-x;

}

.tt-suggestion.tt-is-under-cursor a {
    color: #fff;
}

.tt-suggestion p {
    margin: 0;
}

.replaceBtn {
    width: auto !important;
    padding: 6px 12px 6px 12px;

}

#disclaimerWrap {
    float: right;
    width: 100%;
}

#disclaimerWrap label {
    font-size: 10px;
    float: right;
    margin-top: 5px;
}

#disclaimerWrap input {
    float: right;
    -ms-transform: scale(1.5); /* IE */
    -moz-transform: scale(1.5); /* FF */
    -webkit-transform: scale(1.5); /* Safari and Chrome */
    -o-transform: scale(1.5); /* Opera */
    padding: 10px;
    margin: 5px;
}

#submitWrap {
    width: 100%;
    float: right;
}

#prescriber{
    font-size: 10px;
}



.medicationRemaining {
    font-size: 10px;
}
.lowMedication {
    color: #FF0000;
    font-size: 10px;
    font-weight: bold;
}

.medication_ingredient {
    font-size: 8px;
    padding-left: 5px;
}

.pastNotes{
    font-style: italic;
    font-size: 13px;
}

.noteTable{
    width: 100%;
}

table.noteTable td, th, tr {
    border: 1px solid black;
}
