.medicationContainer{
    border-left: 1px solid black;
}

.add-margin{
    margin-bottom: 20px;
}

.problems li{
    font-size: 15px;
    margin-bottom: 20px;
}
.title{
    font-size: 24px;
    font-weight: lighter;
    margin-bottom: 15px;
}

.smallTitle{
    font-size: 20px;
    font-weight: lighter;
    margin-bottom: 15px;
}