/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
    display: none;
}

@media (min-width: 768px) {

    .sidebar {
        position: fixed;
        top: 50px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        background-color: #000;
        border-right: 1px solid #6f6f6f;
    }
}

/* Sidebar navigation */
.nav-sidebar {
    margin-right: -20px;
    margin-bottom: 20px;
    margin-left: -20px;
    border-top: 1px solid #6f6f6f;
}
.nav-sidebar li.menu-item {
    position: relative;
    border-bottom: 1px solid #6f6f6f;
}
.nav-sidebar li.controls{

    border: none;
    padding: 10px;
    color: #d2c9ba;
    border-bottom: 1px solid #6f6f6f;
}

.nav-sidebar li.controls label{

    font-weight: normal;
    color: #cccccc;
}

.nav-sidebar li.controls span.group{

    display: block;
    white-space: nowrap;
    padding: 0;
}

.nav-sidebar li.controls span.group input[type="checkbox"]{

    margin-right: 8px;
}

.nav-sidebar li.controls span.group input[type="text"]{

    display: inline;
    width: 30px;
    text-align: center;
    margin-left: 2px;
}

.nav-sidebar li.controls span.filter{

    display: block;
    white-space: nowrap;
    margin-bottom: 10px;
}

.nav-sidebar li.controls span.filter .glyphicon-remove {

    cursor: pointer;
    color: #BB1D1D;
}

.nav-sidebar li.controls span.filter label{

    display: block;
    width: 100%;
}

.nav-sidebar li.controls span.filter input[type="text"]{

    width: 50px;
}

.nav-sidebar li.controls span.filter input#rangeStart{

    margin-left: 5px;
}

.nav-sidebar li.controls span.medication{

    display: block;
    white-space: nowrap;
    margin-bottom: 15px;
}

.nav-sidebar li.controls span.medication label{

    display: block;
    width: 100%;
}

.nav-sidebar li.controls span.medication input[type="text"]{

    width: 100%;
}

/*Andrew Trip Filter*/
.nav-sidebar li.controls span.medication select{

    display: block;
    clear: both;
    margin-left: 1px;
    width: 100%;
}

.nav-sidebar li.submit{

    padding: 20px 10px;
    overflow: auto;
}

.nav-sidebar li.export{

    padding: 10px 10px 0px 10px;
}

.nav-sidebar li.submit input.clear{

    background-color: #ccc;
    color: #333;
    padding: 3px 8px;
    font-size: 1.1em;
}
.nav-sidebar li.submit input.clear:hover {

    background-color: #9f9f9f;
}
.nav-sidebar li.submit input.submit{

    background-color: rgb(44, 158, 255);
    color: #ffffff;
    padding: 3px 8px;
    font-size: 1.1em;
}

.nav-sidebar li.submit input.submit:hover{

    background-color: rgb(17, 106, 181);
}

.nav-sidebar li.export input.export{

    width: 100%;
    background-color: #ccc;
    color: #333;
    padding: 3px 8px;
    font-size: 1.1em;
}

.nav-sidebar li.menu-item .val{

    position: absolute;
    bottom: 0.3em;
    left: 10px;
    color: #7f7f7f;
    display: block;
    font-size: .9em;
}

.nav-sidebar li.menu-item .glyphicon{

    position: absolute;
    top: 50%;
    right: 8px;
    color: #6f6f6f;
    font-size: 14px;
    line-height: 20px;
    margin-top: -10px;
}

.nav-sidebar li.menu-item > a {

    padding: 0.5em 10px 1.6em;
    color: #ccc;
}
.nav-sidebar li.menu-item > a.noval{

    padding-bottom: 0.5em;
}


.nav-sidebar li.menu-item > a:hover{

    cursor: pointer;
    background-color: #000;
    color: #ccc;
}


.nav-sidebar > li.active > a,
.nav-sidebar > li.active > a:hover,
.nav-sidebar > li.active > a:focus{

    background-color: #333333;
    color: #fff;
    cursor: pointer;
}
.nav-sidebar li.menu-item span:hover{
    cursor: pointer;
}
.nav-sidebar .submenu{

    background-color: black;
    position: absolute;
    left: 100%;
    top: 0;
    display: none;
    padding: 0;
    margin: 0 0 0 1px;
    min-width: 160px;
    list-style: none;
}

.nav-sidebar .submenu.active{

    display: block;
}
.nav-sidebar .submenu li{

    color: #ffffff;
}
.nav-sidebar .submenu li a{

    display: block;
    white-space: nowrap;
    padding: 3px 20px;
    color: #cfcfcf;
}
.nav-sidebar .submenu li a:hover {

    text-decoration: none;
    background-color: #333333;
    color: #fff;
    cursor: pointer;
}
.nav-sidebar .submenu li a.disabled {

    color: #333333;
}
.nav-sidebar .submenu li a.disabled:hover{

    background-color: transparent;
    color: #333333;
}
.nav-sidebar .submenu li a.clear{

    border-top: 1px solid #4f4f4f;
    border-bottom: 1px solid #4f4f4f;
    position: relative;
    color: #ffffff;
}
.nav-sidebar .submenu li a.clear .glyphicon{

    position: relative;;
    float: left;
    top: auto;
    right: auto;
    margin: -1px 5px 0 0;
    color: #BB1D1D;
}
.nav-sidebar .submenu li.title{

    background-color: #1f1f1f;
    border-top: 1px solid #4f4f4f;
    border-bottom: 1px solid #4f4f4f;
    padding: 5px 10px;
}

/*
.nav-sidebar .submenu li #save{

    background-color: #1f1f1f;
    border-top: 1px solid #4f4f4f;
    border-bottom: 1px solid #4f4f4f;
    padding: 5px 10px;
}
*/

#gfilter-menu .submenu{

    padding-bottom: 10px;
}

#gfilter-menu .submenu li{

    padding: 10px 30px;
}

#filter-errors{

    margin-right: -10px;
    margin-bottom: 10px;
    margin-left: -10px;

}

#filter-errors ul{

    margin: 0;
    padding: 0;
    list-style: none;
}

#filter-errors ul li {

    list-style: none;
    font-size: 0.9em;
    color: #BB1D1D;
}

/*
 * Main content
 */

.main {
    padding: 20px 10px;
}

.main .page-header {
    margin-top: 0;
}

/* Table Styles */

#table-container{


}

.table{

    width: auto;
}

.table td{

    background-color: #fff;
    border-right: 1px solid #dddddd;
}

.table th{

    background-color: #ccc;
    color: #000;
}


.legend-bg{

    background-color: #efefef;
}

.chart-container{

    background-color: #fff;
    box-shadow: 1px 2px 8px #333;
    position: relative;
}

.chart-container .loading{

    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -16px;
    margin-top: -16px;
}

.save-image-cont{

    float: right;
    margin-right: 1em;
}

.save-image-cont .options{

    display: none;
    position: absolute;
    top: 50%;
    left: 50%;

    margin-left: -200px;
    margin-top: -60px;

    width: 400px;
    height: 120px;
    background: #6f6f6f;
    border: 1px solid #9f9f9f;
    padding: 10px;
    box-shadow: 1px 1px 5px #333333;
}

.save-image-cont .options .close{

    position: absolute;
    top: 0px;
    right: 5px;
    opacity: 1;
}

.save-image-cont .options .close span{

    font-size: 12px;
    color: #BB1D1D;
    cursor: pointer;
}

.save-image-cont .options p{

    color: #ffffff;
    font-size: 1.2em;
    margin-bottom: 18px;
}

.save-image-cont .options a.image-size-selection{

    color: #000000;
    background-color: #efefef;
    display: block;
    float: left;
    margin-left: 20px;
    border-radius: 4px;
    border: 1px solid #9f9f9f;
    padding: 5px 12px;
    text-align: center;
}

.save-image-cont .options a.image-size-selection:hover{

    text-decoration: none;
}



/* Graph Styles */

.graph-instructions{

    padding: 1em;
}

.graph-area{

    display: none;
}

#legend{

    width: 200px;
    height: 300px;
    overflow: auto;
    display: none;
}

.graph-header{

    padding: 1em;
    background-color: #fff;
    margin-bottom: 1em;
    overflow: hidden;
}

.graph-header .stat{

    font-size: 1.1em;
    margin: 0 0 5px 0;
    display: none;
}

.graph-header #totalPatients{

     display: block;
}

.graph-header #totalEncounters{

    display: block;
}

.chart{

    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    background-color: #ffffff;
    width: 100%;
}

.d3-tip {
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #d2c9ba;
    border-radius: 2px;
}

.d3-tip span{

    color: #ffffff;
}

.d3-tip span.name{

   display: block;
   text-align: center;
   margin-bottom: 8px;
    font-size: 1.2em;
}

.d3-tip span.val{

    display: block;

}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
}



*[data-labelbg=true] {filter:url(#bg-color)}

.label-text {
    alignment-baseline: middle;
    font-size: 14px;
    fill: #ffffff;
    font-weight: 300;
    padding: 5px;
}
.label-line {
    stroke-width: 1;
    stroke: #4f4f4f;
}
.label-circle {
    fill: #4f4f4f;
}

.label_group .label{

    display: none;
}

.legend .item{

    cursor: pointer;
}

.legend text {

    font-size: 12px;
    font-weight: bold;
    shape-rendering: crispEdges;
}

/* Bar Chart */

.bar {
    fill: #4682B4;
}

.bar:hover {
    fill: #386284;
}

/* Line Chart */

.line {
    fill: none;
    stroke: #4682B4;
    stroke-width: 1.5px;
}

.overlay {
    fill: none;
    pointer-events: all;
}

.focus {
    fill: #ffffff;
}

.focus circle {
    fill: red;
    stroke: #3f3f3f;
}

.focus text{

    font-size: 16px;
    fill: #2f2f2f;
}

/*  Scatter Plot */

.dot {
    fill: #4682B4;
    stroke: #3f3f3f;
    cursor: pointer;
}

.dot:hover{

    fill: red;
}

/* Axis */

.axis text {
    font-size: 10px;
}

@media (min-width: 992px){

    .axis text {
        font-size: 12px;
    }
}



.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.axis text.title{

    font-size: 14px;
    font-weight: bold;
    shape-rendering: crispEdges;
}

#svgdataurl{ display: none; }
#pngdataurl{ display: none; }


footer p{

    text-align: right;
}
input[type="date"] {
    position: relative;
    width: 150px;
    height: 25px;
    color: white;
}

input[type="date"]:before {
    position: absolute;
    top: 3px; left: 3px;
    content: attr(data-date);
    display: inline-block;
    color: black;
}

input[type="date"]::-webkit-datetime-edit, input[type="date"]::-webkit-inner-spin-button, input[type="date"]::-webkit-clear-button {
    display: none;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    top: 3px;
    right: 0;
    color: black;
    opacity: 1;
}
