/*Search Page*/
.medicalHistoryLineDivide{
    background: #000000;
    clear: both;
    float: none;
    width: 100%;
    height: 1px;
    margin: 0 0 2px;
    border: none;
}

.inputRow{
    font-size: 12px;
}
.inputLabel{
    display: inline-block;
    float: left;
    clear: left;
    text-align: right;
}
.btn{
    background: transparent;
    border: none !important;
}
.btn:hover{
    background-color: #E1DDCF;
}
/*Boot strap overrides*/
.bold{
    font-weight: bold;
}