/*Search Page*/
.medicalHistoryLineDivide{
    background: #000000;
    clear: both;
    float: none;
    width: 100%;
    height: 1px;
    margin: 0 0 2px;
    border: none;
}
p {
    word-break: normal;
    white-space: normal;
}
.inputRow{
    font-size: 12px;
}
.inputLabel{
    display: inline-block;
    float: left;
    clear: left;
    text-align: right;
}
.encbtns{
    background: transparent;
    border: none !important;
}
.encbtns:hover{
    background-color: #E1DDCF;
}
#encounterAlert{
    margin-left: 40px;
}



/*Boot strap overrides*/
.bold{
    font-weight: bold;
}

#listElement {
    font-size: 15px;
}
