


#viewPatientHeader{
    overflow: hidden;
    margin-bottom: 5px;
    border-bottom: 1px solid black;
}
#patientPhoto{
    float: left;
    width: 15%;

}
#patientInformation{
    float: left;
    width: 85%;
}
#patientInformation button{


}


#viewPatientHeader img{
    border: 2px solid black;
    margin-bottom: 20px;
}

#viewPatientHeader h1{

    margin-top: 30px;
}




/*Encounter stuff*/
#patientHistoryWrap{
    height: 100%;
}







/*Patient stuff and unknown*/


/*Search Page*/
.medicalHistoryLineDivide{
    background: #000000;
    clear: both;
    float: none;
    width: 100%;
    height: 1px;
    margin: 0 0 2px;
    border: none;
}
p {
    word-break: normal;
    white-space: normal;
}
.inputRow{
    font-size: 12px;
}
.inputLabel{
    display: inline-block;
    float: left;
    clear: left;
    text-align: right;
}
.encbtns{
    background: transparent;
    border: none !important;
}
.encbtns:hover{
    background-color: #E1DDCF;
}
#encounterAlert{
    margin-left: 40px;
}

/*Boot strap overrides*/
.bold{
    font-weight: bold;
}

#listElement {
    font-size: 15px;
}


/* background */
.encounterInfoWrap{
    padding: 20px;
}

#vitalWrap{
    min-height: 500px;
}





/*Tabs*/
.tabWrap {
    float: left;
    width: 100%;
}

#encounterTabs {
    margin-bottom: 0;
    padding: 15px 0 0 0;
    overflow: hidden;
    width: 100%;
    border-bottom: 1px solid #b2b2b0;
}


#encounterTabs li {
    display: inline;
    padding: 0;
    margin: 0;

}

#encounterTabs li.active a {
    background: url("../img/paper_greyLightNoise.png") repeat;
}

#encounterTabs li:first-child a {
    /* first-child not supported in IE, but who cares */
    margin-left: 0;
}

#encounterTabs a:link,
#encounterTabs a:visited {

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 1px solid #b2b2b0;
    border-bottom: none;
    margin-left: 5px;
    color: #000;
    background: #d4d3cc;
    padding: 10px 20px 5px 20px;
    float: left;
    width: auto;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}

#encounterTabs a:hover,
#encounterTabs a:focus {
    color: #000;
    background: url("../img/paper_greyLightNoise.png") repeat;
}

.searchThumb {
    width: 80px;
    height: 80px;
}

.table tbody>tr>td.vert-align
{
    vertical-align: middle;
}
/* CUSTOM TABS */
.customWrap{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.customLeft{
    width: 50%;
    float: left;
}
.customRight{
    width: 50%;
    float: left;
}
.customBottom{
    width: 100%;
    float: left;
}
/* Dynamic shit */
.customWrap label{
    display: inline-block;
    width: 150px;
    text-align: left;
}