#generalInfo {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    column-gap: 10px;
    padding: 20px;
}

#nameWrap {
    display: flex;
    justify-content: flex-start;
    column-gap: 10px;
}



#vitalsWrap {
    float: left;
    display: inline;
}

#leftVitalsWrap {
    width: 50%;
    float: left;
}

#rightVitalsWrap {
    width: 50%;
    float: left;
}

#dropDownWrap {
    flex-grow: 1;
    margin-top: 25px;
}

#dropdownTopHalf {
    margin-top: 10px;
    display: flex;
    flex-basis: auto;
    flex-wrap: wrap;
    justify-content: flex-start;
    column-gap: 10px;
}

#dropdownBottomHalf {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

#bodyChartContent {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    column-gap: 10px;
    padding: 20px;
    margin-top: 20px;
}


/* Problem card CSS */

.scrollableContainer {
    background-color: var(--background-color);
    box-sizing: content-box;
    width: inherit;
    height: 500px;
    overflow: scroll;
    padding: 20px;
    box-sizing: border-box;
    border: 3px solid var(--background-color);
}

.sideBySideFlex{
    display: flex;
}

.problemCard {
    margin-bottom: 7px;
    position: inherit;
    padding: 10px;
    background-color: white;
    border-radius: 0.5em;
    color: #494949;
    flex-direction: column;
}

.problemNumber {
    background: var(--interactive-color);
    border-radius: 10em;
    width: 30px;
    height: 30px;
    align-content: center;
    vertical-align: center;
    text-align: center;
    margin-right: 5px;
    font-size: 20px;

}

.problemCardButton {
    background: var(--interactive-color);
    border-radius: 4px;
    width: 30px;
    height: 30px;
    align-content: center;
    margin-left: 10px;
}

#photoInput {
    min-width: 225px;
}

.btn-default {
    min-width: 175px;
    text-align: left;
    float-wrap: none;
}

#form{
    text-align: right;
}

#button {
    background-color: #ad0000;
    border: 1px solid #3f3f3d;
}

/* Referenced by konvaDraw.js */
#diagramContainer {
    border: 6px solid transparent;
    background-color: white;
    border-radius: 10px;
}

.doubleVital {
    overflow: hidden;
}

.doubleVital input {
    margin-bottom: 1px;
}


#nameOrIdSearchForm {
    display: inline;
}

#searchContainer {
    position: absolute;
    right: 12%;
}

.submitResetWrap {
    position: center;
    margin-bottom: 75px;
}





/* Vitals Table CSS */

vitalsTable {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: gray;
}
vitalsTable vCol {
    display: table-cell;
    vertical-align: inherit;
    border-color: inherit;
}
vitalsTable vCol vCell {
    display: block;
    vertical-align: inherit;
}


/* Additional genInfo expansion CSS */
.expandableInfoContainer{
    width : 100%;
    margin-top: -30px;
}
.slide {
    clear:both;
    width:inherit;
    height:0;
    overflow: auto;
    text-align: left;
    transition: height .4s ease;
}
.slide li {padding : 10px;}

.expandableTrigger {
    cursor:pointer;
    height: 30px;
    width: 170px;
    margin-left: 15px;
    padding: 5px 0 0 15px;
    background: #d9dade;
    border-radius: 0 0 15px 15px;
    color: #6D6D6D;
    font-weight: normal;
}

.expandableTrigger:hover {
    background: var(--input-focus-color);
    color: white;
}
#additionalInfo {
    position: absolute;
    opacity: 0;
    height: 0;}

#additionalInfo:checked + .slide {height: 500px;}


/* THE fEMR input-checkbox (should be moved to femr.css after approval) */
label[type="fCheckbox"]{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: normal;
    height: 0;
    margin: 5px;
}
input[type="checkbox"] {
    position: relative !important;
    appearance: none;
    margin: 5px;
}
input[type="checkbox"]:focus {
    outline: none;
}

input[type="checkbox"]::before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    background-color: var(--interactive-color);
}
input[type="checkbox"]:checked::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 9.6px;
    height: 16px;
    animation: toggleOnCheckbox 0.2s ease forwards;
}
input[type="checkbox"].filled:checked::before {
    background-color: var(--input-focus-color);
}
input[type="checkbox"].filled:checked::after {
    box-shadow: 4px 4px 0 0 white;
}
@keyframes toggleOnCheckbox {
    0% { opacity: 0; transform: translate(-50%, -85%) scale(0) rotate(45deg); }
    70% { opacity: 1; transform: translate(-50%, -85%) scale(0.9) rotate(45deg); }
    100% { transform: translate(-50%, -85%) scale(0.8) rotate(45deg); }
}


/* THE fEMR input-radio list (should be moved to femr.css after approval) */
input[type="radio"] {
    position: relative !important;
    transform: translate3D(0px, 4.5px, 0px);
    margin: -4.5px 3px 0 0;
    appearance: none;
}
input[type="radio"]:focus {
    outline: none;
}
input[type="radio"]::before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    border: 2px solid var(--interactive-color);
    background-color: var(--interactive-color);
    border-radius: 100vh;
}
input[type="radio"]:checked::before {
    border-color: var(--input-focus-color);
}
input[type="radio"]::after {
    content: '';
    position: absolute;
    background-color: var(--input-focus-color);
    width: 16px;
    height: 16px;
    border-radius: 100vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
}
input[type="radio"]:checked::after {
    animation: toggleOnRadio 0.2s ease forwards;
}
@keyframes toggleOnRadio {
    0% { opacity: 0; transform: translate(-50%, -50%) scale(0); }
    70% { opacity: 1; transform: translate(-50%, -50%) scale(0.9); }
    100% { transform: translate(-50%, -50%) scale(0.8); }
}

/* Vitals Table CSS */
#vitalTable{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#vitalTable td, #vitalTable th {
    border: 1px solid #ddd;
    padding: 8px;
}

#vitalTable tr:nth-child(even){background-color: #f2f2f2;}

#vitalTable tr:hover {background-color: #ddd;}

#vitalTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}



/*  Severity buttons  */
.sevBtn {
    padding: 12px 22px;
    margin: 0 2px;
    cursor: pointer;
    outline: none;
    border-radius: 5px;
    border: none;
    vertical-align: middle;
}

.active, .sevBtn:hover {
    border: dodgerblue solid 2px;
}

#severityColor {
    margin: 4px 0;
}











#vitalsTable {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#vitalsTable td, #vitalsTable th {
    border: 1px solid #ddd;
    padding: 2px;
}

#vitalsTable tr:nth-child(even){background-color: #f2f2f2;}

#vitalsTable tr:hover {background-color: #ddd;}

#vitalsTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: var(--interactive-color);
    color: #55555b;
}


