/*Triage Page*/
.stackedInput {
  margin-top: 15px!important;
}
.textAreaLabel {
  margin-top: 25px!important;
}
.floatButtonOffset {
  margin-left: 10px;
}
.medicalHistoryLineDivide {
  background: #000000;
  clear: both;
  float: none;
  width: 100%;
  height: 1px;
  margin: 0 0 2px;
  border: none;
}

#errorMessageDecimal{
    color: red;
}

#errorMessageHeight{
    color: red;
}

#pregnancyBtn{
    margin-top: -6px;
}
#patientHistoryColumn{
    margin-left: 122px;
}

/*Boot strap overrides*/
.clear-none {
  clear: none !important;
}

.patientMedicalHistory {
  padding-bottom: 4px !important;
  margin-bottom: 4px !important;
}

.padding-right-zero {
  padding-right: 0 !important;
}

.padding-left-zero {
  padding-left: 0 !important;
}

.bold {
  font-weight: bold;
}

.red {
    color:red;
}