
/* General Page styles */

#triageContentWrap{
    overflow: hidden;
}
.sectionBackground{
    background: url("../img/paper_greyLightNoise.png") repeat;
    border: 3px solid #3f3f3d;
    border-radius: 10px;
    min-height: 600px;
    padding: 10px;
}
#genInfoWrap{
    float: left;
    width: 40%;
}
#vitalsWrap{
    float: left;
    width: 60%;
}

.generalInfoInput{
    padding: 5px;
    overflow: hidden;
}
.generalInfoInput input{
    float: right;
    margin-right: 120px;
}


/* Photo stuff */
#photoInputFormDiv{
    overflow: hidden;
}
#photoInput{
    width: inherit;
}

/* General info stuff */
#genderBtns{
    float: right;
    margin-right: 120px;
    width: 175px;
}








/*Triage Page*/
.stackedInput {
  margin-top: 15px!important;
}
.textAreaLabel {
  margin-top: 25px!important;
}
.floatButtonOffset {
  margin-left: 10px;
}
.medicalHistoryLineDivide {
  background: #000000;
  clear: both;
  float: none;
  width: 100%;
  height: 1px;
  margin: 0 0 2px;
  border: none;
}

#pregnancyBtn{
    margin-top: -6px;
}
#photoInput{
    float: left !important;
}


.red {
    color:red;
}


/* Shrinking of General Info section */
@media(max-width: 1199px){
    #genderBtns{
        margin-right: 0px;
    }
    .generalInfoInput input{
        margin-right: 0px;
    }
}
@media(max-width: 991px){
    .sectionBackground{
        padding: 0px;
    }
}
@media(max-width: 495px){
   #genInfoWrap input{
       float: none;
   }
}

