/*Triage Page*/
.medicalHistoryLineDivide{
    background: #000000;
    clear: both;
    float: none;
    width: 100%;
    height: 1px;
    margin: 0 0 2px;
    border: none;
}
.btn-group-wrap{
    text-align: center;
}
.triageInputRow{
    font-size: 12px;
}
.inputLabel{
    display: inline-block;
    float: left;
    clear: left;
    text-align: right;
    margin-right: 5px;
}
#pregnantWrap{
    display: inline-block;
    float: left;
}
#genderWrap{
    display: inline-block;
}

/*Boot strap overrides*/
.clear-none{
    clear: none !important;
}
.patientMedicalHistory{
    padding-bottom: 4px !important;
    margin-bottom: 4px; !important;
}
.padding-right-zero{
    padding-right: 0px !important;
}
.padding-left-zero{
    padding-left: 0px !important;
}
.bold{
    font-weight: bold;
}