

#userListWrap{
    background: url("../img/paper_greyLightNoise.png") repeat;
    border: 3px solid #3f3f3d;
    border-radius: 10px;
    min-height: 600px;
    padding: 10px;
}

/*User table*/
#userTable ul{
    list-style-type: none;
}
#userTable th{
    font-size: 14px;
    text-align: center;
}
#userTable td{
    font-size: 11px;
}
.badge:hover{
    cursor: pointer;
}



/*jQuery UI Dialog*/
#userInfoWrap label, #userRolesWrap label{
    font-size: 18px;
}
#userInfoWrap input[type=text]{
    width: 100%;
    margin-bottom: 20px;
}
#userInfoWrap input[type=checkbox]{
    -ms-transform: scale(2); /* IE */
    -moz-transform: scale(2); /* FF */
    -webkit-transform: scale(2); /* Safari and Chrome */
    -o-transform: scale(2); /* Opera */
    padding: 10px;
    margin-left: 15px;
}
#userInfoWrap p{
    font-size: 10px;
}


.editUserDialog .ui-dialog-titlebar {
    background: none;
    border: none;

    font-size: 20px;
    font-weight: 300;
}
