@(currentUser: femr.common.dtos.CurrentUser, viewModel: femr.ui.models.admin.trips.TripViewModelGet, assets: AssetsFinder)

@import femr.ui.views.html.layouts.admin
@import femr.ui.views.html.partials.admin.trips.tripsMenu
@import femr.ui.controllers.admin.routes.TripController

@additionalStyles = {
    <link rel="stylesheet" href="@assets.path("css/libraries/jquery.dataTables.min.css")">
    <link rel="stylesheet" href="@assets.path("css/superuser/superuser.css")">
}

@additionalScripts = {
    <script type = "text/javascript" src="@assets.path("js/libraries/jquery.dataTables.min.js")"></script>
    <script type="text/javascript" src="@assets.path("js/superuser/superuser.js")"></script>
    <script>
            let languageData;

            fetch('@routes.Assets.versioned("json/languages.json")')
                    .then(response => response.json())
                    .then(data => {
                        languageData = data;
                        updateLanguage("@{currentUser.getLanguageCode}","@{currentUser.getFirstName}");

                    })
                    .catch(error => console.error('Error fetching language data:', error));


            function updateTextContent(elementId, value) {
                const element = document.getElementById(elementId);
                if (element) {
                    element.textContent = value;
                } else {
                    console.error(`Element with ID '${elementId}' not found.`);
                }
            }

            function updateLanguage(languageCode) {
                localStorage.setItem('languageCode', languageCode);
                updateTextContent("trips_manage_Add", languageData[languageCode].trips_manage_Add);
                updateTextContent("trips_manage_Team", languageData[languageCode].trips_manage_Team);
                updateTextContent("trips_manage_TripCity", languageData[languageCode].trips_manage_TripCity);
                updateTextContent("trips_manage_TripCountry", languageData[languageCode].trips_manage_TripCountry);
                updateTextContent("trips_manage_Start1", languageData[languageCode].trips_manage_Start1);
                updateTextContent("trips_manage_End1", languageData[languageCode].trips_manage_End1);
                updateTextContent("trips_manage_Submit", languageData[languageCode].trips_manage_Submit);
                updateTextContent("trips_manage_Edit", languageData[languageCode].trips_manage_Edit);
                updateTextContent("trips_manage_Name", languageData[languageCode].trips_manage_Name);
                updateTextContent("trips_manage_Country", languageData[languageCode].trips_manage_Country);
                updateTextContent("trips_manage_City", languageData[languageCode].trips_manage_City);
                updateTextContent("trips_manage_Start2", languageData[languageCode].trips_manage_Start2);
                updateTextContent("trips_manage_End2", languageData[languageCode].trips_manage_End2);

            }
    </script>
}

@admin("Trips - Manage Trips", currentUser, styles = additionalStyles, scripts = additionalScripts, assets = assets) {

    @tripsMenu()

    @for(messageIndex <- 1 to viewModel.getMessages.size){
        <p>@viewModel.getMessages.get(messageIndex - 1)</p>
    }

    @helper.form(action = TripController.managePost()) {
        <div id="addTripWrap">
            <h1 id="trips_manage_Add">Add Trip:</h1>
            <div>
                <label><span id="trips_manage_Team">Trip Team:</span>
                    <span class="red bold">*</span>
                    <select class="fSelect" name="newTripTeamName">
                        <option selected value=""></option>
                        @for(teamIndex <- 1 to viewModel.getMissionItems.size) {
                            @defining(viewModel.getMissionItems.get(teamIndex - 1)) { item =>
                                <option>@item.getTeamName</option>
                            }
                        }
                    </select>
                </label>
            </div>
            <div>
                <label><span id="trips_manage_TripCity">Trip City:</span><span class="red bold">*</span>
                    <select class="fSelect" name="newTripCity">
                        <option selected value=""></option>
                        @for(tripIndex <- 1 to viewModel.getAvailableCities.size) {
                            @defining(viewModel.getAvailableCities.get(tripIndex - 1)) { city =>
                                <option country-name="@city.getCountryName">@city.getCityName</option>
                            }
                        }
                    </select>
                </label>
            </div>
            <div>
                <label><span id="trips_manage_TripCountry">Trip Country:</span>
                    <input class="fInput" type="text" value="" name="newTripCountry" readonly/>
                </label>
            </div>

            <div>
                <label><span id="trips_manage_Start1">Start Date:</span>
                    <span class="red bold">*</span>
                    <input type="date" name="newTripStartDate"/>
                </label>
            </div>
            <div>
                <label><span id="trips_manage_End1">End Date:</span>
                    <span class="red bold">*</span>
                    <input type="date" name="newTripEndDate"/>
                </label>
            </div>
        </div>

        <div id="submitWrap">
            <button type="submit" class="fButton" id="trips_manage_Submit">Submit</button>
        </div>
    }

    <div id="tableWrap">

        <table id="tripTable">
            <thead>
                <tr>
                    <th id="trips_manage_Edit">Edit</th>
                    <th id="trips_manage_Name">Team Name</th>
                    <th id="trips_manage_Country">Country</th>
                    <th id="trips_manage_City">City</th>
                    <th id="trips_manage_Start2">Start Date</th>
                    <th id="trips_manage_End2">End Date</th>
                </tr>
            </thead>
            <tbody>
            @for(i <- 1 to viewModel.getMissionItems.size) {
                @defining(viewModel.getMissionItems.get(i - 1)) { missionItem =>
                    @for(tripIndex <- 1 to missionItem.getMissionTrips.size) {
                        @defining(missionItem.getMissionTrips.get(tripIndex - 1)) { missionTrip =>
                            <tr>
                                <td>
                                    @helper.form(action = TripController.editGet(missionTrip.getId)) {
                                        <button type="submit" class="btn btn-default editBtn">Edit</button>
                                    }
                                </td>
                                <td>@missionItem.getTeamName</td>
                                <td>@missionTrip.getTripCountry</td>
                                <td>@missionTrip.getTripCity</td>
                                <td>@missionTrip.getFriendlyTripStartDate</td>
                                <td>@missionTrip.getFriendlyTripEndDate</td>
                            </tr>
                        }
                    }
                }
            }
            </tbody>
        </table>


    </div>

}