@(currentUser: femr.common.dtos.CurrentUser, viewModel: femr.ui.models.admin.trips.TripViewModelGet, assets: AssetsFinder)

@import femr.ui.views.html.layouts.admin
@import femr.ui.views.html.partials.admin.trips.tripsMenu
@import femr.ui.controllers.admin.routes.TripController

@additionalStyles = {
    <link rel="stylesheet" href="@assets.path("css/libraries/jquery.dataTables.min.css")">
    <link rel="stylesheet" href="@assets.path("css/superuser/superuser.css")">
}

@additionalScripts = {
    <script type = "text/javascript" src="@assets.path("js/libraries/jquery.dataTables.min.js")"></script>
    <script type="text/javascript" src="@assets.path("js/superuser/superuser.js")"></script>
}

@admin("Trips - Manage Trips", currentUser, styles = additionalStyles, scripts = additionalScripts, assets = assets) {

    @tripsMenu()

    @for(messageIndex <- 1 to viewModel.getMessages.size){
        <p>@viewModel.getMessages.get(messageIndex - 1)</p>
    }

    @helper.form(action = TripController.managePost()) {
        <div id="addTripWrap">
            <h1>Add Trip:</h1>
            <div>
                <label>Trip Team:<span class="red bold">*</span>
                    <select class="fSelect" name="newTripTeamName">
                        <option selected value=""></option>
                        @for(teamIndex <- 1 to viewModel.getMissionItems.size) {
                            @defining(viewModel.getMissionItems.get(teamIndex - 1)) { item =>
                                <option>@item.getTeamName</option>
                            }
                        }
                    </select>
                </label>
            </div>
            <div>
                <label>Trip City:<span class="red bold">*</span>
                    <select class="fSelect" name="newTripCity">
                        <option selected value=""></option>
                        @for(tripIndex <- 1 to viewModel.getAvailableCities.size) {
                            @defining(viewModel.getAvailableCities.get(tripIndex - 1)) { city =>
                                <option country-name="@city.getCountryName">@city.getCityName</option>
                            }
                        }
                    </select>
                </label>
            </div>
            <div>
                <label>Trip Country:
                    <input class="fInput" type="text" value="" name="newTripCountry" readonly/>
                </label>
            </div>

            <div>
                <label>Start Date:<span class="red bold">*</span>
                    <input type="date" name="newTripStartDate"/>
                </label>
            </div>
            <div>
                <label>End Date:<span class="red bold">*</span>
                    <input type="date" name="newTripEndDate"/>
                </label>
            </div>
        </div>

        <div id="submitWrap">
            <button type="submit" class="fButton">Submit</button>
        </div>
    }

    <div id="tableWrap">

        <table id="tripTable">
            <thead>
                <tr>
                    <th>Edit</th>
                    <th>Team Name</th>
                    <th>Country</th>
                    <th>City</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                </tr>
            </thead>
            <tbody>
            @for(i <- 1 to viewModel.getMissionItems.size) {
                @defining(viewModel.getMissionItems.get(i - 1)) { missionItem =>
                    @for(tripIndex <- 1 to missionItem.getMissionTrips.size) {
                        @defining(missionItem.getMissionTrips.get(tripIndex - 1)) { missionTrip =>
                            <tr>
                                <td>
                                    @helper.form(action = TripController.editGet(missionTrip.getId)) {
                                        <button type="submit" class="btn btn-default editBtn">Edit</button>
                                    }
                                </td>
                                <td>@missionItem.getTeamName</td>
                                <td>@missionTrip.getTripCountry</td>
                                <td>@missionTrip.getTripCity</td>
                                <td>@missionTrip.getFriendlyTripStartDate</td>
                                <td>@missionTrip.getFriendlyTripEndDate</td>
                            </tr>
                        }
                    }
                }
            }
            </tbody>
        </table>


    </div>

}