@(currentUser: femr.common.dto.CurrentUser, viewModel: femr.ui.models.medical.EditViewModelGet)

@import femr.ui.controllers.routes.MedicalController
@import femr.ui.views.html.layouts.medicalPersonnel
@import femr.ui.views.html.helpers.medical.tabs._
@import femr.ui.views.html.helpers.shared._
@import femr.ui.views.html.medical.listVitals

    @additionalStyles = {
        <link rel="stylesheet" href="@routes.Assets.at("css/medical/medical.css")">
        <link rel="stylesheet" href="@routes.Assets.at("css/libraries/jquery.tablescroll.css")">
        <link rel="stylesheet" href="@routes.Assets.at("css/libraries/jquery-ui.min.css")">
    }
    @additionalScripts = {
        <script type = "text/javascript" src="@routes.Assets.at("js/femr.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("js/medical/medical.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("js/medical/medicalClientValidation.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("js/jquery.tablescroll.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("js/jquery-ui.min.js")"></script>
    }

    @searchById = {
    @helper.form(action = MedicalController.indexPost()) {
        <div class="col-lg-10 col-sm-10 col-md-10 col-xs-10 remove-padding">
            <input type="number" class="form-control idSearchForm" id="id" name="id" placeholder="Patient ID">
        </div>
        <div class="col-lg-2 col-sm-2 col-md-2 col-xs-2 remove-padding">
            <button type="submit" class="buttonSearchForm idSearch btn btn-default btn-sm">Search</button>
        </div>
    }
    }
@medicalPersonnel("Medical", currentUser, customSearch = searchById, scripts = additionalScripts, styles = additionalStyles, showSearchBtn = true) {
    <input type="hidden" value="@viewModel.getPatientItem.getId" id="patientId"/>

    <div id="medicalContentWrap">


        @patientOverview(viewModel.getPatientItem, viewModel.getPatientEncounterItem, "Medical")




        <div id="mainWrap" class="backgroundForWrap">
            <div id="vitalsWrap">
                <div id="vitalsPartial">
                        <!-- Repalaced when user clicks save in record new vitals dialog -->
                    @listVitals(viewModel.getVitalMap)
                </div>

                <button type="button" id="newVitalsBtn" class="fButton">Record New Vitals</button>

                <div id="newVitalsDialog" title="Record New Vitals">
                    <div id="newVitalsPartial">
                        @*load partial view for editing a user via admin.js*@
                    </div>
                </div>
            </div>

            <div id="inputWrap">
            @helper.form(action = MedicalController.editPost(int2Integer(viewModel.getPatientItem.getId)), 'enctype -> "multipart/form-data") {
                <div class="tabWrap">
                    <ul id="medicalTabs">
                        <li class="active"><a href="#" id="hpi">HPI</a></li>
                        <li><a href="#" id="pmh">PMH</a></li>
                        <li><a href="#" id="treatment">Treatment</a></li>
                        <li><a href="#" id="photo">Photos - @viewModel.getPhotos.size()</a></li>
                        @for(x <- 1 to viewModel.getCustomTabs.size) {
                            @defining(viewModel.getCustomTabs.get(x - 1).getName) { tabName =>
                                <li><a href="#" id="@tabName" class="customTab">@tabName</a></li>
                            }
                        }
                    </ul>

                </div>

                <div id="tabContentWrap">
                    @hpiTab(viewModel)

                    @treatmentTab(viewModel)

                    @pmhTab(viewModel)

                    @photoTab(viewModel)

                    @for(i <- 1 to viewModel.getCustomTabs.size) {
                        @defining(viewModel.getCustomTabs.get(i - 1)) { customTab =>
                            @* Move the div wrapper into dynamicTab *@
                            <div class="controlWrap hidden" id="@customTab.getName()Control">
                            @dynamicTab(viewModel.getCustomFields.get(customTab.getName), customTab.getLeftColumnSize, customTab.getRightColumnSize, customTab.getName, false)
                            </div>

                        }
                    }
                    @* Use for "POSTing" JSON (dynamic tab data) *@
                    <input type="text" class="hidden" name="customFieldJSON"/>

                    <div class="pull-left">
                    @historyButton(viewModel.getPatientItem.getId)
                    </div>

                    <button type="submit" id="medicalSubmitBtn" class="fButton fSubmitButton pull-right">
                        Submit Patient</button>

                </div>
            }
            </div>
        </div>
    </div>

}


<div id="portraitTemplate">
    <div class="col-xs-12 col-sm-6 col-md-4" hidden="true">
        <div class="thumbnail">
            <img src="">
            <div class="caption">
                <div class="form-group">
                    <p name="photoDescription" ></p>
                    <div class="btn-group">
                        <button id="btnEditText" type="button" onclick="portraitEdit ( this )" class="btn btn-default btn-med">
                            <span class="glyphicon glyphicon-edit"></span> Edit Description
                        </button>
                    </div>
                    <div class="btn-group">
                        <button id="btnDeletePhoto" type="button" onclick="portraitDelete ( this )" class="btn btn-danger btn-med">
                            <span class="glyphicon glyphicon-trash"></span> Delete
                        </button>
                    </div>
                </div>
            </div>
        </div>
            <!-- Data elements for server-side logic -->
        <div name="dataList" hidden="true">
                <!-- Signals that user has requested to delete this photo from the database / server -->
            <input hidden="true" type="checkbox" name="deleteRequested" checked="false" value="false" />
                <!-- Signals that the user has updated a description -->
            <input hidden="true" type="checkbox" name="hasUpdatedDesc" checked="false" value="false" />
                <!-- Place holder for new images -->
            <input hidden="true" type="file" name="patientPhoto" />
                <!-- text for POST -->
            <input hidden="true" type="text" name="imageDescText" value="" />
                <!-- photo Id -->
            <input hidden="true" type="text" name="photoId" value="" />
        </div>
    </div>
</div>
<div class="modal fade" id="modalNewImage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">New photo</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <div class="thumbnail">
                        <img id="modalImg" src="" />
                    </div>
                    <label for="modalTextEntry" class="control-label">Description:</label>
                    <textarea rows="8" id="modalTextEntry" name="modalTextEntryName" class="form-control input-med" ></textarea>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="modalCancelPortrait" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" id="modalSavePortrait" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
