@(currentUser: femr.business.dtos.CurrentUser, viewModel: femr.ui.models.medical.CreateViewModelGet)

@import femr.ui.controllers.routes.MedicalController
@import femr.ui.views.html.layouts.medicalPersonnel
@import femr.ui.views.html.helpers.medical._
    @additionalStyles = {
        <link rel="stylesheet" href="@routes.Assets.at("css/medical.css")">
    }
    @additionalScripts = {
        <script type = "text/javascript" src="@routes.Assets.at("js/femr.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("js/medical/medical.js")"></script>
    }
    @searchById = {
    @helper.form(action = MedicalController.searchPost()) {
        <div class="col-lg-10 col-sm-10 col-md-10 col-xs-10 remove-padding">
            <input type="text" class="form-control idSearchForm" id="id" name="id" placeholder="Id">
        </div>
        <div class="col-lg-2 col-sm-2 col-md-2 col-xs-2 remove-padding">
            <button type="submit" class="buttonSearchForm idSearch btn btn-default btn-sm">Search</button>
        </div>
    }
    }
@medicalPersonnel("Medical", currentUser, customSearch = searchById, scripts = additionalScripts, styles = additionalStyles, showSearchBtn = true) {
    <input type="hidden" value="@viewModel.getpID" id="patientId"/>
    <div class="row well well-sm">
        <h3 class="text-center">Patient Overview</h3>
        <div class="col-xs-4 col-sm-4 col-md-4">
            <div class="row">
                <div class="col-xs-4 col-sm-4 col-md-4">
                    <label>Name:</label>
                </div>
                <div class="col-xs-8 col-sm-8 col-md-8">
                    <p>@viewModel.getFirstName @viewModel.getLastName</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4 col-sm-4 col-md-4">
                    <label for="">Age:</label>
                </div>
                <div class="col-xs-8 col-sm-8 col-md-8">
                    <p>@viewModel.getAge</p>
                </div>
            </div>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4">
            <div class="row">
                <div class="col-xs-4 col-sm-4 col-md-4">
                    <label for="">Sex:</label>
                </div>
                <div class="col-xs-8 col-sm-8 col-md-8">
                    <p>@viewModel.getSex</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4 col-sm-4 col-md-4">
                    <label for="">City:</label>
                </div>
                <div class="col-xs-8 col-sm-8 col-md-8">
                    <p>@viewModel.getCity</p>
                </div>
            </div>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4">
            <div class="row">
                <div class="col-xs-4 col-sm-4 col-md-4">
                    <label>Complaint:</label>
                </div>
                <div class="col-xs-8 col-sm-8 col-md-8">
                    <p>@viewModel.getChiefComplaint</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-3 col-sm-3 col-md-3 well well-sm">
            <h3>Vitals</h3>
            <div id="populatedVitals">
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <label>Blood Pressure</label>
                        <p><span id="triageBpSystolic">@viewModel.getBloodPressureSystolic</span>
                            / <span id="triageBpDiastolic">@viewModel.getBloodPressureDiastolic</span></p>
                        <label>Heart Rate</label>
                        <p id="triageHeartRate">@viewModel.getHeartRate</p>
                        <label>Temperature</label>
                        <p id="triageTemperature">@viewModel.getTemperature</p>
                        <label>Respirations</label>
                        <p id="triageRespRate">@viewModel.getRespiratoryRate</p>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <label>Oxygen</label>
                        <p id="triageOxygen">@viewModel.getOxygenSaturation</p>
                        <label>Height</label>
                        <p><span id="triageHeightFt">@viewModel.getHeightFeet</span>
                            ' <span id=triageHeightIn>@viewModel.getHeightInches</span>"</p>
                        @*used by bmi calculator*@
                        <p id="heightFeet" class="hidden">@viewModel.getHeightFeet</p>
                        <p id="heightInches" class="hidden">@viewModel.getHeightInches</p>
                        <label>Weight</label>
                        <p id="weight">@viewModel.getWeight</p>
                        <label>BMI</label>
                        <p id="bmi"></p>
                    </div>
                </div>
            </div>
            <div id="newVitals" class="hidden">
                <div class="alert alert-info"><strong>Heads up!</strong>
                    Only fields with values in them will be updated.</div>
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <label>Blood Pressure</label>
                        <input type="number" id="bpSystolic" class="form-control input-sm col-sm-3" placeholder="Systolic">
                        <input type="number" id="bpDiastolic" class="form-control input-sm col-sm-3" placeholder="Diastolic">
                        <label>Heart Rate</label>
                        <input type="number" id="heartRate" class="form-control input-sm"/>
                        <label>Temperature</label>
                        <input type="number" id="temperature" class="form-control input-sm" placeholder="Fahrenheit"/>
                        <label>Respirations</label>
                        <input type="number" id="respRate" class="form-control input-sm"/>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <label>Oxygen</label>
                        <input type="number" id="oxygen" class="form-control input-sm"/>
                        <label>Height</label>
                        <input type="number" id="heightFt" class="form-control input-sm col-sm-3" placeholder="Feet"/>
                        <input type="number" id="heightIn" class="form-control input-sm col-sm-3" placeholder="Inches"/>
                        <div class="input-group">
                            <label>Weight</label>
                            <input type="number" id="newWeight" class="form-control input-sm" placeholder="Pounds"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12">
                    <button type="button" id="resetVitalsBtn" class="btn btn-block btn-default">Record New Vitals</button>
                    <button type="button" id="saveVitalsBtn" class="btn btn-block btn-primary hidden">Save New Vitals</button>
                </div>
            </div>
        </div>
        @helper.form(action = MedicalController.editPost(int2Integer(viewModel.getpID))) {
            <div class="col-xs-9 col-sm-9 col-md-9 well well-sm">
                <ul id="myTab" class="nav nav-tabs">
                    <li class="active"><a id="hpiTab">HPI</a></li>
                    <li><a id="treatmentTab">Treatment</a></li>
                </ul>
                <div id="hpiControl" class="">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <label for="onset">Onset</label>
                                <input name="onset" type="text" class="form-control input-sm" value="@viewModel.getOnset"/>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                    @severityDropDown(viewModel.getSeverity)
                    </div>
                    <div class="form-group">
                        <label for="radiation">Radiation</label>
                        <input name="radiation" type="text" class="form-control input-sm" value="@viewModel.getRadiation"/>
                    </div>
                    <div class="form-group">
                        <label for="quality">Quality</label>
                        <input name="quality" type="text" class="form-control input-sm" value="@viewModel.getQuality"/>
                    </div>
                    <div class="form-group">
                        <label for="provokes">Provokes</label>
                        <input name="provokes" type="text" class="form-control input-sm" value="@viewModel.getProvokes"/>
                    </div>
                    <div class="form-group">
                        <label for="palliates">Palliates</label>
                        <input name="palliates" type="text" class="form-control input-sm" value="@viewModel.getPalliates"/>
                    </div>
                    <div class="form-group">
                        <label for="timeOfDay">Time of Day</label>
                        <input name="timeOfDay" type="text" class="form-control input-sm" value="@viewModel.getTimeOfDay"/>
                    </div>
                    <div class="form-group">
                        <label for="physicalExamination">Physical Examination</label>
                        <textarea rows="3" name="physicalExamination" class="form-control input-sm">@viewModel.getPhysicalExamination</textarea>
                    </div>
                </div>
                <div id="treatmentControl" class="hidden">
                    <div class="form-group">
                        <label for="assessment">Assessment</label>
                        <textarea rows="3" name="assessment" class="form-control input-sm">@viewModel.getAssessment</textarea>
                    </div>
                    <div class="form-group">
                        <label for="problem">Problem List</label>
                        <div class="row">
                            <div class="col-xs-9 col-sm-9 col-md-9">
                                @inputPrescriptionOrProblem(1, viewModel.getProblem1, "problem")
                                @inputPrescriptionOrProblem(2, viewModel.getProblem2, "problem")
                                @inputPrescriptionOrProblem(3, viewModel.getProblem3, "problem")
                                @inputPrescriptionOrProblem(4, viewModel.getProblem4, "problem")
                                @inputPrescriptionOrProblem(5, viewModel.getProblem5, "problem")
                            </div>
                            <div class="col-xs-3 col-sm-3 col-md-3">
                                <button id="addProblemButton" class="btn" type="button"><span class="glyphicon glyphicon-plus"></span></button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="prescription">Prescriptions</label>
                        <div class="row">
                            <div class="col-xs-9 col-sm-9 col-md-9">
                                @inputPrescriptionOrProblem(1, viewModel.getPrescription1, "prescription")
                                @inputPrescriptionOrProblem(2, viewModel.getPrescription2, "prescription")
                                @inputPrescriptionOrProblem(3, viewModel.getPrescription3, "prescription")
                                @inputPrescriptionOrProblem(4, viewModel.getPrescription4, "prescription")
                                @inputPrescriptionOrProblem(5, viewModel.getPrescription5, "prescription")
                            </div>
                            <div class="col-xs-3 col-sm-3 col-md-3">
                                <button id="addPrescriptionButton" class="btn" type="button"><span class="glyphicon glyphicon-plus"></span></button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="treatment">Treatment Given</label>
                        <textarea rows="3" name="treatment" class="form-control input-sm">@viewModel.getTreatment</textarea>
                    </div>
                    <div class="form-group">
                        <label for="familyHistory">Family History</label>
                        <textarea rows="3" name="familyHistory" class="form-control input-sm">@viewModel.getFamilyHistory</textarea>
                    </div>
                </div>
                <button type="submit" id="medicalSubmitBtn" class="btn btn-default pull-right">Submit Patient</button>
                }
    </div>
        }
    </div>
