@(currentUser: femr.common.dto.CurrentUser, message: java.lang.String, patientId: java.lang.Integer)

@import femr.ui.controllers.routes.MedicalController
@import femr.ui.views.html.layouts.main
@import femr.ui.views.html.helpers.shared._

    @additionalScripts = {
        <script type = "text/javascript" src="@routes.Assets.at("js/shared/femr.js")"></script>
    }

@main("Medical", currentUser, scripts = additionalScripts) {
    <div class="container">
    @helper.form(action = MedicalController.indexPost()) {
        @searchBox("Medical", patientId, message)
    }
    </div>
}
