@(currentUser: femr.business.dtos.CurrentUser, message: java.lang.String, patientId: java.lang.Integer)

@import femr.ui.controllers.routes.MedicalController
@import femr.ui.views.html.layouts.main
@import femr.ui.views.html.helpers.medical._

    @additionalScripts = {
        <script type = "text/javascript" src="@routes.Assets.at("js/femr.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("js/medical/medical.js")"></script>
    }
    @additionalStyles = {
        <link rel="stylesheet" href="@routes.Assets.at("css/medical.css")">
    }
@main("Medical", currentUser, scripts = additionalScripts, styles = additionalStyles) {
    <div class="container">
        @helper.form(action = MedicalController.searchPost()) {
            <div class="text-center col-sm-offset-4 col-md-offset-4 col-md-4 col-sm-4 col-xs-4">
                <h2>Medical Search Patient</h2>
                @searchBox(patientId)
            </div>
        }
        <div class="text-center col-sm-offset-4 col-md-offset-4 col-md-4 col-sm-4 col-xs-4">
            <h3>@message</h3>
            @editEncounterButton(patientId)
        </div>
    </div>
}
