

<link rel="stylesheet" href="@routes.Assets.at("css/medical/newVitals.css")" xmlns="http://www.w3.org/1999/xhtml">
<script type="text/javascript" src="@routes.Assets.at("js/medical/newVitals.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("js/shared/vitalClientValidation.js")"></script>
<div id="all">

    <div id="left">
        <label>BP</label>
        <br/>
        <input type="number" class="fInput" id="bpSystolic" placeholder="systolic"/>
        <input type="number" class="fInput" id="bpDiastolic" placeholder="diastolic"/>
        <br/>
        <label>HR</label>
        <br/>
        <input type="number" class="fInput" id="heartRate" placeholder="bpm"/>
        <br/>
        <label>T</label>
        <br/>
        <input type="number" class="fInput" id="temperature" placeholder="F"/>
        <br/>
        <label>RR</label>
        <br/>
        <input type="number" class="fInput" id="respRate" placeholder="bpm"/>
        <br/>

    </div>
    <div id="right">
        <label>Gluc</label>
        <br/>
        <input type="number" class="fInput" id="newGlucose" placeholder="mg/dl"/>
        <br/>
        <label>SpO2</label>
        <br/>
        <input type="number" class="fInput" id="oxygen" placeholder="%"/>
        <br/>
        <label>Ht</label>
        <br/>
        <input type="number" class="fInput" id="heightFt" placeholder="ft"/>
        <input type="number" class="fInput" id="heightIn" placeholder="in"/>
        <br/>
        <label>Wt</label>
        <br/>
        <input type="number" class="fInput" id="newWeight" placeholder="lbs"/>

    </div>
    <div id="theButtons">
        <button type="button" id="saveVitalsBtn" class="fButton">Save</button>
        <button type="button" id="cancelVitalsBtn" class="fButton">Cancel</button>
    </div>

</div>




