@(viewModel: femr.ui.models.medical.EditViewModelGet)

<link rel="stylesheet" href="@routes.Assets.versioned("css/medical/newVitals.css")" xmlns="http://www.w3.org/1999/xhtml">
<script type="text/javascript" src="@routes.Assets.versioned("js/medical/newVitals.js")"></script>
<script type="text/javascript" src="@routes.Assets.versioned("js/shared/vitalClientValidation.js")"></script>
<div id="all">

    <div id="left">
        <label>BP</label>
        <br/>
        <input type="number" class="fInput" id="newSystolic" placeholder="systolic"/>
        <input type="number" class="fInput" id="newDiastolic" placeholder="diastolic"/>
        <br/>
        <label>HR</label>
        <br/>
        <input type="number" class="fInput" id="newHeartRate" placeholder="bpm"/>
        <br/>
        <label>T</label>
        <br/>
        @if(viewModel.getSettings.isMetric) { <!---  Alaa Serhan -->
            <input type="number" class="fInput" id="newTemperature" placeholder="C"/>
        } else {
            <input type="number" class="fInput" id="newTemperature" placeholder="F"/>
        }
        <br/>
        <label>RR</label>
        <br/>
        <input type="number" class="fInput" id="newRespiratoryRate" placeholder="bpm"/>

            <!--Osman-->
        <div class = "vitalWrap"></div>
        <label>Smoking</label>
        <input type="checkbox" step="any" class="fCheckbox" id="newSmoker" name="smoker" value="1">


        <label>Diabetes</label>
        <input type="checkbox" step="any" class="fCheckbox" id="newDiabetic" name="diabetic" value="1">

        <label>Alcohol</label>
        <input type="checkbox" step="any" class="fCheckbox" id="newAlcohol" name="alcohol" value="1">

        <br/>

    </div>
    <div id="right">
        <label>Gluc</label>
        <br/>
        <input type="number" class="fInput" id="newGlucose" placeholder="mg/dl"/>
        <br/>
        <label>SpO2</label>
        <br/>
        <input type="number" class="fInput" id="newOxygen" placeholder="%"/>
        <br/>
        <label>Ht</label>
        <br/>
        @if(viewModel.getSettings.isMetric) { <!---  Alaa Serhan -->
            <input type="number" class="fInput" id="newHeightFeet" placeholder="m"/>
            <input type="number" class="fInput" id="newHeightInches" placeholder="cm"/>
        } else {
            <input type="number" class="fInput" id="newHeightFeet" placeholder="ft"/>
            <input type="number" class="fInput" id="newHeightInches" placeholder="in"/>
        }
        <br/>
        <label>Wt</label>
        <br/>
        @if(viewModel.getSettings.isMetric) { <!---  Alaa Serhan -->
            <input type="number" class="fInput" id="newWeight" placeholder="kgs"/>
        } else {
            <input type="number" class="fInput" id="newWeight" placeholder="lbs"/>
        }
		  <br/>
        <label>WP</label> <!--- Sam Zanni -->
        <br/>
        <input type="number" class="fInput" id="weeksPreg" placeholder="weeks"/>
        <br/>
    </div>
    <div id="theButtons">
        <button type="button" id="saveVitalsBtn" class="fButton">Save</button>
        <button type="button" id="cancelVitalsBtn" class="fButton">Cancel</button>
    </div>

</div>




