@import femr.common.models.PatientItem
@(currentUser: femr.common.dtos.CurrentUser, viewModelGet: femr.ui.models.admin.users.ManageViewModelGet);
<!--(currentUser: femr.common.dtos.CurrentUser,patient: femr.common.models.PatientItem, patientEncounter: femr.common.models.PatientEncounterItem,currentTriagePatients: java.util.List[_ <: PatientItem]);-->


<!doctype html>
    <head>

<h1>List Of Triage Patients</h1>

    </head>
<body>
    <ol class="triagePatientsNames">
    @for(y <- 1 to viewModelGet.getUsers.size) {
            <li>@viewModelGet.getTriagePatients(y - 1).getFirstName @viewModelGet.getTriagePatients(y - 1).getFirstName</li>
        }
    </ol>

</body>
