@import femr.common.models.PatientItem
@import femr.ui.controllers.admin.TriagePatientController
@(currentUser: femr.common.dtos.CurrentUser, ManageViewModelPost: femr.ui.models.triage.ManageViewModelPost)

<!doctype html>
    <head>

<h1>List Of Triage Patients Checked In Today</h1>

    </head>
<body>
    <ol class="triagePatientsNames">
            @for(y <- 1 to ManageViewModelPost.getTriagePatients.size) {
                <li>@ManageViewModelPost.getTriagePatients(y - 1).getFirstName @ManageViewModelPost.getTriagePatients(y - 1).getLastName</li>

        }
        <p>END OF LIST</p>
    </ol>

</body>
