@(hpiTab: femr.common.models.TabItem, isConsolidated: java.lang.Boolean, chiefComplaint: java.lang.String)

@import femr.ui.views.html.partials.medical.severityDropDown;
@additionalScripts = {
    <script>
            document.addEventListener('DOMContentLoaded', function(event) {
                let languageData;
                fetch('@routes.Assets.versioned("json/languages.json")')
                        .then(response => response.json())
                        .then(data => {
                            languageData = data;
                            const initialLanguage = localStorage.getItem('languageCode') || 'en';
                            //const initialLanguage = currentUser.getLanguageCode();
                            updateLanguage(initialLanguage);
                            document.getElementById('languageSelect').value = initialLanguage;
                        });

                document.getElementById('languageSelect').addEventListener('change', function() {
                    updateLanguage(this.value);
                });
                function updateInputField(identifier, value) {
                    const inputElement = document.getElementById(identifier);
                    const labelElement = document.querySelector(`label[for='${identifier}']`);
                    if (inputElement && labelElement) {
                        labelElement.textContent = value;
                        inputElement.placeholder = value;
                    }

                }
                function updateTextContent(elementId, value) {
                    const element = document.getElementById(elementId);
                    if (element) {
                        element.textContent = value;
                    }
                }

                function updateLanguage(languageCode) {
                    // console.log("test");
                    localStorage.setItem('languageCode', languageCode);
                    const language = languageCode;
                    // updateInputField("partials_medical_tabs_hpi_onset", languageData[language].partials_medical_tabs_hpi_onset);
                    // updateTextContent("home_index_div_Your", languageData[language].home_index_div_Your);
                    // updateTextContent("home_index_p_Please", languageData[language].home_index_p_Please);
                    // updateTextContent("home_index_p_Or", languageData[language].home_index_p_Or);
                    // updateTextContent("home_index_p_Search", languageData[language].home_index_p_Search);
                    const patientSearch = document.getElementById("patientSearch");
                    if (patientSearch) {
                        patientSearch.placeholder = languageData[language].home_index_div_ID;
                    }
                }
            });
    </script>
}
@* Hide the div if multiple chief complaints *@
<div class="hpiWraps hidden">

@if(!isConsolidated) {
    <div class="leftHPI">

        <div class="staticField" >
            <label for="onset" id ="partials_medical_tabs_hpi_onset">Onset</label>
            @defining(hpiTab.getTabFieldItemByName(chiefComplaint, "onset")) { onset =>
                    <input name="tabFieldItems[@onset.getIndex].name" type="text" class="hidden" value="onset"/>
                    <input name="tabFieldItems[@onset.getIndex].chiefComplaint" type="text" class="hidden" value="@chiefComplaint"/>
                    <input name="tabFieldItems[@onset.getIndex].value" type="text" class="fInput" value="@onset.getValue" id="onsetTab"/>
                    <div class="hidden" id="onsetTabStore"></div>
            }
        </div>

        <div class="staticField">
            <label for="radiation" id ="partials_medical_tabs_hpi_Radiation">Radiation</label>
            @defining(hpiTab.getTabFieldItemByName(chiefComplaint, "radiation")) { radiation =>
                <input name="tabFieldItems[@radiation.getIndex].name" type="text" class="hidden" value="radiation"/>
                <input name="tabFieldItems[@radiation.getIndex].chiefComplaint" type="text" class="hidden" value="@chiefComplaint"/>
                <input name="tabFieldItems[@radiation.getIndex].value" type="text" class="fInput" value="@radiation.getValue" id="radiationTab"/>
                <div class="hidden" id="radiationTabStore"></div>
            }
        </div>

    </div>

    <div class="rightHPI">
        <div class="staticField">
            <label for="quality" id ="partials_medical_tabs_hpi_Quality" >Quality</label>
            @defining(hpiTab.getTabFieldItemByName(chiefComplaint, "quality")) { quality =>
                <input name="tabFieldItems[@quality.getIndex].name" type="text" class="hidden" value="quality"/>
                <input name="tabFieldItems[@quality.getIndex].chiefComplaint" type="text" class="hidden" value="@chiefComplaint"/>
                <input name="tabFieldItems[@quality.getIndex].value" type="text" class="fInput" value="@quality.getValue" id="qualityTab"/>
                <div class="hidden" id="qualityTabStore"></div>
            }
        </div>

        @* Severity *@
        <div class="staticField" >
        @severityDropDown(chiefComplaint, hpiTab.getTabFieldItemByName(chiefComplaint, "severity"))
        </div>


    </div>
    <div class="bottomHPI">

        <div class="staticField">
            <label for="provokes" id ="partials_medical_tabs_hpi_Provokes">Provokes</label>
            @defining(hpiTab.getTabFieldItemByName(chiefComplaint, "provokes")) { provokes =>
                <input name="tabFieldItems[@provokes.getIndex].name" type="text" class="hidden" value="provokes"/>
                <input name="tabFieldItems[@provokes.getIndex].chiefComplaint" type="text" class="hidden" value="@chiefComplaint"/>
                <input name="tabFieldItems[@provokes.getIndex].value" type="text" class="fInput" value="@provokes.getValue" id="provokesTab"/>
                <div class="hidden" id="provokesTabStore"></div>
            }
        </div>

        <div class="staticField">
            <label for="palliates" id ="partials_medical_tabs_hpi_Palliates">Palliates</label>
            @defining(hpiTab.getTabFieldItemByName(chiefComplaint, "palliates")) { palliates =>
                <input name="tabFieldItems[@palliates.getIndex].name" type="text" class="hidden" value="palliates"/>
                <input name="tabFieldItems[@palliates.getIndex].chiefComplaint" type="text" class="hidden" value="@chiefComplaint"/>
                <input name="tabFieldItems[@palliates.getIndex].value" type="text" class="fInput" value="@palliates.getValue" id="palliatesTab"/>
                <div class="hidden" id="palliatesTabStore"></div>
            }
        </div>

        <div class="staticField">
            <label for="timeOfDay" id ="partials_medical_tabs_hpi_Time">Time Of Day</label>
            @defining(hpiTab.getTabFieldItemByName(chiefComplaint, "timeOfDay")) { timeOfDay =>
                <input name="tabFieldItems[@timeOfDay.getIndex].name" type="text" class="hidden" value="timeOfDay"/>
                <input name="tabFieldItems[@timeOfDay.getIndex].chiefComplaint" type="text" class="hidden" value="@chiefComplaint"/>
                <input name="tabFieldItems[@timeOfDay.getIndex].value" type="text" class="fInput" value="@timeOfDay.getValue" id="timeTab"/>
                <div class="hidden" id="timeTabStore"></div>
            }
        </div>

        <div class="staticField">
            <label for="narrative" id ="partials_medical_tabs_hpi_Narrative" >Narrative</label>
            @defining(hpiTab.getTabFieldItemByName(chiefComplaint, "narrative")) { narrative =>
                <input name="tabFieldItems[@narrative.getIndex].name" type="text" class="hidden" value="narrative"/>
                <input name="tabFieldItems[@narrative.getIndex].chiefComplaint" type="text" class="hidden" value="@chiefComplaint"/>
                <input name="tabFieldItems[@narrative.getIndex].value" type="text" class="fInput" value="@narrative.getValue" id="narrativeTab"/>
                <div class="hidden" id="narrativeTabStore"></div>
            }
        </div>

        <div class="staticField">
            @* Physical Examination *@
            <label for="physicalExamination" id ="partials_medical_tabs_hpi_Physical" >Physical Examination</label>
            @defining(hpiTab.getTabFieldItemByName(chiefComplaint, "physicalExamination")) { physicalExamination =>
                <input name="tabFieldItems[@physicalExamination.getIndex].name" type="text" class="hidden" value="physicalExamination"/>
                <input name="tabFieldItems[@physicalExamination.getIndex].chiefComplaint" type="text" class="hidden" value="@chiefComplaint"/>
                <textarea rows="3" name="tabFieldItems[@physicalExamination.getIndex].value" class="form-control input-sm" id="physicalTab">@physicalExamination.getValue</textarea>
                <div class="hidden" id="physicalTabStore"></div>
            }
        </div>
    </div>

} else {
    <div class="staticField">
        <label for="narrative" id ="partials_medical_tabs_hpi_Narrative" >Narrative</label>
        @defining(hpiTab.getTabFieldItemByName(chiefComplaint, "narrative")) { narrative =>
            <input name="tabFieldItems[@narrative.getIndex].name" type="text" class="hidden" value="narrative"/>
            <input name="tabFieldItems[@narrative.getIndex].chiefComplaint" type="text" class="hidden" value="@chiefComplaint"/>
            <textarea name="tabFieldItems[@narrative.getIndex].value" class="fNarrativeTextArea" id="narrativeTab">@narrative.getValue</textarea>
            <div class="hidden" id="narrativeTabStore"></div>
        }
    </div>
}
</div>