@(viewModel: femr.ui.models.medical.EditViewModelGet)

@import femr.ui.views.html.partials.medical.severityDropDown;

<div class="controlWrap" id="hpiControl">


    @if(viewModel.getPatientEncounterItem.getChiefComplaints.size > 1) {
        @* Slider for navigating each HPI, only shows up if > 1 chief complaint exists *@
        <div id="chiefComplaintSliderWrap">
            @* Left arrow *@
            <div id="chiefComplaintLeftArrow">
                <span> < </span>
            </div>

            @* Complaint list *@
            @for(x <- 1 to viewModel.getPatientEncounterItem.getChiefComplaints.size) {
                <div class="chiefComplaintText @if(x > 1) {hidden}" id="cc@x">
                    <span>@viewModel.getPatientEncounterItem.getChiefComplaints.get(x - 1)</span>
                </div>
            }

            @* Right arrow *@
            <div id="chiefComplaintRightArrow">
                <span> > </span>
            </div>


        </div>
    }
    @* Make an HPI page for each chief complaint *@
    @for(x <- 1 to viewModel.getNumberOfHpiTabs) {
        @* Hide the div if multiple chief complaints *@
        <div class="hpiWraps @if(x > 1) {hidden}" id="hpi@x">

            @* New Stuff *@
            @defining(viewModel.getStaticFields) { fields =>
                @if(!viewModel.getSettings.isConsolidateHPI) {
                    <div class="leftHPI">

                        <div class="staticField">
                            <label for="onset">Onset</label>
                            <input name="onset" type="text" class="fInput" value="@if(fields.get("onset" + (x - 1)) != null) @{
                                fields.get("onset" + (x - 1)).getValue
                            }" />
                        </div>

                        <div class="staticField">
                            <label for="radiation">Radiation</label>
                            <input name="radiation" type="text" class="fInput" value="@if(fields.get("radiation" + (x - 1)) != null) @{
                                fields.get("radiation" + (x - 1)).getValue
                            }" />
                        </div>

                    </div>

                    <div class="rightHPI">
                        <div class="staticField">
                            <label for="quality">Quality</label>
                            <input name="quality" type="text" class="fInput" value="@if(fields.get("quality" + (x - 1)) != null) @{
                                fields.get("quality" + (x - 1)).getValue
                            }" />
                        </div>

                        @* Severity *@
                        <div class="staticField">
                        @if(fields.get("severity" + (x - 1)) != null) {
                            @severityDropDown(fields.get("severity" + (x - 1)).getValue)
                        } else {
                            @severityDropDown(null)
                        }
                        </div>


                    </div>
                    <div class="bottomHPI">

                        <div class="staticField">
                            <label for="provokes">Provokes</label>
                            <input name="provokes" type="text" class="fInput" value="@if(fields.get("provokes" + (x - 1)) != null) @{
                                fields.get("provokes" + (x - 1)).getValue
                            }" />
                        </div>

                        <div class="staticField">
                            <label for="palliates">Palliates</label>
                            <input name="palliates" type="text" class="fInput" value="@if(fields.get("palliates" + (x - 1)) != null) @{
                                fields.get("palliates" + (x - 1)).getValue
                            }" />
                        </div>

                        <div class="staticField">
                            <label for="timeOfDay">Time Of Day</label>
                            <input name="timeOfDay" type="text" class="fInput" value="@if(fields.get("timeOfDay" + (x - 1)) != null) @{
                                fields.get("timeOfDay" + (x - 1)).getValue
                            }" />
                        </div>

                        <div class="staticField">
                            <label for="narrative">Narrative</label>
                            <input name="narrative" type="text" class="fInput" value="@if(fields.get("narrative" + (x - 1)) != null) @{
                                fields.get("narrative" + (x - 1)).getValue
                            }" />
                        </div>

                        <div class="staticField">
                            @* Physical Examination *@
                            <label for="physicalExamination">Physical Examination</label>
                            <textarea rows="3" name="physicalExamination" class="form-control input-sm">@if(fields.get("physicalExamination" + (x - 1)) != null) @{
                                fields.get("physicalExamination" + (x - 1)).getValue
                            }</textarea>
                        </div>
                    </div>


                }else {
                    <div class="staticField">
                        <label for="narrative">Narrative</label>
                        <textarea name="narrative" class="fNarrativeTextArea" >@if(fields.get("narrative" + (x - 1)) != null) @{
                            fields.get("narrative" + (x - 1)).getValue
                        }</textarea>
                    </div>
                }
            }
        </div>

    }



</div>
