@(hpiTab: femr.common.models.TabItem, isConsolidated: java.lang.Boolean)

@import femr.ui.views.html.partials.medical.severityDropDown;

<div class="controlWrap" id="hpiControl">


    @if(hpiTab.getTabFieldMultiMap.getSize() > 1) {
        @* Slider for navigating each HPI, only shows up if > 1 chief complaint exists *@
        <div id="chiefComplaintSliderWrap">
            @* Left arrow *@
            <div id="chiefComplaintLeftArrow">
                <span> < </span>
            </div>

            @* Complaint list *@
            @for(chiefComplaint <- hpiTab.getTabFieldMultiMap.getChiefComplaintList) {
                <div class="chiefComplaintText hidden">
                    <span>@chiefComplaint</span>
                </div>
            }

            @* Right arrow *@
            <div id="chiefComplaintRightArrow">
                <span> > </span>
            </div>
        </div>
    }
    @* Make an HPI page for each chief complaint *@
    @for(chiefComplaint <- hpiTab.getTabFieldMultiMap.getChiefComplaintList) {
        @* Hide the div if multiple chief complaints *@
        <div class="hpiWraps hidden">

        @if(!isConsolidated) {
            <div class="leftHPI">

                <div class="staticField">
                    <label for="onset">Onset</label>

                    <input name="tabFieldItems[].name" type="text" class="hidden" value="onset"/>
                    <input name="tabFieldItems[].chiefComplaint" type="text" class="hidden" value="@chiefComplaint"/>
                    <input name="tabFieldItems[].value" type="text" class="fInput" value="@hpiTab.getTabFieldMultiMap.getMostRecent("onset", chiefComplaint)" />


                </div>

                <div class="staticField">
                    <label for="radiation">Radiation</label>
                    <input name="tabFieldItems[].name" type="text" class="hidden" value="radiation"/>
                    <input name="tabFieldItems[].chiefComplaint" type="text" class="hidden" value="@chiefComplaint"/>
                    <input name="tabFieldItems[].value" type="text" class="fInput" value="@hpiTab.getTabFieldMultiMap.getMostRecent("radiation", chiefComplaint)" />
                </div>

            </div>

            <div class="rightHPI">
                <div class="staticField">
                    <label for="quality">Quality</label>
                    <input name="tabFieldItems[].name" type="text" class="hidden" value="quality"/>
                    <input name="tabFieldItems[].chiefComplaint" type="text" class="hidden" value="@chiefComplaint"/>
                    <input name="tabFieldItems[].value" type="text" class="fInput" value="@hpiTab.getTabFieldMultiMap.getMostRecent("quality", chiefComplaint)" />
                </div>

                @* Severity *@
                <div class="staticField">
                @severityDropDown(chiefComplaint, hpiTab.getTabFieldMultiMap.getMostRecent("severity", chiefComplaint))
                </div>


            </div>
            <div class="bottomHPI">

                <div class="staticField">
                    <label for="provokes">Provokes</label>
                    <input name="tabFieldItems[].name" type="text" class="hidden" value="provokes"/>
                    <input name="tabFieldItems[].chiefComplaint" type="text" class="hidden" value="@chiefComplaint"/>
                    <input name="tabFieldItems[].value" type="text" class="fInput" value="@hpiTab.getTabFieldMultiMap.getMostRecent("provokes", chiefComplaint)" />
                </div>

                <div class="staticField">
                    <label for="palliates">Palliates</label>
                    <input name="tabFieldItems[].name" type="text" class="hidden" value="palliates"/>
                    <input name="tabFieldItems[].chiefComplaint" type="text" class="hidden" value="@chiefComplaint"/>
                    <input name="tabFieldItems[].value" type="text" class="fInput" value="@hpiTab.getTabFieldMultiMap.getMostRecent("palliates", chiefComplaint)" />
                </div>

                <div class="staticField">
                    <label for="timeOfDay">Time Of Day</label>
                    <input name="tabFieldItems[].name" type="text" class="hidden" value="timeOfDay"/>
                    <input name="tabFieldItems[].chiefComplaint" type="text" class="hidden" value="@chiefComplaint"/>
                    <input name="tabFieldItems[].value" type="text" class="fInput" value="@hpiTab.getTabFieldMultiMap.getMostRecent("timeOfDay", chiefComplaint)" />
                </div>

                <div class="staticField">
                    <label for="narrative">Narrative</label>
                    <input name="tabFieldItems[].name" type="text" class="hidden" value="narrative"/>
                    <input name="tabFieldItems[].chiefComplaint" type="text" class="hidden" value="@chiefComplaint"/>
                    <input name="tabFieldItems[].value" type="text" class="fInput" value="@hpiTab.getTabFieldMultiMap.getMostRecent("narrative", chiefComplaint)" />
                </div>

                <div class="staticField">
                    @* Physical Examination *@
                    <label for="physicalExamination">Physical Examination</label>
                    <input name="tabFieldItems[].name" type="text" class="hidden" value="physicalExamination"/>
                    <input name="tabFieldItems[].chiefComplaint" type="text" class="hidden" value="@chiefComplaint"/>
                    <textarea rows="3" name="tabFieldItems[].value" class="form-control input-sm">@hpiTab.getTabFieldMultiMap.getMostRecent("physicalExamination", chiefComplaint)
                        " </textarea>
                </div>
            </div>

        } else {
            <div class="staticField">
                <label for="narrative">Narrative</label>
                <input name="tabFieldItems[].name" type="text" class="hidden" value="narrative"/>
                <input name="tabFieldItems[].chiefComplaint" type="text" class="hidden" value="@chiefComplaint"/>
                <textarea name="tabFieldItems[].value" class="fNarrativeTextArea" >@hpiTab.getTabFieldMultiMap.getMostRecent("narrative", chiefComplaint)</textarea>
            </div>
        }
        </div>
    }


</div>
