@(hpiTab: femr.common.models.TabItem, isConsolidated: java.lang.Boolean)

@import femr.ui.views.html.partials.medical.severityDropDown;

<div class="controlWrap" id="hpiControl">


    @if(hpiTab.getNumberOfChiefComplaints > 1){
        @* Slider for navigating each HPI, only shows up if > 1 chief complaint exists *@
        <div id="chiefComplaintSliderWrap">
            @* Left arrow *@
            <div id="chiefComplaintLeftArrow">
                <span> < </span>
            </div>

            @* Complaint list *@
            @for((key, valyew) <- hpiTab.getFields){
                <div class="chiefComplaintText hidden">
                    <span>@key</span>
                </div>
            }

            @* Right arrow *@
            <div id="chiefComplaintRightArrow">
                <span> > </span>
            </div>
        </div>
    }

    @* Make an HPI page for each chief complaint *@
    @for((key, valyew) <- hpiTab.getFields) {
        @* Hide the div if multiple chief complaints *@
        <div class="hpiWraps hidden">

        @if(!isConsolidated) {
            <div class="leftHPI">

                <div class="staticField">
                    <label for="onset">Onset</label>
                    <input name="onset" type="text" class="fInput" value="@if(hpiTab.getTabFieldItemByName(key, "onset") != null) @{
                        hpiTab.getTabFieldItemByName(key, "onset").getValue
                    }" />
                </div>

                <div class="staticField">
                    <label for="radiation">Radiation</label>
                    <input name="radiation" type="text" class="fInput" value="@if(hpiTab.getTabFieldItemByName(key, "radiation") != null) @{
                        hpiTab.getTabFieldItemByName(key, "radiation").getValue
                    }" />
                </div>

            </div>

            <div class="rightHPI">
                <div class="staticField">
                    <label for="quality">Quality</label>
                    <input name="quality" type="text" class="fInput" value="@if(hpiTab.getTabFieldItemByName(key, "quality") != null) @{
                        hpiTab.getTabFieldItemByName(key, "quality").getValue
                    }" />
                </div>

                @* Severity *@
                <div class="staticField">
                @if(hpiTab.getTabFieldItemByName(key, "severity") != null) {
                    @severityDropDown(hpiTab.getTabFieldItemByName(key, "severity").getValue)
                } else {
                    @severityDropDown(null)
                }
                </div>


            </div>
            <div class="bottomHPI">

                <div class="staticField">
                    <label for="provokes">Provokes</label>
                    <input name="provokes" type="text" class="fInput" value="@if(hpiTab.getTabFieldItemByName(key, "provokes") != null) @{
                        hpiTab.getTabFieldItemByName(key, "provokes").getValue
                    }" />
                </div>

                <div class="staticField">
                    <label for="palliates">Palliates</label>
                    <input name="palliates" type="text" class="fInput" value="@if(hpiTab.getTabFieldItemByName(key, "palliates") != null) @{
                        hpiTab.getTabFieldItemByName(key, "palliates").getValue
                    }" />
                </div>

                <div class="staticField">
                    <label for="timeOfDay">Time Of Day</label>
                    <input name="timeOfDay" type="text" class="fInput" value="@if(hpiTab.getTabFieldItemByName(key, "timeOfDay") != null) @{
                        hpiTab.getTabFieldItemByName(key, "timeOfDay").getValue
                    }" />
                </div>

                <div class="staticField">
                    <label for="narrative">Narrative</label>
                    <input name="narrative" type="text" class="fInput" value="@if(hpiTab.getTabFieldItemByName(key, "narrative") != null) @{
                        hpiTab.getTabFieldItemByName(key, "narrative").getValue
                    }" />
                </div>

                <div class="staticField">
                    @* Physical Examination *@
                    <label for="physicalExamination">Physical Examination</label>
                    <textarea rows="3" name="physicalExamination" class="form-control input-sm">@if(hpiTab.getTabFieldItemByName(key, "physicalExamination") != null) @{
                        hpiTab.getTabFieldItemByName(key, "physicalExamination").getValue
                    }</textarea>
                </div>
            </div>


        } else {
            <div class="staticField">
                <label for="narrative">Narrative</label>
                <textarea name="narrative" class="fNarrativeTextArea" >@if(hpiTab.getTabFieldItemByName(key, "narrative") != null) @{
                    hpiTab.getTabFieldItemByName(key, "narrative").getValue
                }</textarea>
            </div>
        }
        </div>

    }


</div>
