@(photos: List[femr.common.models.PhotoItem])

<div class="controlWrap hidden" id="photosControl">
    <div class="form-group femr-field">
        <label for="btnAddPhoto" class="control-label" id="partials_medical_tabs_photo_Add">Add Photo:</label>
        <div id="photoInputContainer">
            <input type="file" class="form-control femr-input" onchange="imageInputChange ( this )" placeholder="Choose Image" />
        </div>
    </div>
    <div id="patientImageList" class="femr-photo-grid">
    @for(photoRec <- photos) {
        <div class="femr-photo-card">
            <img src="@photoRec.getImageUrl" alt="Patient photo">
            <div class="femr-photo-card__body">
                <p name="photoDescription" >@photoRec.getImageDesc</p>
                <div class="femr-photo-card__actions">
                    <button id="btnEditText" type="button" onclick="portraitEdit ( this )" class="btn btn-default btn-med femr-btn femr-btn--ghost">
                        <span class="glyphicon glyphicon-edit"></span> Edit Description
                    </button>
                    <button id="btnDeletePhoto" type="button" onclick="portraitDelete ( this )" class="btn btn-danger btn-med femr-btn femr-btn--danger">
                        <span class="glyphicon glyphicon-trash"></span> Delete
                    </button>
                </div>
                <p>@photoRec.getImageDate</p>
            </div>
                <!-- Data elements for server-side logic -->
            <div name="dataList" hidden="true">
                    <!-- Signals that user has requested to delete this photo from the database / server -->
                <input hidden="true" type="checkbox" name="deleteRequested" checked="false" value="false" />
                    <!-- Signals that the user has updated a description -->
                <input hidden="true" type="checkbox" name="hasUpdatedDesc" checked="false" value="false" />
                    <!-- Place holder for new images -->
                <input hidden="true" type="file" name="patientPhoto" />
                    <!-- text for POST -->
                <input hidden="true" type="text" name="imageDescText" value="@photoRec.getImageDesc" />
                    <!-- photo Id -->
                <input hidden="true" type="text" name="photoId" value="@photoRec.getId.toString" />
            </div>
        </div>
    }

    </div>
</div>