@(pmhTab: femr.common.models.TabItem)

<div class="controlWrap hidden" id="pmhControl">
    <div class="form-group">
        <label for="medicalSurgicalHistory">Medical/Surgical History</label>
        <input type="text" class="hidden" name="tabFieldItems[].name" value="medicalSurgicalHistory"/>
        <textarea name="tabFieldItems[].value" class="form-control input-sm" >@pmhTab.getTabFieldMultiMap.getMostRecent("medicalSurgicalHistory", "")</textarea>
    </div>
    <div class="form-group">
        <label for="socialHistory">Social History</label>
        <input type="text" class="hidden" name="tabFieldItems[].name" value="socialHistory"/>
        <textarea name="tabFieldItems[].value" class="form-control input-sm" >@pmhTab.getTabFieldMultiMap.getMostRecent("socialHistory", "")</textarea>
    </div>
    <div class="form-group">
        <label for="currentMedication">Current Medications</label>
        <input type="text" class="hidden" name="tabFieldItems[].name" value="currentMedication"/>
        <textarea name="tabFieldItems[].value" class="form-control input-sm">@pmhTab.getTabFieldMultiMap.getMostRecent("currentMedication", "")</textarea>
    </div>
    <div class="form-group">
        <label for="familyHistory">Family History</label>
        <input type="text" class="hidden" name="tabFieldItems[].name" value="familyHistory"/>
        <textarea name="tabFieldItems[].value" class="form-control input-sm">@pmhTab.getTabFieldMultiMap.getMostRecent("familyHistory", "")</textarea>
    </div>
</div>