@(treatmentTab: femr.common.models.TabItem, prescriptions: List[femr.common.models.PrescriptionItem])

@import femr.ui.views.html.partials.medical.problemField;
@import femr.ui.views.html.partials.medical.prescriptionField;

<div class="controlWrap hidden" id="treatmentControl">
    <div class="form-group">
        <label for="assessment">Assessment</label>
        <textarea rows="3" name="assessment" class="form-control input-sm">@if(treatmentTab.getTabFieldItemByName("assessment") != null) @{
            treatmentTab.getTabFieldItemByName("assessment").getValue
        }</textarea>
    </div>
    <div class="form-group">
        <label for="problem">Diagnosis</label>
        <div class="row">
            <div class="col-xs-9 col-sm-9 col-md-9">
                @problemField(0, treatmentTab.getTabFieldItemByName("problem0"))
                @problemField(1, treatmentTab.getTabFieldItemByName("problem1"))
                @problemField(2, treatmentTab.getTabFieldItemByName("problem2"))
                @problemField(3, treatmentTab.getTabFieldItemByName("problem3"))
                @problemField(4, treatmentTab.getTabFieldItemByName("problem4"))
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3">
                <div class="row">
                    <button id="addProblemButton" class="btn addSubtractBtn" type="button"><span class="glyphicon glyphicon-plus"></span></button>
                </div>
                <div class="row">
                    <button id="subtractProblemButton" class="btn addSubtractBtn" type="button"><span class="glyphicon glyphicon-minus"></span></button>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="prescription">Prescriptions</label>
        <div class="row">
            <div class="col-xs-9 col-sm-9 col-md-9">
                @prescriptionField(1, prescriptions)
                @prescriptionField(2, prescriptions)
                @prescriptionField(3, prescriptions)
                @prescriptionField(4, prescriptions)
                @prescriptionField(5, prescriptions)
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3">
                <div class="row">
                    <button id="addPrescriptionButton" class="btn addSubtractBtn" type="button"><span class="glyphicon glyphicon-plus"></span></button>
                </div>
                <div class="row">
                    <button id="subtractPrescriptionButton" class="btn addSubtractBtn" type="button"><span class="glyphicon glyphicon-minus"></span></button>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="treatment">Treatment Given</label>
        <textarea rows="3" name="treatment" class="form-control input-sm">@if(treatmentTab.getTabFieldItemByName("treatment") != null) @{
            treatmentTab.getTabFieldItemByName("treatment").getValue
        }</textarea>
    </div>
</div>