@(treatmentTab: femr.common.models.TabItem, prescriptions: List[femr.common.models.PrescriptionItem], medicationAdministrationItems: List[femr.common.models.MedicationAdministrationItem], problems: List[femr.common.models.ProblemItem], whoReporting: Boolean)

@import femr.ui.views.html.partials.medical.tabs.prescriptionRow

<div class="controlWrap hidden" id="treatmentControl">
    <div class="form-group">
        <label for="assessment" id="partials_medical_tabs_treatment_Assessment" >Assessment</label>
        @defining(treatmentTab.getTabFieldItemByName(null, "assessment")) { assessment =>
            <input name="tabFieldItems[@assessment.getIndex].name" type="text" class="hidden" value="assessment"/>
            <textarea rows="3" name="tabFieldItems[@assessment.getIndex].value" class="form-control input-sm" id="assessmentTab">@assessment.getValue</textarea>
            <div class="hidden" id="assessmentTabStore"></div>
        }
        </div>

    <div class="form-group">
        <label for="problem" id="partials_medical_tabs_treatment_Diagnosis">Diagnosis</label>
        <div class="row">
            <div class="col-xs-10 col-sm-10 col-md-10 problemWrap">
                @for(problem <- problems) {
                    <div class="input-group" @if(problem.getWhoHealthEvent != null && !problem.getWhoHealthEvent.isEmpty){data-who-health-event="@problem.getWhoHealthEvent"}>
                            <input type="text" class="form-control oldProblems" value="@problem.getName" readonly/>

                        <span class="input-group-btn">
                            <button type="button" class="btn btn-danger deleteProblem" data-problem="@problem.getName"><span class="glyphicon glyphicon-remove"></span></button>
                        </span>
                    </div>
                }
                <div class="problem">
                    <input name="problems[0].name" type="text" class="form-control newProblems"/>
                </div>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <button id="addProblemButton" class="btn addSubtractBtn pull-right" type="button"><span class="glyphicon glyphicon-plus"></span></button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <button id="subtractProblemButton" class="btn addSubtractBtn pull-right" type="button"><span class="glyphicon glyphicon-minus"></span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-xs-10 col-sm-10 col-md-10 prescriptionWrap">
                <div class="prescription-grid prescriptionHeader">
                    <label class="prescription-field prescriptionName" for="prescription" id="partials_medical_tabs_treatment_Prescriptions">Prescriptions</label>
                    <label class="prescription-field prescriptionAdministration" id="partials_medical_tabs_treatment_Administration">Administration</label>
                    <label class="prescription-field prescriptionAdministrationDays" id="partials_medical_tabs_treatment_Days">Days</label>
                    <label class="prescription-field prescriptionAmount" id="partials_medical_tabs_treatment_Amount">Amount</label>
                </div>

                @for(script <- prescriptions) {

                    @prescriptionRow( medicationAdministrationItems, 0, script )
                }

                <div class="newPrescriptionsContainer">
                @prescriptionRow( medicationAdministrationItems, 0, null )
                </div>

            </div>
            <div class="col-xs-2 col-sm-2 col-md-2">
                <div class="row">
                    <button id="addPrescriptionButton" class="btn addSubtractBtn" type="button"><span class="glyphicon glyphicon-plus"></span></button>
                </div>
                <div class="row">
                    <button id="subtractPrescriptionButton" class="btn addSubtractBtn" type="button"><span class="glyphicon glyphicon-minus"></span></button>
                </div>
            </div>
        </div>
        <p id="partials_medical_tabs_treatment_looking">Don't see what you're looking for? Only medications in stock will appear.</p>
    </div>
    <div class="form-group">
        <label for="treatment" id="partials_medical_tabs_treatment_Procedure">Procedure/Counseling</label>
        @defining(treatmentTab.getTabFieldItemByName(null, "procedure_counseling")) { treatment =>
            <input name="tabFieldItems[@treatment.getIndex].name" type="text" class="hidden" value="procedure_counseling"/>
            <textarea rows="3" name="tabFieldItems[@treatment.getIndex].value" class="form-control input-sm" placeholder="Ex: Suturing, Ultrasound, Splint, etc..." id="procedureTab">@treatment.getValue</textarea>
            <div class="hidden" id="procedureTabStore"></div>
        }
        @if(whoReporting) {
        <div id="whoReportingEnabled" class="hidden"></div>
        @defining(treatmentTab.getTabFieldItemByName(null, "whoProcedure")) { savedProc =>
        @defining(if(savedProc != null && savedProc.getValue != null) savedProc.getValue else "") { savedProcValue =>
        <div class="who-searchable-dropdown" @if(!savedProcValue.isEmpty){data-saved-procedure="@savedProcValue"}>
            <div class="who-dropdown-toggle">
                <span class="who-dropdown-label">@if(!savedProcValue.isEmpty){@savedProcValue}else{- WHO Procedure -}</span>
                <span class="caret"></span>
            </div>
            <div class="who-dropdown-menu">
                <input type="text" class="who-search-input" placeholder=""/>
                <ul class="who-dropdown-list">
                    <li class="who-item" data-value="Major procedure (excluding MDS31)" data-id="1">Major procedure (excluding MDS31)</li>
                    <li class="who-item" data-value="Limb amputation excluding digits" data-id="2">Limb amputation excluding digits</li>
                    <li class="who-item" data-value="Minor surgical procedure" data-id="3">Minor surgical procedure</li>
                    <li class="who-item" data-value="Normal Vaginal Delivery (NVD)" data-id="4">Normal Vaginal Delivery (NVD)</li>
                    <li class="who-item" data-value="Caesarean section" data-id="5">Caesarean section</li>
                    <li class="who-item" data-value="Obstetrics others" data-id="6">Obstetrics others</li>
                </ul>
            </div>
            <input type="hidden" name="whoProcedure" class="who-selected-value" value="@savedProcValue"/>
            <input type="hidden" name="whoProcedureId" class="who-selected-id"/>
        </div>
        }}
        }
    </div>
    <div class="form-group">
        <label for="treatment" id="partials_medical_tabs_treatment_Pharmacy">Pharmacy Note</label>
        @defining(treatmentTab.getTabFieldItemByName(null, "pharmacy_note")) { treatment =>
            <input name="tabFieldItems[@treatment.getIndex].name" type="text" class="hidden" value="pharmacy_note"/>
            <textarea rows="3" name="tabFieldItems[@treatment.getIndex].value" class="form-control input-sm" placeholder="Ex: Three times/day for two weeks, etc..." id="pharmacyTab">@treatment.getValue</textarea>
            <div class="hidden" id="pharmacyTabStore"></div>
        }
    </div>
</div>
