@(currentUser: femr.common.dto.CurrentUser, viewModel:femr.ui.models.research.FilterViewModel)

@import femr.ui.views.html.layouts.main
@import femr.ui.controllers.routes.ResearchController

    @additionalStyles = {
        <link rel="stylesheet" href="@routes.Assets.at("css/research.css")">
    }
    @additionalScripts = {
        <script type="text/javascript" src="@routes.Assets.at("js/research/generateData.js")"></script>

    }

@main("Research", currentUser, styles = additionalStyles, scripts = additionalScripts) {

        <h1>Generate Test Data</h1>
    How many did you want to generate: <input type="text" id="field1" value="1"><br>
    <input id="generateData" type="button" value="Generate" onclick="generate();" />
    
}
