@(currentUser: femr.business.dtos.CurrentUser, viewModelRequest: femr.ui.models.research.CreateViewModelPost,
               viewModelQueryObject: femr.ui.models.research.QueryObjectPatientModel)

@import femr.ui.controllers.research.routes.ResearchController
@import femr.ui.views.html.layouts.main

    @additionalScripts = {
        <script type = "text/javascript" src="@routes.Assets.at("js/femr.js")"></script>
    }

@main("Research",currentUser, scripts = additionalScripts) {
    <p>Research: Place holder</p>
}



   <!-- TODO-RESEARCH: Create the Research initial query page -->