@(currentUser: femr.business.dtos.CurrentUser, viewModel: femr.ui.models.research.CreateViewModelGet)

@import femr.ui.controllers.research.routes.ResearchController
@import femr.ui.views.html.layouts.main

    @additionalStyles = {
        <link rel="stylesheet" href="@routes.Assets.at("css/research.css")">
    }
    @additionalScripts = {
        <script type = "text/javascript" src="@routes.Assets.at("js/femr.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("js/research/research.js")"></script>
    }

@main("Research", currentUser, styles = additionalStyles, scripts = additionalScripts) {
    @helper.form(action = ResearchController.createPost()) {

        <div class="selectWrap">
            <div class="selectGroup">
                <h4>Properties</h4>
                <select>
                    <option>Select...</option>
                    @for(prop <- 1 to viewModel.getPatientModel.getPatientProperties.size) {
                        <option>@viewModel.getPatientModel.getPatientProperties.get(prop - 1).getKey</option>
                    }
                </select>
            </div>
            <div class="selectGroup">
                <h4>Operators</h4>
                <select>
                    <option>Select...</option>
                    @for(oper <- 1 to viewModel.getPatientModel.getComparisonList.size) {
                        <option>@viewModel.getPatientModel.getComparisonList.get(oper - 1)</option>
                    }
                </select>
            </div>
            <div class="selectGroup">
                <h4>Boolean</h4>
                <select>
                    <option>Select...</option>
                    @for(bool <- 1 to viewModel.getPatientModel.getConditionList.size) {
                        <option>@viewModel.getPatientModel.getConditionList.get(bool - 1)</option>
                    }
                </select>
            </div>
            <div class="selectGroup">
                <button type="button" id="addExpressionBtn">Add</button>
            </div>
        </div>
        <div class="queryWrap">
            @* Use the object oriented aspect of javascript to formulate the string from
            the following lists *@

            @* In the meantime, format the lists to look good for the user *@
            <ol class="expressions">
                <li id="expression1">
                     <ol>
                         <li class="property">Age</li>
                         <li class="operator"><</li>
                         <li class="value">12</li>
                         <li class="boolean">AND</li>
                     </ol>
                </li>
                <li id="expression2">
                    <ol>
                        <li class="property">Sex</li>
                        <li class="operator">=</li>
                        <li class="value">Male</li>
                        <li class="boolean">OR</li>
                    </ol>
                </li>
                <li id="expression3">
                    <ol>
                        <li class="property">Medication</li>
                        <li class="operator">=</li>
                        <li class="value">Tylenol</li>
                    </ol>
                </li>
            </ol>
        </div>




        <button type="submit" class="btn btn-default">Submit</button>
    }


}

    <!--
        Age > 12 AND Medication = Tylenol
        -->


    <!-- TODO-RESEARCH: Create the Research initial query page -->