@(currentUser: femr.common.dtos.CurrentUser,
        viewModel: femr.ui.models.admin.updates.IndexViewModelGet,
        assets: AssetsFinder,
        messages: java.util.List[_ <: java.lang.String])

@import femr.ui.controllers.admin.routes.UpdatesController
@import femr.ui.views.html.layouts.admin

    @additionalStyles = {
        <link rel="stylesheet" href="@assets.path("css/admin/updates.css")">
    }
    @additionalMessages = {
        @for(message <- messages) {
        <p class="adminMessage">@message</p>
        }
    }

@admin("Updates", currentUser, styles = additionalStyles, assets = assets, message = additionalMessages) {
        <div class="right">
            <h2>Database Status  __________</h2>

            <table>
                @for((key,valyew) <- viewModel.getDatabaseStatus) {
                    <tr>
                        <td>@key:</td>
                        <td>@valyew</td>
                    </tr>
                }
                @helper.form(action = UpdatesController.databasePost()) {
                    <tr>
                        <td>Create Backup:</td>
                        <td>
                            <input type="submit" class="updateButton" value="Back Up Now"/>
                        </td>
                    </tr>
                }
            </table>
        </div>


        <div class ="left">
            <h2>Network Status __________</h2>

            <table id="networkstatus">
                @for((key,valyew) <- viewModel.getNetworkStatus) {
                    <tr>
                        <td>@key:</td>
                        <td>@valyew</td>
                    </tr>
                }
            </table>
        </div>

        <div class= "rightBelow">
            <h2>Available Updates __________</h2>
            <table>
                <tr>
                    @if(viewModel.isUpdateAvailable) {
                        @helper.form(action = UpdatesController.kitUpdatePost()) {
                            <td>Kit Update: Available</td><td>
                            <input type="submit" class="updateButton" value="Update"/></td>
                        }
                    } else {<td>Kit Update: Already up to date</td>}
                </tr>

            </table>

        </div>


        <div class = "left">
            <h2>fEMR Kit Status __________</h2>

            <table id="kitstatus">
                @for((key2,valyew2) <- viewModel.getKitStatus) {
                    <tr>
                        <td>@key2:</td>
                        <td>@valyew2</td>
                    </tr>
                }
            </table>
        </div>

}
