@(currentUser: femr.common.dtos.CurrentUser,
        viewModel: femr.ui.models.admin.updates.IndexViewModelGet,
        assets: AssetsFinder,
        messages: java.util.List[_ <: java.lang.String])

@import femr.ui.controllers.admin.routes.UpdatesController
@import femr.ui.views.html.layouts.admin

    @additionalStyles = {
        <link rel="stylesheet" href="@assets.path("css/admin/configure.css")">
    }
    @additionalMessages = {
        @for(message <- messages) {
        <p class="adminMessage">@message</p>
        }
    }
    @downloadSpeed = @{viewModel.getNetworkStatus.get("Download").substring(0, viewModel.getNetworkStatus.get("Download").indexOf(".")).toInt}

@admin("Updates", currentUser, styles = additionalStyles, assets = assets, message = additionalMessages) {

        <div id="updates-content">
            <div id="left-div">
                <div id="network-status">
                    <h2>Network Status</h2>

                    <table id="networkstatus">
                        <div>
                            <div>
                            @helper.form(action = UpdatesController.refreshInternetStatus()) {
                                <td>
                                    <input type="submit" class="fButton" value="Refresh Internet Status"/>
                                </td>
                            }
                            </div>
                            <div>
                                @if(downloadSpeed > 5) {
                                    <img src=@assets.path("networkIcons/good_connection_icon.png") width="75" height="75"/>
                                } else if(downloadSpeed > 2 && downloadSpeed < 5) {
                                <img src=@assets.path("networkIcons/okay_connection_icon.png") width="75" height="75"/>
                                } else {
                                <img src=@assets.path("networkIcons/poor_connection_icon.png") width="75" height="75"/>
                                }
                            </div>
                        </div>
                        @for((key,valyew) <- viewModel.getNetworkStatus) {
                            <tr>
                                <td>@key:</td>
                                <td>@valyew</td>
                            </tr>
                        }
                    </table>
                </div>
                <div id="kit-status">
                    <h2>fEMR Kit Status</h2>

                    <table id="kitstatus">
                    @for((key2,valyew2) <- viewModel.getKitStatus) {
                        <tr>
                            <td>@key2:</td>
                            <td>@valyew2</td>
                        </tr>
                    }
                    </table>
                </div>
            </div>

            <div id="middle-div">

                <div id="language-package-updates">
                    <h2>Scheduled Updates</h2>
                    <input type="submit" class="fButton" value="Update Now"/>
                    <div id="package-table-wrapper">
                        <table style="height: 100%;">
                        </table>
                    </div>
                </div>
                <div id="languages">
                    <h2>Languages</h2>
                    <div id="language-table-wrapper">
                        <table id="language-table">
                            @for(language <- viewModel.getLanguages){
                                <tr>
                                @if(language.getStatus() == "Fully Supported") {
                                    <td><div class="status-box" style="background-color: green;"></div></td>
                                    <td>@language.getLanguageName()</td>
                                    <td ><input type="checkbox" class="language-checkbox" disabled checked/></td>
                                } else if(language.getStatus() == "Partially Supported"){
                                    <td><div class="status-box" style="background-color: yellow;"></div></td>
                                    <td>@language.getLanguageName()</td>
                                    <td ><input type="checkbox" class="language-checkbox"/></td>
                                } else{
                                    <td><div class="status-box" style="background-color: red;"></div></td>
                                    <td>@language.getLanguageName()</td>
                                    <td ><input type="checkbox" class="language-checkbox"/></td>
                                }
                                </tr>
                            }
                        </table>
                    </div>
                </div>
            </div>

            <div id="right-div">
                <div id="database-status">
                    <h2>Database Status</h2>

                    <table>
                        @for((key,valyew) <- viewModel.getDatabaseStatus) {
                            <tr>
                                <td>@key:</td>
                                <td>@valyew</td>
                            </tr>
                        }
                        @helper.form(action = UpdatesController.databasePost()) {
                            <tr>
                                <td>Create Backup:</td>
                                <td>
                                    <input type="submit" class="fButton" value="Back Up Now"/>
                                </td>
                            </tr>
                        }
                    </table>
                </div>
                <div id="available-updates">
                    <h2>Available Updates</h2>
                    <table>
                        <tr>
                        @if(viewModel.isUpdateAvailable) {
                            @helper.form(action = UpdatesController.kitUpdatePost()) {
                                <td>Kit Update: Available</td><td>
                                    <input type="submit" class="fButton" value="Update"/></td>
                            }
                        } else {<td>Kit Update: Already up to date</td>}
                        </tr>

                    </table>

                </div>
            </div>
        </div>
}
