@(title: String)(styles: Html)(scripts: Html)(content: Html)

<!DOCTYPE html>
<html class="no-js">
  <head>
    <title>@title | fEMR - The free EMR</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">

    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("img/favicon.png")">

    <link rel="stylesheet" href="@routes.Assets.at("css/bootstrap.min.css")">
    @styles

    <script type="text/javascript" src="@routes.Assets.at("js/modernizr-2.6.2.min.js")"></script>
  </head>
  <body>
    @content

    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script type="text/javascript" src="@routes.Assets.at("js/jquery-2.0.3.min.js")"><\/script>')</script>
    @scripts
  </body>
</html>
