@(vitalNames: List[_ <: femr.common.models.IVital],currentUser: femr.business.dtos.CurrentUser)

@import femr.ui.views.html.layouts.main
@import femr.ui.controllers.routes.TriageController

@additionalStyles = {
  <link rel="stylesheet" href="@routes.Assets.at("css/triage.css")">
}
@additionalScripts = {
  <script type="text/javascript" src="@routes.Assets.at("js/triage/triage.js")"></script>
}

@main("triage", currentUser, styles = additionalStyles, scripts = additionalScripts) {
  @helper.form(action = TriageController.createPost()) {

    <div class="row">
      <div class ="well">

        <div class="row triageInputRow">
          <div class="col-sm-6 col-xs-6">
            <h3 class="text-center pull-left bold margin-top-zero">General Info</h3>
            <div class="medicalHistoryLineDivide"></div>
            <div class="text-center">
              <label class="inputLabel" for="firstName">First Name:</label>
              <input type="text" class="form-control input-sm" id="firstName" name="firstName"/>
              <label class="inputLabel" for="lastName">Last Name:</label>
              <input type="text" class="form-control input-sm" id="lastName" name="lastName"/>
              <label class="inputLabel" for="address">Address:</label>
              <input type="text" class="form-control input-sm" id="address" name="address"/>
              <label class="inputLabel" for="city">City:</label>
              <input type="text" class="form-control input-sm" id="city" name="city"/>
              <label class="inputLabel" for="age">Age:</label>
              <input type="text" class="form-control input-sm" id="age" name="age"/>

              <label class="inputLabel">Gender:</label>
              <div class="btn-group pull-left" data-toggle="buttons">
                <label class="btn btn-default">
                  <input type="radio" name="sex" id="maleBtn" value="Male">Male
                </label>
                <label class="btn btn-default">
                  <input type="radio" name="sex" id="femaleBtn" value="Female">Female
                </label>
              </div>

              <div id="pregnantWrap" class="hidden">
                <label class="inputLabel clear-none">Pregnant?</label>
                <div class="btn-group pull-left" data-toggle="buttons">
                  <label class="btn btn-default">
                    <input type="checkbox" name="pregnant" id="pregnantBtn">Yes
                  </label>
                </div>
                <div id="weeksWrap" class="hidden">
                  <label class="inputLabel">Weeks:</label>
                  <input type="text" class="form-control input-sm" name="pregnancyWeeks">
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-6 col-xs-6">


            <h3 class="text-center pull-left bold margin-top-zero">Vitals</h3>
            @*recycle sign?*@
            <button type="button" class="newPatientBtn btn btn-default pull-right">New Patient</button>
            <div class="medicalHistoryLineDivide"></div>

            <div class="col-sm-6 col-xs-6 padding-right-zero padding-left-zero">
              <div class="text-center">

                  <label class="inputLabel" for="bloodPressureSystolic">Blood Pressure:</label>
                <div class="col-sm-6 col-xs-6 padding-left-zero">
                <input type="text" class="form-control input-sm" id="bloodPressureSystolic" name="@vitalNames.get(7).getName"/>
                  </div>
                <div class="col-sm-6 col-xs-6 padding-left-zero">
                  <input type="text" class="form-control input-sm" id="bloodPressureDiastolic" name="@vitalNames.get(8).getName"/>
                </div>
                <label class="inputLabel" for="heartRate">Heart Rate:</label>
                <input type="text" class="form-control input-sm" id="heartRate" name="@vitalNames.get(1).getName"/>
                <label class="inputLabel" for="temperature">Temperature:</label>
                <input type="text" class="form-control input-sm" id="temperature" name="@vitalNames.get(2).getName"/>
              </div>
            </div>

            <div class="col-sm-6 col-xs-6 padding-right-zero padding-left-zero">
              <div class="text-center">
                <label class="inputLabel" for="heightFeet">Height:</label>

                <div class="col-sm-6 col-xs-6 padding-left-zero">
                  <input type="text" class="form-control input-sm" id="heightFeet" name="@vitalNames.get(4).getName"/>
                </div>
                <div class="col-sm-6 col-xs-6 padding-left-zero">
                  <input type="text" class="form-control input-sm" id="heightInches" name="@vitalNames.get(5).getName"/>
                </div>


                <label class="inputLabel" for="respirations">Respirations:</label>
                <input type="text" class="form-control input-sm" id="respirations" name="@vitalNames.get(0).getName"/>
                <label class="inputLabel" for="oxygen">Oxygen:</label>
                <input type="text" class="form-control input-sm" id="oxygen" name="@vitalNames.get(3).getName"/>




                  <label class="inputLabel" for="weight">Weight:</label>
                <input type="text" class="form-control input-sm" id="weight" name="@vitalNames.get(6).getName"/>
              </div>
            </div>

            <label class="inputLabel" for="chiefComplaint">Chief Complaint:</label>
            <textarea type="text" class="form-control input-lg" id="chiefComplaint" name="chiefComplaint" rows="3"></textarea>
          </div>
        </div>
        <div class="row">
          <button type="submit" class = "btn btn-default pull-right">Submit Patient</button>
        </div>


      </div>
    </div>
  }
}

