@import femr.ui.views.html.layouts.main
@import femr.ui.controllers.routes.TriageController

@additionalStyles = {
    <link rel="stylesheet" href="@routes.Assets.at("css/triage.css")">
}


@top = {
    <div class ="well hide patientMedicalHistory">
        <div class="container">
            <div class="medicalHistoryLineDivide"></div>
            <p>Patient Medical History</p>

            <div class="col-sm-4 col-xs-4">
                <h5 class="text-center">Visit Number</h5>
                <ul class="list-unstyled text-center">
                    <li>1</li>
                    <li>2</li>
                </ul>
            </div>
            <div class="col-sm-4 col-xs-4">
                <h5 class="text-center">Date</h5>
                <ul class="list-unstyled text-center">
                    <li>16-Aug-10</li>
                    <li>16-Jan-10</li>
                </ul>
            </div>
            <div class="col-sm-4 col-xs-4">
                <h5 class="text-center">View Report</h5>
                <ul class="list-unstyled text-center">
                    <li>link</li>
                    <li>link</li>
                </ul>
            </div>


            <div class="medicalHistoryLineDivide"></div>
        </div>
    </div>
}

@main("triage",outsideContainerTop = top, styles= additionalStyles){
    @helper.form(action = TriageController.createPost()){
        <div class="row">
            <div class ="well">

                <div class="row">
                    <div class="btn-group-wrap">
                        <div class="btn-group btn-group-lg">
                            <button type="button" class="btn btn-default">New Patient</button>
                            <button type="submit" class="btn btn-default">Save Patient</button>
                            <button type="button" class="btn btn-default" onclick="resetFields()">Reset</button>
                            <button type="button" class="btn btn-default" onclick="showhistory()">History</button>
                        </div>
                    </div>
                </div><br>

                <div class="medicalHistoryLineDivide"></div>

                <div class="row triageInputRow">
                    <div class="col-sm-6 col-xs-6 padding-right-zero">
                        <h3 class="text-center">General Info</h3>
                        <div class="medicalHistoryLineDivide"></div>
                        <div class="text-center">
                            <label>Patient ID:</label>
                                <input type="text" class="form-control input-sm" placeholder="a number"/>
                            <label>First Name:</label>
                                <input type="text" class="form-control input-sm" name="firstName"/>
                            <label>Last Name:</label>
                                <input type="text" class="form-control input-sm" name="lastName"/>
                            <label>Address:</label>
                                <input type="text" class="form-control input-sm" name="address"/>
                            <label>City:</label>
                                <input type="text" class="form-control input-sm" name="city"/>
                            <label>Age:</label>
                                <input type="text" class="form-control input-sm" name="age"/>
                            <label>Gender:</label>
                            @*<input type="button" class="btn btn-default" id="male" value="Male" onclick="genderSelect(this.id)"/>*@
                            @*<input type="button" class="btn btn-default" id="female" value="Female" onclick="genderSelect(this.id)"/>*@
                            <button type="button" class="btn btn-default" id="male" value="male" onclick="genderSelect(this.id)">Male</button>
                            <button type="button" class="btn btn-default" id="female" value="male" onclick="genderSelect(this.id)">Female</button>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xs-6 padding-right-zero">
                        <h3 class="text-center">Vitals</h3>
                        <div class="medicalHistoryLineDivide"></div>
                        <div class="text-center">
                            <label>Chief Complaint:</label>
                                <input type="text" class="form-control input-sm" name="age"/>
                            <label>Blood Pressure:</label>
                                <input type="text" class="form-control input-sm" name="bloodPressure"/>
                            <label>Heart Rate:</label>
                                <input type="text" class="form-control input-sm" name="heartRate"/>
                            <label>Temperature:</label>
                                <input type="text" class="form-control input-sm" name="temperature"/>
                            <label>Respirations:</label>
                                <input type="text" class="form-control input-sm" name="respirations"/>
                            <label>Oxygen:</label>
                                <input type="text" class="form-control input-sm" name="oxygen"/>
                            <label>Height:</label>
                                <input type="text" class="form-control input-sm" name="height"/>
                            <label>Weight:</label>
                                <input type="text" class="form-control input-sm" name="weight"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}
    <script>
        function resetFields(){
            $(':input').val('');
            $('.active').removeClass('active');
        }


        function showhistory(){
            if ($('.patientMedicalHistory' ).hasClass('hide')){
                $('.patientMedicalHistory' ).removeClass('hide');
            }
            else{
                $('.patientMedicalHistory' ).addClass('hide');
            }
        }


        function genderSelect(gender){
            if (!$('#' + gender).hasClass('active')){
                $('#male').removeClass('active');
                $('#female').removeClass('active');
                $('#' + gender).addClass('active');
            }
        }
    </script>