@(viewModel: femr.ui.models.triage.CreateViewModel,patientEncounters: List[_ <: femr.common.models.IPatientEncounter])

@import femr.ui.views.html.layouts.main

@additionalStyles = {
    <link rel="stylesheet" href="@routes.Assets.at("css/triage.css")">
}
@additionalScripts = {
    <script type="text/javascript" src="@routes.Assets.at("js/triage/triage.js")"></script>
}

@main("triage", styles = additionalStyles, scripts = additionalScripts){
        <div class="row">
            <div class ="well">
                <div class="row">
                    <div class="btn-group-wrap">
                        <div class="btn-group btn-group-lg pull-left">
                            <button type="button" class="newPatientBtn btn btn-default">New Patient</button>
                        </div>
                    </div>
                </div>

                <div class="medicalHistoryLineDivide"></div>

                <div class="row triageInputRow">
                    <div class="col-sm-6 col-xs-6">
                        <h3 class="text-center">General Info</h3>
                        <div class="medicalHistoryLineDivide"></div>
                        <div class="text-center">
                            <label class="inputLabel">First Name:</label>
                            <input type="text" class="form-control input-sm" name="firstName" value="@viewModel.getFirstName" readonly/>
                            <label class="inputLabel">Last Name:</label>
                            <input type="text" class="form-control input-sm" name="lastName" value="@viewModel.getLastName" readonly/>
                            <label class="inputLabel">Address:</label>
                            <input type="text" class="form-control input-sm" name="address" value="@viewModel.getAddress" readonly/>
                            <label class="inputLabel">City:</label>
                            <input type="text" class="form-control input-sm" name="city" value="@viewModel.getCity" readonly/>
                            <label class="inputLabel">Age:</label>
                            <input type="text" class="form-control input-sm" name="age" value="@viewModel.getAge" readonly/>
                            @*display gender and pregnancy?*@
                        </div>
                    </div>

                    <div class="col-sm-6 col-xs-6">
                        <h3 class="text-center">Encounter Info</h3>
                        <div class="medicalHistoryLineDivide"></div>
                        <div class="text-center">
                        @for(patientEncounter <- patientEncounters){
                          <h3>@patientEncounter.getChiefComplaint</h3>
                        }
                        </div>
                    </div>

                </div>
            </div>
        </div>
}