@(number: Integer, value: java.lang.String, name: java.lang.String, size: java.lang.String, order: java.lang.Integer, tipe: java.lang.String, placeholder: java.lang.String, isReadOnly: Boolean)


@if(size.toLowerCase == "medium" && order == number) {
    <label for="@name">@name</label>
    @if(isReadOnly == true) {
        <input type="@tipe" id="@name" class="fInput customField" placeholder="@placeholder" value="@value" readonly/>
    } else {
        <input type="@tipe" id="@name" class="fInput customField" placeholder="@placeholder" value="@value" />
    }

    <br/>
} else {
    @if(size.toLowerCase == "large" && order == number) {
        <label for="@name">@name</label>
        @if(isReadOnly == true) {
            <textarea id="@name" class="fTextArea customField" placeholder="@placeholder" readonly>@value</textarea>
        } else {
            <textarea id="@name" class="fTextArea customField" placeholder="@placeholder">@value</textarea>
        }

        <br/>
    }
}
