@(chiefComplaint: String, value: String)

<label for="severity">Severity</label>
<input name="tabFieldItems.name" type="text" class="hidden" value="severity"/>
<input name="tabFieldItems.chiefComplaint" type="text" class="hidden" value="@chiefComplaint"/>
<select name="tabFieldItems.value" id="severityDropDown">
    <option></option>
    @for(x <- 1 to 10) {
        @if(value != null && !value.isEmpty) {
            @if(value.equals(x.toString)) {
                <option value="@x" selected="selected">@x</option>
            } else {
                <option value="@x">@x</option>
            }

        } else {
            <option value="@x">@x</option>
        }
    }
    </select>

