@(currentUser: femr.common.dto.CurrentUser, viewModel: femr.ui.models.admin.configure.IndexViewModelGet)

@import femr.ui.controllers.admin.routes.ConfigureController
@import femr.ui.views.html.layouts.admin

    @additionalStyles = {
        <link rel="stylesheet" href="@routes.Assets.at("css/admin/configure.css")">
    }

@admin("Configure", currentUser, styles = additionalStyles) {
    @helper.form(action = ConfigureController.indexPost()) {
        <table id="configurationTable">
            <tr>
                <th>Feature</th>
                <th>Toggle</th>
            </tr>

            @for((key, valyew) <- viewModel.getSettings) {
                <tr>
                    <td class="name">@key</td>
                    <td class="isActive">
                        <input type="checkbox" name="settings[]" value="@key" @if(valyew) { checked="checked"} />
                    </td>
                </tr>
            }

        </table>

        <input type="submit" class="fButton" value="Save"/>
    }

}