@(currentUser: femr.common.dtos.CurrentUser, assets: AssetsFinder)
    @import femr.ui.views.html.layouts.main

    @additionalScripts = {
        <script type="text/javascript" src="@assets.path("js/libraries/handlebars.min.js")"></script>
        <script type="text/javascript" src="@assets.path("js/libraries/typeahead.bundle.min.js")"></script>

        <script>
                if (window.location.search.indexOf('feedback=received') > -1) {
                    $('#feedbackResponse').css({"display":"block"});
                    setTimeout(function () {
                        $('#feedbackResponse').show().delay(2000).fadeOut('fast');
                    }, 2000);
                }
        </script>
        <script defer>
                document.addEventListener('DOMContentLoaded', function(event) {
                    let languageData;
                    fetch('@routes.Assets.versioned("json/languages.json")')
                            .then(response => response.json())
                            .then(data => {
                                languageData = data;
                                updateLanguage();
                            });

                    // document.getElementById('languageSelect').addEventListener('change', function() {
                    //     updateLanguage(this.value);
                    // });

                    function updateTextContent(elementId, value) {
                        const element = document.getElementById(elementId);
                        if (element) {
                            element.textContent = value;
                        }
                    }

                    function updateLanguage() {
                        const language = "@currentUser.getLanguageCode";
                        const currentUser = " @currentUser.getFirstName()";
                        updateTextContent("home_index_h2_Welcome", languageData[language].home_index_h2_Welcome + currentUser);
                        updateTextContent("home_index_div_Your", languageData[language].home_index_div_Your);
                        updateTextContent("home_index_p_Please", languageData[language].home_index_p_Please);
                        updateTextContent("home_index_p_Or", languageData[language].home_index_p_Or);
                        updateTextContent("home_index_p_Search", languageData[language].home_index_p_Search);
                        const patientSearch = document.getElementById("patientSearch");
                        if (patientSearch) {
                            patientSearch.placeholder = languageData[language].home_index_div_ID;
                        }
                    }
                });
        </script>
    }


    @top = {
        <div class="jumbotron">
            <div class="container">
                <h2 id="home_index_h2_Welcome">Welcome to fEMR 2.4.1-beta, @currentUser.getFirstName!</h2>
                <div id="home_index_div_Your">Your feedback has been received.</div>
                @*<p>This is a placeholder landing page. As more features are developed, this page will change over time.</p>*@
                <p id="home_index_p_Please">Please select a tab at the top to get started!</p>

                <p id="home_index_p_Or">or</p>
                <p id="home_index_p_Search">Search Below:</p>
                <div id="patientSearchContainer">
                    <input  type="text" class="patientSearch fInput typeahead loading" id="patientSearch" name="patientSearch" placeholder="ID, Name, or Phone #" disabled="disabled"/>
                </div>
            </div>
        </div>
    }

    @main("Home", currentUser, outsideContainerTop = top, scripts = additionalScripts, assets = assets) {
        @*<ul>
        @for(role <- currentUser.getRoles) {
        <li>@role.getName</li>
        }
        </ul> *@
    }
