@(currentUser: femr.business.dtos.CurrentUser,  patientEncounter: femr.common.models.IPatientEncounter, viewModel: femr.ui.models.search.CreateEncounterViewModel)

@import femr.ui.views.html.layouts.main

@additionalScripts = {
    <script type="text/javascript" src="@routes.Assets.at("js/search/search.js")"></script>
    <script type = "text/javascript" src="@routes.Assets.at("js/femr.js")"></script>
    <!-- adds the javascript bootstraps to this page -->
    <script type="text/javascript" src="@routes.Assets.at("js/search/encounter.js")"></script>
}
    @additionalStyles = {
        <link rel="stylesheet" href="@routes.Assets.at("css/medical.css")">
        <link rel="stylesheet" href="@routes.Assets.at("css/search.css")">
    }


@main("search", currentUser, scripts = additionalScripts, styles = additionalStyles) {
    <div class="row well well-sm">
        <h3 class="text-center">Encounter View</h3>
        <div class="col-xs-4 col-sm-4 col-md-4">
            <div class="row">
                <div class="col-xs-2 col-sm-2 col-md-2">
                    <label>Name:</label>
                </div>
                <div class="col-xs-8 col-sm-8 col-md-8">
                    <p>@viewModel.getFirstName @viewModel.getLastName</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-2 col-sm-2 col-md-2">
                    <label for="">Age:</label>
                </div>
                <div class="col-xs-8 col-sm-8 col-md-8">
                    <p>@viewModel.getAge</p>
                </div>
            </div>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4">
            <div class="row">
                <div class="col-xs-2 col-sm-2 col-md-2">
                    <label for="">Sex:</label>
                </div>
                <div class="col-xs-8 col-sm-8 col-md-8">
                    <p>@viewModel.getSex</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-2 col-sm-2 col-md-2">
                    <label for="">City:</label>
                </div>
                <div class="col-xs-8 col-sm-8 col-md-8">
                    <p>@viewModel.getCity</p>
                </div>
            </div>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4">
            <div class="row">
                <div class="col-xs-4 col-sm-4 col-md-4">
                    <label>Encounter Date:</label>
                </div>
                <div class="col-xs-8 col-sm-8 col-md-8">
                    <p>@patientEncounter.getDateOfVisit.substring(0,10)</p>
                </div>

            </div>
        </div>


    </div>
    <div class="row">
        <div class="col-xs-3 col-sm-3 col-md-3 well well-sm">
            <h3>Vitals</h3>
            <div id="populatedVitals">
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <label>Blood Pressure</label>
                        <p><span id="triageBpSystolic">@viewModel.getBloodPressureSystolic</span> / <span id="triageBpDiastolic">@viewModel.getBloodPressureDiastolic</span></p>
                        <label>Heart Rate</label>
                        <p id="triageHeartRate">@viewModel.getHeartRate</p>
                        <label>Temperature</label>
                        <p id="triageTemperature">@viewModel.getTemperature</p>
                        <label>Respirations</label>
                        <p id="triageRespRate">@viewModel.getRespiratoryRate</p>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <label>Oxygen</label>
                        <p id="triageOxygen">@viewModel.getOxygenSaturation</p>
                        <label>Height</label>
                        <p><span id="triageHeightFt">@viewModel.getHeightFeet</span>' <span id=triageHeightIn>@viewModel.getHeightInches</span>"</p>
                        @*used by bmi calculator*@
                        <p id="heightFeet" class="hidden">@viewModel.getHeightFeet</p>
                        <p id="heightInches" class="hidden">@viewModel.getHeightInches</p>
                        <label>Weight</label>
                        <p id="weight">@viewModel.getWeight</p>
                        <label>Glucose</label>
                        <p id="weight">@viewModel.getGlucose</p>
                    </div>
                </div>
            </div>
        </div>

            <!-- Added the three tabs from the medical page   Danny -->
            <div class="col-xs-9 col-sm-9 col-md-9 well well-sm">
                <ul id="myTab" class="nav nav-tabs">
                    <li class="active"><a id="EncounterInfoTab">Encounter Info</a></li>
                    <li><a id="hpiTab">HPI</a></li>
                    <li><a id="treatmentTab">Treatment</a></li>
                    <li><a id="pmhTab">PMH</a></li>

                </ul>


        <div class="col-xs-9 col-sm-9 col-md-9 well well-sm">

            <div id="encounterControl" class="show">
                <div class="form-group">
                    <label for="Onset">Onset</label>
                    <textarea rows="2" name="Onset" class="form-control input-sm"  readonly>@viewModel.getAssessment</textarea>
                </div>
                <div class="form-group">
                    <label for="assessment">Assessment</label>
                    <textarea rows="3" name="assessment" class="form-control input-sm"  readonly>@viewModel.getAssessment</textarea>
                </div>
                <div class="form-group">
                    <label for="problem">Problem List</label>
                    <ul id="listElement">
                    @if(viewModel.getProblemList != null){
                        @for( a <- 0 to viewModel.getProblemList.size()-1){
                            <li>@viewModel.getProblemList.get(a)</li>
                        }
                    }
                    </ul>

                    <div class="form-group">
                        <label for="prescription">Prescriptions</label>
                        <ul id="listElement">
                        @if(viewModel.getPerscribList != null){
                            @for( a <- 0 to viewModel.getPerscribList.size()-1){
                                <li>@viewModel.getPerscribList.get(a)</li>
                            }
                        }
                        </ul>

                    </div>
                    <div class="form-group">
                        <label for="treatment">Treatment Given</label>
                        <textarea rows="3" name="treatment" class="form-control input-sm" readonly>@viewModel.getTreatment</textarea>
                    </div>
                    <div class="form-group">
                        <label for="familyHistory">Family History</label>
                        <textarea rows="3" name="familyHistory" class="form-control input-sm" readonly>@viewModel.getFamilyHist</textarea>
                    </div>
                </div>
                </div>
                </div>
                <!----- Adding code bellow here ---->


            <div id="hpiControl" class="hidden">
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <div class="form-group">
                            <label for="onset">Onset</label>
                            <input name="onset" type="text" class="form-control input-sm" value="@viewModel.getOnset"/>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <div class="form-group">
                            <label for="blank"></label>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <label for="blank">Severity: @viewModel.getSeverity </label>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <div class="form-group">
                                <label for="radiation">Radiation</label>
                                <input name="radiation" type="text" class="form-control input-sm" value="@viewModel.getRadiation"/>
                            </div>
                        </div>
                        <div class="col-sm-6 col-xs-6">
                            <div class="form-group">
                                <label for="quality">Quality</label>
                                <input name="quality" type="text" class="form-control input-sm" value="@viewModel.getQuality"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="provokes">Provokes</label>
                    <input name="provokes" type="text" class="form-control input-sm" value="@viewModel.getProvokes"/>
                </div>
                <div class="form-group">
                    <label for="palliates">Palliates</label>
                    <input name="palliates" type="text" class="form-control input-sm" value="@viewModel.getPalliates"/>
                </div>
                <div class="form-group">
                    <label for="timeOfDay">Time of Day</label>
                    <input name="timeOfDay" type="text" class="form-control input-sm" value="@viewModel.getTimeOfDay"/>
                </div>
                <div class="form-group">
                    <label for="timeOfDay">Narrative</label>
                    <input name="narrative" type="text" class="form-control input-sm" value="@viewModel.getNarrative"/>
                </div>
                <div class="form-group">
                    <label for="physicalExamination">Physical Examination</label>
                    <textarea rows="3" name="physicalExamination" class="form-control input-sm">@viewModel.getPhysicalExamination</textarea>
                </div>
            </div>
            <div id="treatmentControl" class="hidden">
                <div class="form-group">
                    <label for="assessment">Assessment</label>
                    <textarea rows="3" name="assessment" class="form-control input-sm">@viewModel.getAssessment</textarea>
                </div>
                <div class="form-group">
                    <label for="problem">Problem List</label>
                    <div class="row">
                        <div class="col-xs-9 col-sm-9 col-md-9">  <!-- I comented this out since I can fix it later -->
                           <!--inputPrescriptionOrProblem(1, viewModel.getProblem1, "problem")
                           inputPrescriptionOrProblem(2, viewModel.getProblem2, "problem")
                            inputPrescriptionOrProblem(3, viewModel.getProblem3, "problem")
                            inputPrescriptionOrProblem(4, viewModel.getProblem4, "problem")
                           inputPrescriptionOrProblem(5, viewModel.getProblem5, "problem")  -->
                        </div>
                        <div class="col-xs-3 col-sm-3 col-md-3">
                            <div class="row">
                                <button id="addProblemButton" class="btn addSubtractBtn" type="button"><span class="glyphicon glyphicon-plus"></span></button>
                            </div>
                            <div class="row">
                                <button id="subtractProblemButton" class="btn addSubtractBtn" type="button"><span class="glyphicon glyphicon-minus"></span></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="prescription">Prescriptions</label>
                    <div class="row">
                        <div class="col-xs-9 col-sm-9 col-md-9">
                            <!-- Come back and fix this
                            inputPrescriptionOrProblem(1, viewModel.getPrescription1, "prescription")
                            inputPrescriptionOrProblem(2, viewModel.getPrescription2, "prescription")
                            inputPrescriptionOrProblem(3, viewModel.getPrescription3, "prescription")
                            inputPrescriptionOrProblem(4, viewModel.getPrescription4, "prescription")
                            inputPrescriptionOrProblem(5, viewModel.getPrescription5, "prescription")  -->
                        </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="treatment">Treatment Given</label>
                    <textarea rows="3" name="treatment" class="form-control input-sm">@viewModel.getTreatment</textarea>
                </div>
            </div>
            <div id="pmhControl" class="hidden">
                <div class="form-group">
                    <label for="medicalSurgicalHistory">Medical/Surgical History</label>
                    <textarea row="3" name="medicalSurgicalHistory" class="form-control input-sm" > @viewModel.getMedicalSurgicalHistory </textarea>
                </div>
                <div class="form-group">
                    <label for="socialHistory">Social History</label>
                    <textarea row ="3" name="socialHistory"  class="form-control input-sm" > @viewModel.getSocialHistory </textarea>
                </div>
                <div class="form-group">
                    <label for="currentMedication">Current Medications</label>
                    <textarea row = "3" name="currentMedication" type="text" class="form-control input-sm"> @viewModel.getCurrentMedication </textarea>
                </div>
                <div class="form-group">
                    <label for="familyHistory">Family History</label>
                    <textarea rows="3" name="familyHistory" class="form-control input-sm"> @viewModel.getFamilyHistory  </textarea>
                </div>
            </div>


</div>
















}
