@(currentUser: femr.business.dtos.CurrentUser, patientEncounter: femr.common.models.IPatientEncounter, viewModel: femr.ui.models.search.CreateEncounterViewModel)

@import femr.ui.views.html.layouts.main
@import femr.ui.views.html.helpers.encounter._
@import femr.ui.views.html.helpers.medical.custom._
    @additionalScripts = {
        <script type="text/javascript" src="@routes.Assets.at("js/search/search.js")"></script>
        <script type = "text/javascript" src="@routes.Assets.at("js/femr.js")"></script>
        <!-- adds the javascript bootstraps to this page -->
        <script type="text/javascript" src="@routes.Assets.at("js/search/encounter.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("js/jquery.tablescroll.js")"></script>
    }
    @additionalStyles = {
        <link rel="stylesheet" href="@routes.Assets.at("css/search.css")">
        <link rel="stylesheet" href="@routes.Assets.at("css/jquery.tablescroll.css")" xmlns="http://www.w3.org/1999/xhtml">
    }


@main("search", currentUser, scripts = additionalScripts, styles = additionalStyles) {
    <div id="patientOverviewWrap" class="backgroundForWrap">

        <h3 class="text-center">Patient Encounter Information for @viewModel.getFirstName @viewModel.getLastName</h3>
        <div id="generalInfoWrap">
            <div id="chiefComplaint">
            @if(viewModel.getChiefComplaint != null && !viewModel.getChiefComplaint.isEmpty()) {
                <span><label>Complaint:</label>@viewModel.getChiefComplaint</span>
            }
            </div>
            <div id="patientInfo">
                <label>Age:</label><span>@viewModel.getAge</span>
                <label>Sex:</label><span>@viewModel.getSex</span>
                <label>City:</label><span>@viewModel.getCity</span>
                <label>Encounter Date:</label><span>@patientEncounter.getDateOfVisit</span>
                <label>Doctor:</label><span>@viewModel.getDoctorFirstName @viewModel.getDoctorLastName</span>
                @if(viewModel.getWeeksPregnant != null && viewModel.getWeeksPregnant > 0) {
                    <span><label>Weeks Pregnant:</label>@viewModel.getWeeksPregnant</span>
                }
            </div>


        </div>

    </div>
    @* Display multiple sets of vitals based on dates *@
    <div class="col-xs-3 col-sm-3 col-md-3 backgroundForWrap" id="vitalWrap">
        @* Currently uses medicals vital helper *@
        @femr.ui.views.html.medical.listVitals(viewModel.getVitalList)

    </div>

    <!--*************************
             List of all the tabs on the encounter page
             ********************************************-->

    <div class="col-xs-9 col-sm-9 col-md-9 backgroundForWrap">
        <ul id="encounterTabs">
            <li class="active"><a href="#" id="hpi">HPI</a></li>
            <li><a href="#" id="pmh">PMH</a></li>
            <li><a href="#" id="treatment">Treatment</a></li>
            <li><a href="#" id="pharmacy">Pharmacy</a></li>
            <li><a href="#" id="photo">Photos - @viewModel.getPhotos().size()</a></li>
            @for(x <- 1 to viewModel.getCustomTabs.size) {
                @defining(viewModel.getCustomTabs.get(x - 1).getName) { tabName =>
                    <li><a href="#" id="@tabName" class="customTab">@tabName</a></li>
                }
            }
        </ul>

        <div class="col-xs-12 col-sm-12 col-md-12 well well-sm" id="tabContentWrap">

            @* <div class="col-xs-9 col-sm-9 col-md-9 well well-sm"> *@

                <!-- This is the start of the HPI Tab -->
            <div class="controlWrap" id="hpiControl">
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <div class="form-group">
                            <label for="onset">Onset</label>
                            <input name="onset" type="text" class="form-control input-sm" value="@viewModel.getOnset" readonly/>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <div class="form-group">

                            <label for="severity">Severity:</label>
                            <input rows="1" name="severity" class="form-control input-sm" value="@viewModel.getSeverity" readonly/>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <div class="form-group">
                                <label for="radiation">Radiation</label>
                                <input name="radiation" type="text" class="form-control input-sm" value="@viewModel.getRadiation" readonly/>
                            </div>
                        </div>
                        <div class="col-sm-6 col-xs-6">
                            <div class="form-group">
                                <label for="quality">Quality</label>
                                <input name="quality" type="text" class="form-control input-sm" value="@viewModel.getQuality" readonly/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="provokes">Provokes</label>
                    <input name="provokes" type="text" class="form-control input-sm" value="@viewModel.getProvokes" readonly/>
                </div>
                <div class="form-group">
                    <label for="palliates">Palliates</label>
                    <input name="palliates" type="text" class="form-control input-sm" value="@viewModel.getPalliates" readonly/>
                </div>
                <div class="form-group">
                    <label for="timeOfDay">Time of Day</label>
                    <input name="timeOfDay" type="text" class="form-control input-sm" value="@viewModel.getTimeOfDay" readonly/>
                </div>
                <div class="form-group">
                    <label for="timeOfDay">Narrative</label>
                    <input name="narrative" type="text" class="form-control input-sm" value="@viewModel.getNarrative" readonly/>
                </div>
                <div class="form-group">
                    <label for="physicalExamination">Physical Examination</label>
                    <textarea rows="3" name="physicalExamination" class="form-control input-sm" readonly>@viewModel.getPhysicalExamination</textarea>
                </div>
            </div>
            @*</div> *@
                <!-- End of HPI Tab -->

                <!-- This is the Start of the Treatment Tab -->
            <div class="controlWrap hidden" id="treatmentControl">
                <div class="form-group">
                    <label for="assessment">Assessment</label>
                    <textarea rows="3" name="assessment" class="form-control input-sm" readonly>@viewModel.getAssessment</textarea>
                </div>
                <div class="form-group">
                    <label for="problem">Problem List</label>
                    <div class="row">
                        <div class="col-xs-9 col-sm-9 col-md-9">
                            @outputPrescriptionOrProblem(1, viewModel.getProblem1, "problem")
                            @outputPrescriptionOrProblem(2, viewModel.getProblem2, "problem")
                            @outputPrescriptionOrProblem(3, viewModel.getProblem3, "problem")
                            @outputPrescriptionOrProblem(4, viewModel.getProblem4, "problem")
                            @outputPrescriptionOrProblem(5, viewModel.getProblem5, "problem")
                        </div>

                    </div>
                </div>
                <div class="form-group">
                    <label for="prescription">Prescriptions</label>
                    <div class="row">
                        <div class="col-xs-9 col-sm-9 col-md-9">
                            @outputPrescriptionOrProblem(1, viewModel.getPrescription1, "prescription")
                            @outputPrescriptionOrProblem(2, viewModel.getPrescription2, "prescription")
                            @outputPrescriptionOrProblem(3, viewModel.getPrescription3, "prescription")
                            @outputPrescriptionOrProblem(4, viewModel.getPrescription4, "prescription")
                            @outputPrescriptionOrProblem(5, viewModel.getPrescription5, "prescription")
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="treatment">Treatment Given</label>
                    <textarea rows="3" name="treatment" class="form-control input-sm" readonly>@viewModel.getTreatment</textarea>
                </div>
            </div>
                <!-- End of treatment tab -->

                <!-- This is the start of the PMH tab -->
            <div class="controlWrap hidden" id="pmhControl">
                <div class="form-group">
                    <label for="medicalSurgicalHistory">Medical/Surgical History</label>
                    <textarea row="3" name="medicalSurgicalHistory" class="form-control input-sm" readonly> @viewModel.getMedicalSurgicalHistory </textarea>
                </div>
                <div class="form-group">
                    <label for="socialHistory">Social History</label>
                    <textarea row ="3" name="socialHistory" class="form-control input-sm" readonly> @viewModel.getSocialHistory </textarea>
                </div>
                <div class="form-group">
                    <label for="currentMedication">Current Medications</label>
                    <textarea row = "3" name="currentMedication" type="text" class="form-control input-sm" readonly> @viewModel.getCurrentMedication </textarea>
                </div>
                <div class="form-group">
                    <label for="familyHistory">Family History</label>
                    <textarea rows="3" name="familyHistory" class="form-control input-sm" readonly> @viewModel.getFamilyHistory  </textarea>
                </div>
            </div>
                <!-- End of the PMH tab -->

                <!-- This is the start of the Pharmacy tab -->
            <div class="controlWrap hidden" id="pharmacyControl">


                @* <div class="col-sm-9 col-md-9 col-xs-9 col-lg-9"> *@

                    <!-- Currently we don't have a way to get the pharmacist so this is disabled for know,
                        but is ready to go once that has been implemented -->

                @* <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2">
                <label for="PharmacistName">Pharamcist:</label>
                </div>
                <div class="col-sm-4 col-md-4 col-xs-4 col-lg-4">
                <p>@viewModel.getPharmacistFirstName @viewModel.getPharmacistLastName</p>
                </div> *@

                <div class="container medicationContainer">
                    <div class="row">
                        <div class="row">
                                &nbsp;
                        </div>
                        <div class="col-sm-6 col-md-6 col-xs-6 col-lg-6">
                            <label class="title">Medication</label>
                        </div>
                        <div class="col-sm-6 col-md-6 col-xs-6 col-lg-6">
                            <label class="title">Replace</label>
                        </div>
                    </div>

                    @for(x <- 1 to viewModel.getMedicationAndReplacement.size()) {
                        <div class="row add-margin">
                            <div class="col-sm-6 col-md-6 col-xs-6 col-lg-6">
                                <input type="text" id="medication@x" class="form-control" name="prescription@x" value="@viewModel.getMedicationAndReplacement.get(x - 1).getKey" readonly/>
                            </div>

                            <div class="col-sm-6 col-md-6 col-xs-6 col-lg-6">

                                <input type="text" class="form-control" id="replacementMedication@x" name="replacementMedication@x" placeholder="" value="@viewModel.getMedicationAndReplacement.get(x - 1).getValue" readonly/>

                            </div>
                        </div>
                    }

                </div>
            </div>
                <!-- End of Pharmacy tab -->
            <div class="controlWrap hidden" id="photoControl">
                @if(viewModel.getPhotos().size() > 0) {
                    <div id="photoCarousel" class="carousel slide col-sm-12 col-md-12 col-xs-12 col-lg-12" data-interval="false">
                        <ol class="carousel-indicators">
                        @for(index <- 0 until viewModel.getPhotos().size) {
                            @if(index == 0) {
                                <li data-target="#photoCarousel" data-slide-to="@index" class="active"></li>
                            } else {
                                <li data-target="#photoCarousel" data-slide-to="@index" class=""></li>
                            }

                        }
                        </ol>
                        <div class="carousel-inner">
                            @for(index <- 0 until viewModel.getPhotos().size) {
                                @if(index == 0) {
                                    <div class="item active">
                                    } else {
                                    <div class="item">
                                    }
                                <img src="@viewModel.getPhotos().get(index).getImageUrl()" alt="">
                                <div class="label label-info carousel-caption">
                                    <p>@viewModel.getPhotos().get(index).getImageDate()
                                        :&nbsp;@viewModel.getPhotos().get(index).getImageDesc()</p>
                                </div>
                            </div>
                            }
                        </div>
                            <a class="left carousel-control" href="#photoCarousel" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                            </a>
                            <a class="right carousel-control" href="#photoCarousel" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </a>
                        </div>
                        } @* End of 'if' block to render carousel block *@
            </div>


            @for(i <- 1 to viewModel.getCustomTabs.size) {
                @defining(viewModel.getCustomTabs.get(i - 1)) { customTab =>
                    <div class="controlWrap hidden" id="@customTab.getName()Control">
                    @dynamicTab(viewModel.getCustomFields.get(customTab.getName), customTab.getLeftColumnSize, customTab.getRightColumnSize, customTab.getName, true)
                    </div>
                }

            }
        </div>

    </div>

}

