@(currentUser: femr.business.dtos.CurrentUser, searchError: java.lang.Boolean, viewModel: femr.ui.models.search.CreateViewModel, patientEncounters: List[_ <: femr.common.models.IPatientEncounter], id: java.lang.Integer)

@import femr.ui.views.html.layouts.medicalPersonnel
@import femr.ui.controllers.routes.SearchController
    @additionalStyles = {
        <link rel="stylesheet" href="@routes.Assets.at("/css/triage.css")">
    }
    @additionalScripts = {
        <script type = "text/javascript" src="@routes.Assets.at("js/femr.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("/js/search/search.js")"></script>
    }
    @searchById = {
    @helper.form(action = SearchController.createGet()) {
        <label for="id">Id</label>
        @if(searchError) {
            <input type="text" id="id" name="id" placeholder="Invalid Id">
        } else {
            <input type="text" id="id" name="id">
        }
        <button type="submit" class="idSearch btn btn-default btn-sm">Search</button>
    }
    }
@medicalPersonnel("search", currentUser, styles = additionalStyles, scripts = additionalScripts, customSearch = searchById) {
    <div class="row">
        <div class ="well">
            <h1 class="pull-left bold margin-top-zero">Patient Id: @id</h1>
            <button type="submit" id="newPatientBtn" class="btn btn-default pull-right">New Patient</button>
            <div class="medicalHistoryLineDivide"></div>
            <div class="row triageInputRow">
                <div class="col-sm-6 col-xs-6">
                    <h3 class="pull-left bold margin-top-zero">General Info</h3>
                    <div class="medicalHistoryLineDivide"></div>
                    <div class="text-center">
                        <label class="inputLabel">First Name:</label>
                        <input type="text" class="form-control input-sm pull-left" name="firstName" value="@viewModel.getFirstName" readonly/>
                        <label class="inputLabel">Last Name:</label>
                        <input type="text" class="form-control input-sm pull-left" name="lastName" value="@viewModel.getLastName" readonly/>
                        <label class="inputLabel">Address:</label>
                        <input type="text" class="form-control input-sm pull-left" name="address" value="@viewModel.getAddress" readonly/>
                        <label class="inputLabel">City:</label>
                        <input type="text" class="form-control input-sm pull-left" name="city" value="@viewModel.getCity" readonly/>
                        <label class="inputLabel">Age:</label>
                        <input type="text" class="form-control input-sm pull-left" name="age" value="@viewModel.getAge" readonly/>
                        <label class="inputLabel">Sex:</label>
                        <input type="text" class="form-control input-sm pull-left" name="age" value="@viewModel.getSex" readonly/>
                        @*display pregnancy?*@
                    </div>
                </div>
                <div class="col-sm-6 col-xs-6">
                    <h3 class="pull-left bold margin-top-zero">Previous Encounters</h3>
                    <div class="medicalHistoryLineDivide"></div>
                    @for(patientEncounter <- patientEncounters) {
                        <a href="/show/encounter/@patientEncounter.getId">@patientEncounter.getDateOfVisit</a>
                        <label>chief complaint:</label> <p>@patientEncounter.getChiefComplaint</p>
                    }
                </div>
            </div>
        </div>
    </div>
}
