@(currentUser: femr.business.dtos.CurrentUser, viewModel: femr.ui.models.search.CreateViewModel,patientEncounters: List[_ <: femr.common.models.IPatientEncounter], id: String)

@import femr.ui.views.html.layouts.main

@additionalStyles = {
    <link rel="stylesheet" href="@routes.Assets.at("/css/triage.css")">
}
@additionalScripts = {
    <script type="text/javascript" src="@routes.Assets.at("/js/Triage/triage.js")"></script>
}

@main("search", currentUser, styles = additionalStyles, scripts = additionalScripts){
        <div class="row">
            <div class ="well">
                <div class="row">
                  <button type="button" class="newPatientBtn btn btn-default">New Patient</button>
                </div>


                <h1 class="pull-left bold margin-top-zero">Patient Id: @id</h1>

                <div class="medicalHistoryLineDivide"></div>

                <div class="row triageInputRow">
                    <div class="col-sm-6 col-xs-6">
                        <h3 class="pull-left bold margin-top-zero">General Info</h3>
                        <div class="medicalHistoryLineDivide"></div>
                        <div class="text-center">
                            <label class="inputLabel">First Name:</label>
                            <input type="text" class="form-control input-sm" name="firstName" value="@viewModel.getFirstName" readonly/>
                            <label class="inputLabel">Last Name:</label>
                            <input type="text" class="form-control input-sm" name="lastName" value="@viewModel.getLastName" readonly/>
                            <label class="inputLabel">Address:</label>
                            <input type="text" class="form-control input-sm" name="address" value="@viewModel.getAddress" readonly/>
                            <label class="inputLabel">City:</label>
                            <input type="text" class="form-control input-sm" name="city" value="@viewModel.getCity" readonly/>
                            <label class="inputLabel">Age:</label>
                            <input type="text" class="form-control input-sm" name="age" value="@viewModel.getAge" readonly/>
                          <label class="inputLabel">Sex:</label>
                          <input type="text" class="form-control input-sm" name="age" value="@viewModel.getSex" readonly/>
                            @*display pregnancy?*@
                        </div>
                    </div>

                    <div class="col-sm-6 col-xs-6">
                        <h3 class="pull-left bold margin-top-zero">Previous Encounters</h3>
                        <div class="medicalHistoryLineDivide"></div>
                        <div class="text-center">
                        @for(patientEncounter <- patientEncounters){
                          <h5>@patientEncounter.getDateOfVisit</h5>
                        }
                        </div>
                    </div>

                </div>
            </div>
        </div>
}