@(currentUser: femr.business.dtos.CurrentUser,  patientEncounter: femr.common.models.IPatientEncounter, viewModel: femr.ui.models.search.CreateEncounterViewModel)

@import femr.ui.views.html.layouts.main
@main("search", currentUser) {
    <div class="row searchResult">
        <div class="row well well-sm">
            <div class="text-center">
            <h3>Date of Visit: @patientEncounter.getDateOfVisit </h3>
            </div>


            <h3>Chief Complaint: @patientEncounter.getChiefComplaint</h3>

            <ul>
                <li>Vitals:  </li>
                <li>Assessment</li>
                <li>Treatment</li>
                <li>Family History</li>
            </ul>
            </div>
        </div>
















}
