@(label: String, field1: String, forInput1: String, field2: String, forInput2: String, value: String)
    @inputBlock = {
        <div class="generalInfoInput">
            <label for="@label">Age<span class="red bold">*</span></label>
            @if(value == null) {
                <input type="text" class="age-input fInput" id="@forInput1" name="@forInput1" placeholder="@field1">
                <input type="text" class="age-input fInput" id="@forInput2" name="@forInput2" placeholder="@field2">
            } else {
                <input type="text" class="fInput" id="readOnlyAge" name="readOnlyAge" value="@value" readonly/>
            }
        </div>
    }
@inputBlock
