@(name: String, forInput: String, value: Date)
  @inputBlock = {
    <div class="form-group">
      <label for="@forInput" class="col-sm-3 col-xs-3 control-label">@name</label>
      <div class="col-sm-7 col-xs-7">
      @if(value == null) {
        <input type="text" class="form-control datepicker-age" id="@forInput" name="@forInput" placeholder="@name (yyyy-mm-dd)">
      } else {
        <input type="text" class="form-control datepicker-age" id="@forInput" name="@forInput" value="@value.format("yyyy-MM-dd")" readonly/>
      }
      </div>
    </div>
  }
@inputBlock
