@(name: String, forInput: String, value: Date)
@*added "*" to indicate required field *@
    @inputBlock = {
        <div class="form-group">
            <label for="@forInput" class="col-sm-3 col-xs-3 control-label">@name<span class="red bold">*</span></label>
            <div class="col-sm-7 col-xs-7">
            @if(value == null) {
                <input type="date" class="form-control" id="@forInput" name="@forInput">
            } else {
                <input type="date" class="form-control" id="readOnlyBirthDate" name="@forInput" value="@value.format("yyyy-MM-dd")" readonly/>
            }
            </div>
        </div>
    }
@inputBlock
