@(label: String, field1: String, forInput1: String, field2: String, forInput2: String, value: String)
  @inputBlock = {
     <div class="form-group">
          <label for="@label" class="col-sm-3 col-xs-3 control-label">Age<span class="red bold">*</span></label>
          <div class="col-sm-7 col-xs-7">
          @if(value == null) {
              <input type="number" step="number" min="0" class="form-control width-50 age-input" id="@forInput1" name="@forInput1" placeholder="@field1">
              <span>Years</span>
              <input type="number" step="number" min="0" max="24" class="form-control width-50 age-input" id="@forInput2" name="@forInput2" placeholder="@field2">
              <span>Months</span>
          } else {
              <input type="text" class="form-control" id="@forInput1" name="@forInput1" value="@value" readonly/>
          }
          </div>
     </div>
  }
@inputBlock
