@(viewModel: femr.ui.models.triage.CreateViewModelGet)
@import femr.ui.views.html.helpers.triage.inputButton
    @inputBlock = {
        <div class="generalInfoInput">
            <label>Gender</label>
            <div class="btn-group" id="genderBtns" data-toggle="buttons">
                @inputButton("Male", "sex", "maleBtn",
                    if(viewModel != null) viewModel.getSex == "" || viewModel.getSex == null else true,
                    if(viewModel != null) viewModel.getSex == "Male" else false,
                    "Male")
                @inputButton("Female", "sex", "femaleBtn",
                    if(viewModel != null) viewModel.getSex == "" || viewModel.getSex == null else true,
                    if(viewModel != null) viewModel.getSex == "Female" else false,
                    "Female")
            </div>
        </div>
    }
@inputBlock
