@(patientId: java.lang.Integer)

@import femr.ui.controllers.routes.MedicalController

@if(patientId > 0) {
    @helper.form(action = MedicalController.editGet(patientId)) {
        <button type="button" class="btn btn-default btn-lg" name="editEncounter" value="yes">Yes</button>
    }
    @helper.form(action = MedicalController.searchPost()) {
        <button type="button" class="btn btn-default btn-lg" name="editEncounter" value="no">No</button>
    }
} else {
    <button type="button" class="btn btn-default btn-lg hidden" name="editEncounter" value="yes">Yes</button>
    <button type="button" class="btn btn-default btn-lg hidden" name="editEncounter" value="no">No</button>
}