@(prescriptionNumber: Integer, prescription: String)

@*Auto populates prescriptions when editing a medical record.
The name gets removed and the input field becomes readonly
if the prescription exists so that it won't get
submitted on POST*@

@if(prescriptionNumber == 1) {
    @if(prescription != null && !prescription.isEmpty) {
        <input id = "prescription@prescriptionNumber" type="text" class="form-control input-sm" value="@prescription" readonly/>
    } else {
        <input id = "prescription@prescriptionNumber" name="prescription@prescriptionNumber" type="text" class="form-control input-sm" value=""/>
    }
} else {
    @if(prescription != null && !prescription.isEmpty) {
        <input id = "prescription@prescriptionNumber" type="text" class="form-control input-sm hidden" value="@prescription" readonly/>
    } else {
        <input id = "prescription@prescriptionNumber" name="prescription@prescriptionNumber" type="text" class="form-control input-sm hidden" value=""/>
    }
}
