@(number: Integer, value: List[femr.common.models.PrescriptionItem])

@* This is separated from problemField to accommodate future prescription tracking feature *@

@if(number == 1) {
    @if(value.size >= number) {
        <input id = "prescription@number" type="text" class="form-control input-sm prescription" value="@value.get(number-1).getName" readonly/>
    } else {
        <input id = "prescription@number" name="prescription@number" type="text" class="form-control input-sm prescription" value=""/>
    }
} else {
    @if(value.size >= number) {
        <input id = "prescription@number" type="text" class="form-control input-sm prescription" value="@value.get(number-1).getName" readonly/>
    } else {
        <input id = "prescription@number" name="prescription@number" type="text" class="form-control input-sm hidden prescription" value=""/>
    }
}