@(currentUser: femr.common.dtos.CurrentUser, assets: AssetsFinder)

@import femr.ui.views.html.layouts.settings

<script>
        document.addEventListener('DOMContentLoaded', function(event) {
            let languageData;
            fetch('@routes.Assets.versioned("json/languages.json")')
                    .then(response => response.json())
                    .then(data => {
                        languageData = data;
                        let initialLanguage = @currentUser.getLanguageCode();
                        if (initialLanguage == null) {
                            initialLanguage = "en";
                        }
                        updateLanguage(initialLanguage);
                        document.getElementById('languageSelect').value = initialLanguage;
                    });

            document.getElementById('languageSelect').addEventListener('change', function() {
                updateLanguage(this.value);
            });

            function updateTextContent(elementId, value) {
                const element = document.getElementById(elementId);
                if (element) {
                    element.textContent = value;
                }
            }

            function updateLanguage(languageCode = "en") {
                localStorage.setItem('languageCode', languageCode);
                //updateTextContent("admin_welcome", languageData[languageCode].admin_welcome);
            }
        });
</script>

@settings("Settings Panel", currentUser, assets = assets) {
    <h3 id="settings_welcome">Welcome, User. Please select a language.</h3>
    <p class="userStatus">
        <select id="languageSelect" style="margin-left: 10px">
            <option value="en">English</option>
            <option value="es">Español</option>
            <option value="ka">ಕನ್ನಡ</option>
            <option value="fr">Français</option>
            <option value="ar">العربية</option>
            <option value="az">Azərbaycanca</option>
            <option value="cs">Čeština</option>
            <option value="da">Dansk</option>
            <option value="de">Deutsch</option>
            <option value="el">Ελληνικά</option>
            <option value="fa">فارسی</option>
            <option value="fi">Suomi</option>
            <option value="he">עברית</option>
            <option value="hi">हिन्दी</option>
            <option value="hu">Magyar</option>
            <option value="id">Bahasa Indonesia</option>
            <option value="it">Italiano</option>
            <option value="ja">日本語</option>
            <option value="ko">한국어</option>
            <option value="pl">Polski</option>
            <option value="pt">Português</option>
            <option value="ru">Русский</option>
            <option value="sk">Slovenčina</option>
            <option value="sv">Svenska</option>
            <option value="tr">Türkçe</option>
            <option value="vi">Tiếng Việt</option>
            <option value="zh">中文</option>
        </select>
    </p>
}
