@(currentUser: femr.common.dtos.CurrentUser, viewModel: femr.ui.models.superuser.trips.EditViewModelGet)

@import femr.ui.views.html.layouts.admin
@import femr.ui.controllers.superuser.routes.TripController

@additionalStyles = {

    <link rel="stylesheet" href="@routes.Assets.versioned("css/libraries/select2.min.css")">
    <link rel="stylesheet" href="@routes.Assets.versioned("css/superuser/superuser.css")">
}

@additionalScripts = {

    <script type="text/javascript" src="@routes.Assets.versioned("js/libraries/select2.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.versioned("js/superuser/superuser.js")"></script>
}

@admin("Trips - Manage Trips - Edit Trip", currentUser, styles = additionalStyles, scripts = additionalScripts) {

    @defining(viewModel.getTrip) { trip =>
        <p>Id: @trip.getId</p>
        <p>Team name: @trip.getTeamName</p>
        <p>City: @trip.getTripCity</p>
        <p>Country: @trip.getTripCountry</p>
        <p>Start Date: @trip.getFriendlyTripStartDate</p>
        <p>End Date: @trip.getFriendlyTripEndDate</p>
    }


    <h4>Add Users to this trip: </h4>
    @helper.form(action = TripController.editPost(viewModel.getTripId)) {

        <select id="addUsersSelect2" multiple="multiple" name="newUsersForTrip[]">
        @defining(viewModel.getAllUsers) { allUsers =>
            @for(i <- 1 to allUsers.size) {
                <option value="@allUsers.get(i - 1).getId">@allUsers.get(i - 1).getFirstName @allUsers.get(i - 1).getLastName</option>
            }
        }
        </select>

        <button type="submit">Add</button>
    }


    <table id="usersTripTable">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>About</th>
            </tr>
        </thead>
        <tbody>
        @defining(viewModel.getUsers) { users =>
            @for(i <- 1 to users.size()) {
                <tr>
                    <td>@users.get(i - 1).getFirstName @users.get(i - 1).getLastName</td>
                    <td>@users.get(i - 1).getEmail</td>
                    <td>@users.get(i - 1).getNotes</td>
                </tr>
            }
        }
        </tbody>
    </table>


}

