@(currentUser: femr.common.dto.CurrentUser,
        viewModel: femr.ui.models.search.EncounterViewModel)

@import femr.ui.views.html.layouts.main

    @additionalScripts = {
        <script type="text/javascript" src="@routes.Assets.at("js/history/history.js")"></script>
        <script type = "text/javascript" src="@routes.Assets.at("js/shared/femr.js")"></script>
    }
    @additionalStyles = {
        <link rel="stylesheet" href="@routes.Assets.at("css/history.css")">
    }


@main("History", currentUser, scripts = additionalScripts, styles = additionalStyles) {
<h3>Viewing encounter history is temporarily unavailable. Good things are coming soon!</h3>
    @*
        <div id="patientHistoryWrap" class="backgroundForWrap">
        <div>
            <label>Triage Personnel: </label> <span>N/A</span>
            <label>Medical Personnel: </label> <span>@viewModel.getDoctorFirstName @viewModel.getDoctorLastName</span>
            <label>Pharmacy Personnel: </label> <span>@viewModel.getPharmacistFirstName @viewModel.getPharmacistLastName</span>
        </div>
        <div id="patientInformation">
            <h3>Patient Information</h3>
            <label>Id: </label> <span>@viewModel.getPatientItem.getId</span>
            <br/>
            <label>Name: </label> <span>@viewModel.getPatientItem.getFirstName @viewModel.getPatientItem.getLastName</span>
            <br/>
            <label>Address: </label> <span>@viewModel.getPatientItem.getAddress</span>
            <br/>
            <label>Age: </label> <span>@viewModel.getPatientItem.getAge</span>
            <br/>
            <label>Birthday: </label> <span>@viewModel.getPatientItem.getBirth</span>
            <br/>
            <label>City: </label> <span>@viewModel.getPatientItem.getCity</span>
            <br/>
            <label>Sex: </label> <span>@viewModel.getPatientItem.getSex</span>
        </div>



    </div>
                       *@
}

