.editUserDialog .ui-dialog-titlebar {
    background: none;
    border: none;

    font-size: 20px;
    font-weight: 300;
}

#title {
    border-bottom: 1px solid black;
}

#adminContent {
    margin-top: 25px;
    overflow: hidden;
}

.addUserGroup {
    margin-top: 25px;
}

.addUserGroup label {
    display: inline-block;
    width: 10em;
}

.addUserGroup > input{
    width: 400px;
}

.addUserGroupBtns input{
    float: left;
}
.addUserGroupBtns label{
    /*margin-top: 30px;*/
    width: 10em;

}
.addUserGroupBtns{
    margin-top: 25px;
}
#addUserSubmitBtn{
    float: right;
    width: 200px;
}

#admin-panels {
    width: 100%;
    overflow: hidden;
}
#admin-left-panel{
    margin-top: 100px;
    overflow: hidden;
}
.userBtns {
    margin-bottom: 5px;
    float: left;
}
.userBtns:hover{
    text-decoration: none;
}
#admin-right-panel{
    background-color: #e9e6e6;
    border: 3px solid #3f3f3d;
    border-radius: 10px;
    min-height: 600px;
    padding: 10px;
    min-width: 600px;
}
@media (min-width: 1000px){
    .userBtns{
        min-width: 175px;
    }
    #admin-left-panel {
        float: left;
        width: 20%;
    }

    #admin-right-panel {
        margin-top: 100px;
        float: left;
        width: 80%;
    }
}

@media (max-width: 1000px){
    .userBtns{
        min-width: 165px;
    }
    #admin-left-panel {
        margin-bottom: 10px;
    }
}