
.newMedicationWrap{

    overflow: hidden;
    padding: 10px;
    background-color: #fafafa;
    border: 1px solid #cfcfcf;
}

.newMedicationWrap .row{

    margin: 0 0 15px;
}

.newMedicationWrap .fieldMedication{

    display: inline-block;
    margin-right: 20px;
}

.newMedicationWrap .fieldMedication #medicationName{

    width: 370px;
}

.newMedicationWrap .fieldMedication .medicationIngredient{

    width: 300px;
}

.newMedicationWrap .fieldMedication:last-child{

    margin-right: 0;
}

.newMedicationWrap .fieldMedication .fInput,
.newMedicationWrap .fieldMedication .fOption{

    clear: both;
    display: block;
}

.newMedicationWrap .fieldMedication .fOption{

    width: auto;
}

.newMedicationWrap .ingredients{

    padding-bottom: 20px;
    border-bottom: 1px solid #cfcfcf;
}

.newMedicationWrap .ingredientWrap{

    padding-left: 70px;
    padding-right: 50px;
    clear: both;
    position: relative;
    display: inline-block;
}

.newMedicationWrap .ingredientWrap .ingredientFields{

    clear: both;
    overflow: hidden;
    margin-bottom: 10px;
}

.newMedicationWrap .ingredientWrap .ingredientFields:first-child .removeIngredient{

    border-color: #cccccc;
    color: #cccccc;
}

.newMedicationWrap #addNewIngredient{

    display: block;
    clear: both;
    cursor: pointer;
    color: #333333;
    position: absolute;
    bottom: 11px;
    right: 5px;
}

.newMedicationWrap #addNewIngredient:hover{

    text-decoration: none;
}

.newMedicationWrap .removeIngredient{

    display: inline-block;
    clear: both;
    cursor: pointer;
    color: #333333;
    position: relative;
}

.newMedicationWrap .removeIngredient:hover{

    text-decoration: none;
}

.newMedicationWrap #submitMedicationButton{

    float: right;
}

#inventoryTable{

}

#inventoryTable th{

    background-color: #2f2f2f;
    color: #ffffff;
    padding: 5px;
    text-align: center;
}

#inventoryTable td{

    border: 1px solid #cccccc;
    background-color: #ffffff;
    padding: 5px 10px;
}

#inventoryTable td.name{

    width: 50%;
}


/*
#addMed {
    margin-bottom: 20px;
}

#inventoryTable{
    width: 100%;
    border: 1px solid black;
    table-layout: auto;
}
#inventoryTable th,td{
    text-align: center;
}


#submitMedicationButton{
    width: 20%;
    float: right;
    margin-top: 10px;
}

#newMedicationWrap{
    padding: 12px 12px 2px 12px;
    overflow: hidden;
    margin: 0 auto;
    width: 100%;
}
#primaryMedicationRow{
    overflow: hidden;
}
#quantityFormName_Wrap, #strengthUnitIngredient_Wrap{
    width: 46%;
    overflow: hidden;
    float: left;
}
#addIngredientPlusSignWrap{
    float: left;
    width: 8%;
    margin-top: 16px;
}
.newIngredientRow{

    width: 100%;
    overflow: hidden;
}
.newIngredientRow div{
    float: right !important;
}
.newIngredientWrap{
    width: 46%;
}
.newIngredientWrap select{
    margin-top: 0 !important;
}
.newInvisiblePlusSignWrap{
    width: 8%;
    float: right;
    overflow: hidden;
}


.fieldMedication{
    padding: 2px;

}
.fieldMedication input{
    width: 100% !important;
}



#quantityFieldMedication{
    width: 25%;
    float: left;
}
#formFieldMedication{
    width: 25%;
    float: left;
}
#formFieldMedication select, .unitFieldMedication select{
    width: 100%;
    margin-top: 5px;
}
#nameFieldMedication{
    width: 50%;
    float: left;
}

.strengthFieldMedication{
    width: 27%;
    float: left;
}
.unitFieldMedication{
    width: 23%;
    float: left;
}
.ingredientFieldMedication{
    width: 50%;
    float: left;
}

#invisibleShit{
    width: 4%;
    float: right;
    overflow: hidden;

}
#addIngredientPlusSignWrap span{
    padding: 0 10px 0 10px;
    font-size: 36px;
    margin: 0 auto;
}
#addIngredientPlusSignWrap span:hover{
    cursor: default;
}


#formFieldMedication{
    float: left;
}

.remove span:hover{
    cursor: pointer;
}

#currentMedicationsGrid a {
    cursor: pointer;
}

.medication_ingredient {
    font-size: 9px;
}*/
