#addMed {

    margin-bottom: 20px;
}

#inventoryTable{
    width: 100%;
    border: 1px solid black;
    table-layout: auto;
}
#inventoryTable th,td{
    text-align: center;
}


#addMedToList{
    width: 25%;
    float: right;
}
#inputMedication, #currentMedicationsWrap{
    border-top: 1px solid black;
    padding: 12px;
}
#inputMedication{
    overflow: hidden;
    margin: 0 auto;
    width: 80%;
    border: 1px solid grey;
}
#inputMedicationLeft, #inputMedicationRight{
    float: left;
    width: 50%;
}
#inputMedicationLeft{
    padding: 5px 5px 5px 2px;
}
#inputMedicationRight{
    padding: 5px 2px 5px 5px;
}
.fieldMedication{

    margin-right: 5px;
}
.fieldMedication input{
    width: 100% !important;
}
#saveAllNewMeds{
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: 10px;
    margin-right: 10px;
}
#cancelAllNewMeds{
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: 10px;
    margin-right: 80px;

}
#listMedication{
    margin-top: 20px;
    border-top: 1px solid black;
}
#listMedication input{
    border: none;
    background-color: transparent;
}
#listMedication input:hover{
    cursor: default;
}

.remove span:hover{
    cursor: pointer;

}
#removeMed{
    background: transparent;
    border: none !important;
}