#addMed {
    margin-bottom: 20px;
}

#inventoryTable{
    width: 100%;
    border: 1px solid black;
    table-layout: auto;
}
#inventoryTable th,td{
    text-align: center;
}


#submitMedicationButton{
    width: 20%;
    float: right;
    margin-top: 10px;
}

#newMedicationWrap{
    padding: 12px 12px 2px 12px;
    overflow: hidden;
    margin: 0 auto;
    width: 100%;
}
#primaryMedicationRow{
    overflow: hidden;
}
#quantityFormName_Wrap, #strengthUnitIngredient_Wrap{
    width: 46%;
    overflow: hidden;
    float: left;
}
#addIngredientPlusSignWrap{
    float: left;
    width: 8%;
    margin-top: 16px;
}
.newIngredientRow{

    width: 100%;
    overflow: hidden;
}
.newIngredientRow div{
    float: right !important;
}
.newIngredientWrap{
    width: 46%;
}
.newIngredientWrap select{
    margin-top: 0 !important;
}
.newInvisiblePlusSignWrap{
    width: 8%;
    float: right;
    overflow: hidden;
}


.fieldMedication{
    padding: 2px;

}
.fieldMedication input{
    width: 100% !important;
}



#quantityFieldMedication{
    width: 25%;
    float: left;
}
#formFieldMedication{
    width: 25%;
    float: left;
}
#formFieldMedication select, .unitFieldMedication select{
    width: 100%;
    margin-top: 5px;
}
#nameFieldMedication{
    width: 50%;
    float: left;
}

.strengthFieldMedication{
    width: 27%;
    float: left;
}
.unitFieldMedication{
    width: 23%;
    float: left;
}
.ingredientFieldMedication{
    width: 50%;
    float: left;
}

#invisibleShit{
    width: 4%;
    float: right;
    overflow: hidden;

}
#addIngredientPlusSignWrap span{
    padding: 0 10px 0 10px;
    font-size: 36px;
    margin: 0 auto;
}
#addIngredientPlusSignWrap span:hover{
    cursor: default;
}


#formFieldMedication{
    float: left;
}

.remove span:hover{
    cursor: pointer;
}