.name{
    width: 200px;
}
.isActive{
    text-align: center;
}

.left{
    padding-left: 20px;
    padding-bottom: 20px;
}

.right{
    right: auto;
    position: absolute;
    left: 57%;
    top: 28%;
    padding: 10px;
}

.rightBelow{
    right: auto;
    position: absolute;
    left: 57%;
    top: 48%;
    padding: 10px;
}

.updateButton{
    padding: 3px;
    border-radius: 4px;
    background-color: lawngreen;
}