@(patientEncounter: femr.common.models.PatientEncounterItem, assets: AssetsFinder)

@import femr.ui.controllers.routes.MedicalController

<div id="complaintWrap" class="backgroundForWrap">
    <h3>Complaint</h3>
    <div id= "complaintInfo">
        @* Chief Complaint*@
        <img class="loading" src="@assets.path("img/graph-loader.gif")" alt="loading&hellip;" />
    </div>
</div>

<div id="complaintWrapOriginal" class="backgroundForWrap">
    <h3>Original Complaint</h3>
    <div id= "complaintInfo">
        @* Chief Complaint*@
        @if(patientEncounter.getChiefComplaints != null && patientEncounter.getChiefComplaints.size > 0 && patientEncounter.getChiefComplaints.get(0) != null && !patientEncounter.getChiefComplaints.get(0).isEmpty) {
            <span>@patientEncounter.getChiefComplaints.get(0)</span>
        } else {
            <label>Complaint: </label>
            <span>N/A</span>
        }
        <h3> </h3>
    </div>
</div>
