@(currentUser: femr.common.dtos.CurrentUser = null, assets: AssetsFinder)
<script>
        document.addEventListener('DOMContentLoaded', function() {


            let languageData;
            fetch('@routes.Assets.versioned("json/languages.json")')
                    .then(response => response.json())
                    .then(data => {
                        languageData = data;
                        const initialLanguage = localStorage.getItem('languageCode') || 'en';
                        updateLanguage(initialLanguage);
                    });
            function updateTextContent(elementId, value) {
                const element = document.getElementById(elementId);
                if (element) {
                    element.textContent = value;
                }
            }

            function updateLanguage(languageCode = "en") {
                localStorage.setItem('languageCode', languageCode);
                updateTextContent("langCode_feedbackBtn", languageData[languageCode].langCode_feedbackBtn);
                updateTextContent("langCode_googleChrome", languageData[languageCode].langCode_googleChrome);
            }
        });
</script>
<footer>
    <div class="footerSpacer"></div>
    <hr/>
    <div class="row">
        <div class="col-xs-4">
                @if(currentUser != null) {
                    <p>@currentUser.getKitVersion</p> @* Only have access to version one logged in since currentUser is null if not logged in.*@
                }
        </div>
        <div class="col-xs-4">
            <div class="leaveFeedback">
               <a href="/feedback"> <button type="button" class="fButton fRedButton fOtherButton " id="langCode_feedbackBtn"> Leave Feedback </button></a>
            </div>
        </div>
        <div class="col-xs-4">
            <p class="text-right footerTextRight" id="langCode_googleChrome">Designed for Google Chrome</p>
        </div>
    </div>
    <br/>
</footer>
@*<script>*@
@*        document.addEventListener('DOMContentLoaded', function(event) {*@
@*            let languageData;*@
@*            function translateTextNodes(node) {*@
@*                const targetLang = "es";*@
@*                if (node.nodeType === Node.TEXT_NODE) {*@
@*                    const trimmedText = node.nodeValue.trim();*@
@*                    if (trimmedText !== '' && languageData[targetLang][trimmedText]) {*@
@*                        node.nodeValue = languageData[targetLang][trimmedText];*@
@*                    }*@
@*                } else {*@
@*                    node.childNodes.forEach(child => translateTextNodes(child, targetLang));*@
@*                }*@
@*            }*@

@*            fetch('@routes.Assets.versioned("json/languages.json")')*@
@*                    .then(response => response.json())*@
@*                    .then(data => {*@
@*                        languageData = data;*@
@*                        translateTextNodes(document.body);*@
@*                    });*@
@*        });*@
@*</script>*@
