@(currentUser: femr.common.dtos.CurrentUser, assets: AssetsFinder)
<script>
        document.addEventListener('DOMContentLoaded', function(event) {
            let languageData;
            fetch('@routes.Assets.versioned("json/languages.json")')
                    .then(response => response.json())
                    .then(data => {
                        languageData = data;
                        updateLanguage();
                    });

            document.getElementById('languageSelect').addEventListener('change', function() {
                updateLanguage(this.value);
            });

            function updateTextContent(elementId, value) {
                const element = document.getElementById(elementId);
                if (element) {
                    element.textContent = value;
                }
            }

            function updateLanguage(languageCode = "en") {
                const language = languageCode;
                updateTextContent("langCode_feedbackBtn", languageData[language].langCode_feedbackBtn);
                updateTextContent("langCode_googleChrome", languageData[language].langCode_googleChrome);
            }
        });
</script>
<footer>
    <hr />
    <div class="row">
        <div class="col-xs-4">
            <p>fEMR 2.4.1-beta</p>
        </div>
        <div class="col-xs-4">
            <div class="leaveFeedback">
               <a href="/feedback"> <button type="button" class="fButton fRedButton fOtherButton " id="langCode_feedbackBtn"> Leave Feedback </button></a>
            </div>
        </div>
        <div class="col-xs-4">
            <p class="text-right" id="langCode_googleChrome">Designed for use in Google Chrome</p>
        </div>
    </div>
</footer>
@*<script>*@
@*        document.addEventListener('DOMContentLoaded', function(event) {*@
@*            let languageData;*@
@*            function translateTextNodes(node) {*@
@*                const targetLang = "es";*@
@*                if (node.nodeType === Node.TEXT_NODE) {*@
@*                    const trimmedText = node.nodeValue.trim();*@
@*                    if (trimmedText !== '' && languageData[targetLang][trimmedText]) {*@
@*                        node.nodeValue = languageData[targetLang][trimmedText];*@
@*                    }*@
@*                } else {*@
@*                    node.childNodes.forEach(child => translateTextNodes(child, targetLang));*@
@*                }*@
@*            }*@

@*            fetch('@routes.Assets.versioned("json/languages.json")')*@
@*                    .then(response => response.json())*@
@*                    .then(data => {*@
@*                        languageData = data;*@
@*                        translateTextNodes(document.body);*@
@*                    });*@
@*        });*@
@*</script>*@
