@(patient: femr.common.models.PatientItem, patientEncounter: femr.common.models.PatientEncounterItem,
        settings: femr.common.models.SettingItem, pageName: java.lang.String)

@import femr.ui.views.html.partials.helpers.outputHeightOrNA
@import femr.ui.views.html.partials.helpers.outputWeightOrNA
@import femr.ui.views.html.partials.helpers.outputIntOrNA

<div id="patientOverviewWrap" class="femr-card femr-card--overview">

    <div class="femr-card__header">
        <h3 id="partials_medical_Overview_Patient" class="femr-card__title">Patient Overview - @pageName</h3>
    </div>

    <div class="femr-card__body">
        <div class="femr-overview">
            <div class="femr-overview__photo">
                @if(patient.getPathToPhoto != null) {
                    <img src="@patient.getPathToPhoto" alt="Patient photo">
                }
            </div>

            <div id="patientOverViewInfo" class="femr-overview__grid">
                <div class="femr-overview__item">
                    <span id="partials_medical_Overview_Name" class="femr-overview__label">Name</span>
                    <span class="femr-overview__value">@patient.getFirstName @patient.getLastName</span>
                </div>
                <div class="femr-overview__item">
                    <span id="partials_medical_Overview_Age" class="femr-overview__label">Age</span>
                    <span class="femr-overview__value">@patient.getAge</span>
                </div>
                <div class="femr-overview__item">
                    <span id="partials_medical_Overview_Sex" class="femr-overview__label">Sex</span>
                    <span class="femr-overview__value">@patient.getSex</span>
                </div>
                <div class="femr-overview__item">
                    <span id="partials_medical_Overview_City" class="femr-overview__label">City</span>
                    <span class="femr-overview__value">@patient.getCity</span>
                </div>
                @if(pageName.contains("Medical -")) {
                    <div class="femr-overview__item">
                        <span class="femr-overview__label">BMI</span>
                        <span class="femr-overview__value" id="bmi"></span>
                    </div>
                } else {
                    <div class="femr-overview__item">
                        <span class="femr-overview__label">Height</span>
                        <span class="femr-overview__value">@outputHeightOrNA(String.valueOf(patient.getHeightFeet), String.valueOf(patient.getHeightInches), settings.isMetric) / @outputHeightOrNA(String.valueOf(patient.getHeightFeetDual), String.valueOf(patient.getHeightInchesDual), !settings.isMetric)</span>
                    </div>
                    <div class="femr-overview__item">
                        <span class="femr-overview__label">Weight</span>
                        <span class="femr-overview__value">@outputWeightOrNA(String.valueOf(patient.getWeight), settings.isMetric)</span>
                    </div>
                }

                @if(patient.getWeeksPregnant != null) {
                    <div class="femr-overview__item">
                        <span id="partials_medical_Overview_Pregnant" class="femr-overview__label">Weeks Pregnant</span>
                        <span class="femr-overview__value">@outputIntOrNA(patient.getWeeksPregnant)</span>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
