@(page: String)

@import femr.ui.controllers.routes.SearchController

<div id="searchContainer">

    @page.toLowerCase match {
        case "triage" => {
            @helper.form(action = SearchController.handleSearch("triage")) {
                <div class="nameOrIdSearchFormWrap">
                    <label for="nameOrIdSearchForm"></label>
                    <input type="text" class="fInput" id = "nameOrIdSearchForm" placeholder="ID, Name, or Phone #" name="patientSearchQuery"/>
                    <button type="submit" id="searchBtn" class="fButton fRedButton fGlobalSearchButton nameOrIdSearchButton">Search</button>
                </div>
            }
        }
        case "history" => {
            @helper.form(action = SearchController.handleSearch("history")) {
                <div class="nameOrIdSearchFormWrap">
                    <label for="nameOrIdSearchForm"></label>
                    <input type="text" class="fInput" id = "nameOrIdSearchForm" placeholder="ID, Name, or Phone #" name="patientSearchQuery"/>
                    <button type="submit" id="searchBtn" class="fButton fRedButton fGlobalSearchButton nameOrIdSearchButton">Search</button>
                </div>
            }
        }
        case "medical" => {
            @helper.form(action = SearchController.handleSearch("medical")) {
                <div class="nameOrIdSearchFormWrap">
                    <label for="nameOrIdSearchForm"></label>
                    <input type="text" class="fInput" id = "nameOrIdSearchForm" placeholder="ID, Name, or Phone #" name="patientSearchQuery"/>
                    <button type="submit" id="searchBtn" class="fButton fRedButton fGlobalSearchButton nameOrIdSearchButton">Search</button>
                </div>
            }
        }
        case "pharmacy" => {
            @helper.form(action = SearchController.handleSearch("pharmacy")) {
                <div class="nameOrIdSearchFormWrap">
                    <label for="nameOrIdSearchForm"></label>
                    <input type="text" class="fInput" id = "nameOrIdSearchForm" placeholder="ID, Name, or Phone #" name="patientSearchQuery"/>
                    <button type="submit" id="searchBtn" class="fButton fRedButton fGlobalSearchButton nameOrIdSearchButton">Search</button>
                </div>
            }
        }
        case _ => {

        }
    }
    @* Medical also needs an exception. so does pharmacy. History controller should only be
    for duplicate patients. How to structure this?!*@


</div>