@(currentUser: femr.business.dtos.CurrentUser, viewModel: femr.ui.models.superuser.ContentViewModelGet)

@import femr.ui.views.html.layouts.admin
@import femr.ui.controllers.routes.SuperuserController

    @additionalMenuItems = {
        <a href="@SuperuserController.tabsGet()" class="btn btn-default pull-left userBtns"><span class="glyphicon glyphicon-wrench"></span>
            Manage Content</a>
    }

@admin("Admin Panel", currentUser, menu = additionalMenuItems) {
    <h1>Adding content to @viewModel.getName</h1>
    <h3>Current Fields</h3>
    <table>
        <thead>
            <tr>
                <th>Field Label</th>
                <th>Field Type</th>
                <th>Field Size</th>
            </tr>
        </thead>
        <tbody>

        @for(f <- 1 to viewModel.getCurrentCustomFieldItemList.size) {
            <tr>
                <td>@viewModel.getCurrentCustomFieldItemList.get(f - 1).getName</td>
                <td>@viewModel.getCurrentCustomFieldItemList.get(f - 1).getType</td>
                <td>@viewModel.getCurrentCustomFieldItemList.get(f - 1).getSize</td>
            </tr>
        }

        </tbody>
    </table>
    <h3>Deleted Fields</h3>
    <table>
        <thead>
            <tr>
                <th>Field Label</th>
                <th>Field Type</th>
                <th>Field Size</th>
            </tr>
        </thead>
        <tbody>

        @for(f <- 1 to viewModel.getRemovedCustomFieldItemList.size) {
            <tr>
                <td>@viewModel.getRemovedCustomFieldItemList.get(f - 1).getName</td>
                <td>@viewModel.getRemovedCustomFieldItemList.get(f - 1).getType</td>
                <td>@viewModel.getRemovedCustomFieldItemList.get(f - 1).getSize</td>
            </tr>
        }

        </tbody>
    </table>
    <br/>

    @helper.form(action = SuperuserController.contentPost(viewModel.getName)) {
        <h4>Add/Activate Field</h4>
        <label for="addName">Name</label>
        <input type="text" class="fInput" name="addName" placeholder="Label"/>
        <br/>
        <label for="addType">Type</label>
        <input type="text" class="fInput" name="addType" placeholder="Type"/>
        <br/>
        <label for="addSize">Size</label>
        <input type="text" class="fInput" name="addSize" placeholder="Size"/>
        <br/>

        <h4>Deactivate Field</h4>
        <label for="removeName">Name</label>
        <input type="text" class="fInput" name="removeName"/>
        <br/>
        <label for="removeType">Type</label>
        <input type="text" class="fInput" name="removeType"/>
        <br/>
        <label for="removeSize">Size</label>
        <input type="text" class="fInput" name="removeSize"/>
        <br/>
        <button type="submit" class="fButton">Submit</button>
    }

}