@(currentUser: femr.common.dto.CurrentUser, roles: List[_ <: femr.data.models.IRole], viewModel: femr.ui.models.admin.users.CreateViewModelGet)

@import femr.ui.views.html.layouts.admin
@import femr.ui.controllers.admin.routes.UsersController

@admin("Add User", currentUser) {
    <div class="createWrap">
    @helper.form(action = UsersController.createPost(), 'class -> "form-horizontal") {

         <p id="createUserError">@viewModel.getError</p>

        <div class="addUserGroup">
            <label for="email">Email address</label>
            <input type="text" id="email" name="email" class="fInput" placeholder="Email Address" value="@viewModel.getUser.getEmail" autofocus="" />
        </div>
        <div class="addUserGroup">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" class="fInput" placeholder="Password"/>
        </div>
        <div class="addUserGroup">
            <label for="firstName">First Name</label>
            <input type="text" id="firstName" name="firstName" class="fInput" value="@viewModel.getUser.getFirstName" placeholder="First Name"/>
        </div>
        <div class="addUserGroup">
            <label for="lastName">Last Name</label>
            <input type="text" id="lastName" name="lastName" class="fInput" value="@viewModel.getUser.getLastName" placeholder="Last Name"/>
        </div>

        <div class="addUserGroupBtns">
            <label for="roles">Roles</label>

            <br/>
            @for(role <- roles) {
                <label class="btn btn-default">
                    <input type="checkbox" name="roles" value="@role.getId"> @role.getName
                </label>
                <br/>
            }
        </div>
    </div>
    <button class="fButton fSubmitButton" id="addUserSubmitBtn" type="submit">Submit</button>
}
}