@(viewModel: femr.ui.models.admin.users.EditUserViewModel)

@import femr.ui.controllers.admin.routes.UsersController

<div class="container">
    <div class="row">
    @helper.form(action = UsersController.createPost()) {


        <div class="col-lg-7 col-md-7 col-sm-7">

            <h3>First Name</h3>
            <input type="text" class="form-control input-lg" name="firstName" value="@viewModel.getUser.getFirstName"/>
            <h3>Last Name</h3>
            <input type="text" class="form-control input-lg" name="lastName" value="@viewModel.getUser.getLastName"/>
            <h3>Email</h3>
            <input type="text" class="form-control input-lg" name="email" value="@viewModel.getUser.getEmail"/>

            <input type="text" class="hidden" name="userId" value="@viewModel.getUser.getId"/>

        </div>

        <div class="col-lg-5 col-md-5 col-sm-5">
            <h3>Roles</h3>


            <div class="btn-group width-100">
                <button type="button" class="btn btn-default dropdown-toggle width-100" data-toggle="dropdown">
                    Add Role <span class="caret"></span>
                </button>
                <ul class="dropdown-menu width-100" role="menu">
                    @for(role <- 1 to viewModel.getAllRoles.size()){
                        <li class="roleListItem"><a>@viewModel.getAllRoles.get(role - 1).getName</a></li>
                    }
                </ul>
            </div>


            <ul class="list-group" id="currentRoles">
            @for(role <- 1 to viewModel.getUser.getRoles.size) {
                <li class="list-group-item" value="@viewModel.getUser.getRoles.get(role - 1).getName">
                    <span class="badge roleBadge">X</span>
                    @viewModel.getUser.getRoles.get(role - 1).getName
                    <!-- stores hidden value for POST -->
                    <input type="text" class="hidden" name="roles[]" value="@viewModel.getUser.getRoles.get(role - 1).getName"/>
                </li>
            }


            </ul>


        </div>
    </div>

    <div class="row">
        <div class="btn-group pull-right">
            <button type="submit" class="btn btn-default" id="saveBtn">Save</button>
            <button type="button" class="btn btn-default" id="cancelBtn">Cancel</button>
        </div>
    </div>

    }
</div>