#vitalTable{
    width: 100%;
    font-size: 14px;
    border-collapse: collapse;
}

#vitalTable th,td,tr{
    border: none;
}

@media (max-width: 769px){
    #vitalTable{
        font-size: 13px;
    }
}