@(currentUser: femr.common.dto.CurrentUser, viewModel: femr.ui.models.pharmacy.EditViewModelGet, searchError: java.lang.Boolean)

@import femr.ui.controllers.routes.PharmaciesController
@import femr.ui.views.html.layouts.medicalPersonnel
@import femr.ui.views.html.helpers.shared._

    @additionalScripts = {
        <script type = "text/javascript" src="@routes.Assets.at("js/pharmacy/pharmacy.js")"></script>
        <script type = "text/javascript" src="@routes.Assets.at("js/pharmacy/pharmacyClientValidation.js")"></script>
        <script type = "text/javascript" src="@routes.Assets.at("js/typeahead.min.js")"></script>
    }
    @additionalStyles = {
        <link rel="stylesheet" href="@routes.Assets.at("css/pharmacy.css")">
    }
    @searchById = {
    @helper.form(action = PharmaciesController.indexPost()) {
        <div class="col-lg-10 col-sm-10 col-md-10 col-xs-10 remove-padding">
        @if(searchError) {
            <input type="number" id="id" class="form-control idSearchForm" name="id" placeholder="Invalid Id">
        } else {
            <input type="number" id="id" class="form-control idSearchForm" name="id" placeholder="Patient ID">
            }
        </div>
        <div class="col-lg-2 col-sm-2 col-md-2 col-xs-2 remove-padding">
            <button type="submit" id="pharmacySearch" class="buttonSearchForm idSearch btn btn-default btn-sm">Search</button>
        </div>
    }
    }

@medicalPersonnel("Pharmacy", currentUser, scripts = additionalScripts, customSearch = searchById, styles = additionalStyles) {
    <div id="pharmacyContentWrap">

        @patientOverview(viewModel.getPatient, viewModel.getPatientEncounterItem, "Pharmacy")



        <div id="mainWrap" class="backgroundForWrap">
        @helper.form(action = PharmaciesController.editPost(viewModel.getPatient.getId)) {


            <div id="diagnosisWrap">
                <ol class="problems">
                    <h4>List of Diagnoses</h4>
                    @if(viewModel.getProblems != null){
                        @for(y <- 1 to viewModel.getProblems.size) {
                            @if(viewModel.getProblems.get(y - 1) != null) {
                                <li>@viewModel.getProblems.get(y - 1).getName</li>
                            }
                        }
                    }
                </ol>
            </div>




            <div id="medicationWrap">
                <h4>Medications</h4>


                @for(x <- 1 to viewModel.getMedications.size) {
                    <div class="medication">
                        <input type="text" id="medication@x" class="fInput" name="prescription@x" value="@viewModel.getMedications.get(x - 1).getName" placeholder="Medication" readonly/>
                        <input type="text" class="hidden" name="id_prescription@x" value="@viewModel.getMedications.get(x - 1).getId"/>
                        <button type="button" class="fButton replaceBtn">Replace?</button>
                        <input type="text" class="hidden replacementMeds fInput" id="replacementMedication@x" name="replacementMedication@x" placeholder="Replacement" />
                    </div>
                }
                <button type="submit" id="pharmacySubmitBtn" class="fButton pull-right fSubmitButton">Submit</button>
            </div>



        </div>


    </div>
}
}
