@import femr.ui.controllers.routes.PharmaciesController

@import femr.ui.views.html.layouts.main

@additionalScripts = {
    <script type = "text/javascript" src="@routes.Assets.at("js/pharmacy/pharmacy.js")"></script>
}

@main("Pharmacy", scripts = additionalScripts){

    <div class="row medicineInput">
        <div class="row" text align="center">
            <h3>Pharmacy Record</h3>
        </div>
        @helper.form(action = PharmaciesController.createGet()){
            <div class="row" style="margin: 0 0 15px 0">
                <div class="col-sm-1 col-md-1">
                    <label>Patient ID:</label>
                </div>
                <div class="col-sm-2 col-md-2">
                    <input type="text" name="id" class="form-control input-sm" value="" />
                </div>
                <div class="col-sm-1 col-md-1">
                    <button type="submit" class="btn btn-primary">search</button>
                </div>
            </div>
            }

            <div class="row" style="margin: 0 0 15px 0">
                <div class="col-sm-1 col-md-1">
                    <h5>age:</h5>
                </div>
                <div class="col-sm-1 col-md-1">
                    <input type="text" name="age" class="form-control input-sm" value="" disabled="true"/>
                </div>
                <div class="col-sm-1 col-md-1   ">
                    <h5>height:</h5>
                </div>
                <div class="col-sm-1 col-md-1">
                    <input type="text" name="height" class="form-control input-sm" value="" disabled="true"/>
                </div>
                <div class="col-sm-1 col-md-1">
                    <h5>weight:</h5>
                </div>
                <div class="col-sm-1 col-md-1">
                    <input type="text" name="weight" class="form-control input-sm" value="" disabled="true"/>
                </div>
                <div class="col-sm-3 col-md-3">
                    <h5>pregnancy status:</h5>
                </div>
                <div class="col-sm-3 col-md-3">
                    <input type="text" name="pregnancy" class="form-control input-sm" value="" disabled="true"/>
                </div>
            </div>

            <div class="row" style="margin: 0 0 25px 0">
                <div class="col-sm-2 col-md-2">
                    <h5>List of Diagnoses:</h5>
                </div>
                <div class="col-sm-2 col-md-2">
                    <input type="text" name="diagnosis1" class="form-control input-sm" value="" disabled="true"/>
                </div>
                <div class="col-sm-2 col-md-2">
                    <input type="text" name="diagnosis2" class="form-control input-sm" value="" disabled="true"/>
                </div>
                <div class="col-sm-2 col-md-2">
                    <input type="text" name="diagnosis3" class="form-control input-sm" value="" disabled="true"/>
                </div>
                <div class="col-sm-2 col-md-2">
                    <input type="text" name="diagnosis4" class="form-control input-sm" value="" disabled="true"/>
                </div>
                <div class="col-sm-2 col-md-2">
                    <input type="text" name="diagnosis5" class="form-control input-sm" value="" disabled="true"/>
                </div>
            </div>

            <div class ="well">
                <div class="row"  style="margin: 0 0 15px 0">
                    <div class="col-sm-4 col-md-4" text align="center" >
                        <h4>Medication</h4>
                        <input type="text" name="input_text" placeholder="Medication" class="form-control" value="" disabled="true"/>
                    </div>
                    <div class="col-sm-4 col-md-4" align="center">
                        <h4>Replacement?</h4>
                        <div class="btn-group" data-toggle="buttons">
                            <label class="btn btn-default" id="yesReplace1" onclick="yesReplacement(1)">
                                <input type="radio" name="Medication1">Yes
                            </label>
                            <label class="btn btn-default active" id="noReplace1" onclick="noReplacement(1)">
                                <input type="radio" name="Medication1">No
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4" align="center" style="margin: 35px 0 0 0">
                        <input type="text" id="replacementMedication1" placeholder="Replacement" class="hidden form-control"/>
                    </div>
                </div>

                <div class="row"  style="margin: 0 0 15px 0">
                    <div class="col-sm-4 col-md-4" align="center">
                        <input type="text" name="input_text" placeholder="Medication" class="form-control" value="" disabled="true"/>
                    </div>
                    <div class="col-sm-4 col-md-4" align="center">
                        <div class="btn-group" data-toggle="buttons">
                            <label class="btn btn-default" id="yesReplace2" onclick="yesReplacement(2)">
                                <input type="radio" name="Medication2">Yes
                            </label>
                            <label class="btn btn-default active" id="noReplace2" onclick="noReplacement(2)">
                                <input type="radio" name="Medication2">No
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4" align="center">
                        <input type="text" id=replacementMedication2 placeholder="Replacement" class="hidden form-control"/>
                    </div>
                </div>

                <div class="row"  style="margin: 0 0 15px 0">
                    <div class="col-sm-4 col-md-4" align="center">
                        <input type="text" name="input_text" placeholder="Medication" class="form-control" value="" disabled="true"/>
                    </div>
                    <div class="col-sm-4 col-md-4" align="center">
                        <div class="btn-group" data-toggle="buttons">
                            <label class="btn btn-default" id="yesReplace3" onclick="yesReplacement(3)">
                                <input type="radio" name="Medication3">Yes
                            </label>
                            <label class="btn btn-default active" id="noReplace3" onclick="noReplacement(3)">
                                <input type="radio" name="Medication3">No
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <input type="text" id=replacementMedication3 placeholder="Replacement" class="hidden form-control"/>
                    </div>
                </div>

                <div class="row"  style="margin: 0 0 15px 0">
                    <div class="col-sm-4 col-md-4" align="center">
                        <input type="text" name="input_text" placeholder="Medication" class="form-control" value="" disabled="true"/>
                    </div>
                    <div class="col-sm-4 col-md-4" align="center">
                        <div class="btn-group" data-toggle="buttons">
                            <label class="btn btn-default" id="yesReplace4" onclick="yesReplacement(4)">
                                <input type="radio" name="Medication4">Yes
                            </label>
                            <label class="btn btn-default active" id="noReplace4" onclick="noReplacement(4)">
                                <input type="radio" name="Medication4">No
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4" align="center">
                        <input type="text" id=replacementMedication4 placeholder="Replacement" class="hidden form-control"/>
                    </div>
                </div>

                <div class="row" style="margin: 0 0 15px 0">
                    <div class="col-sm-4 col-md-4" align="center">
                        <input type="text" name="input_text" placeholder="Medication" class="form-control" value="" disabled="true"/>
                    </div>
                    <div class="col-sm-4 col-md-4" align="center">
                        <div class="btn-group" data-toggle="buttons"  >
                            <label class="btn btn-default" id="yesReplace5" onclick="yesReplacement(5)">
                                <input type="radio" name="Medication5">Yes
                            </label>
                            <label class="btn btn-default active" id="noReplace5" onclick="noReplacement(5)">
                                <input type="radio" name="Medication5">No
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4" align="center">
                        <input type="text" class="hidden form-control" id=replacementMedication5 placeholder="Replacement" />
                    </div>
                </div>

                <div class="class row" align="right">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        @*</form>*@
    </div>
}
