@(currentUser: femr.business.dtos.CurrentUser, message: java.lang.String, patientId: java.lang.Integer)

@import femr.ui.controllers.routes.PharmaciesController
@import femr.ui.views.html.layouts.main
@import femr.ui.views.html.helpers.shared._

    @additionalScripts = {
        <script type = "text/javascript" src="@routes.Assets.at("js/femr.js")"></script>
    }

@main("Pharmacy", currentUser, scripts = additionalScripts) {
    <div class="container">
    @helper.form(action = PharmaciesController.indexPost()) {
        @searchBox("Pharmacy", patientId, message)
    }
    </div>
}
