@(currentUser: femr.business.dtos.CurrentUser, viewModel: femr.ui.models.pharmacy.CreateViewModel, searchError: java.lang.Boolean)

@import femr.ui.controllers.routes.PharmaciesController
@import femr.ui.views.html.layouts.medicalPersonnel

@additionalScripts = {
    <script type = "text/javascript" src="@routes.Assets.at("js/pharmacy/pharmacy.js")"></script>
}

    @searchById = {
    @helper.form(action = PharmaciesController.createGet()) {
        <label for="id">Id</label>
        @if(searchError ){
            <input type="text" id="id" name="id" placeholder="Invalid Id">
        }else{
            <input type="text" id="id" name="id">
        }
        <button type="submit" id="pharmacySearch" class="btn btn-default btn-sm">Search</button>
    }
    }

@medicalPersonnel("Pharmacy", currentUser, scripts = additionalScripts, customSearch = searchById){

    <div class="row medicineInput">
        <div class="row well well-sm">
            <h3 class="text-center">Patient Overview</h3>

            <div class="col-xs-3 col-sm-3 col-md-3">
                <div class="row">
                    <div class="col-xs-4 col-sm-4 col-md-4">
                        <label>Name:</label>
                    </div>
                    <div class="col-xs-8 col-sm-8 col-md-8">
                        <p>@viewModel.getFirstName @viewModel.getLastName</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4 col-sm-4 col-md-4">
                        <label for="">Age:</label>
                    </div>
                    <div class="col-xs-8 col-sm-8 col-md-8">
                        <p>@viewModel.getAge</p>
                    </div>
                </div>
            </div>

            <div class="col-xs-3 col-sm-3 col-md-3">
                <div class="row">
                    <div class="col-xs-4 col-sm-4 col-md-4">
                        <label for="">Height:</label>
                    </div>
                    <div class="col-xs-8 col-sm-8 col-md-8">
                        <p>@viewModel.getHeightFeet' @viewModel.getHeightinches"</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4 col-sm-4 col-md-4">
                        <label for="">Sex:</label>
                    </div>
                    <div class="col-xs-8 col-sm-8 col-md-8">
                        <p>@viewModel.getSex</p>
                    </div>
                </div>
            </div>

            <div class="col-xs-3 col-sm-3 col-md-3">
                <div class="row">
                    <div class="col-xs-4 col-sm-4 col-md-4">
                        <label>Weight:</label>
                    </div>
                    <div class="col-xs-8 col-sm-8 col-md-8">
                        <p>@viewModel.getWeight</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4 col-sm-4 col-md-4">
                        <label>Pregnancy:</label>
                    </div>
                    <div class="col-xs-8 col-sm-8 col-md-8">
                        <p>@viewModel.getWeeksPregnant</p>
                    </div>
                </div>
            </div>

            <div class="col-xs-3 col-sm-3 col-md-3">
                <div class="row">
                    <label>List of Diagnoses</label>
                </div>
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <p></p>
                        <p></p>
                        <p></p>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <p></p>
                        <p></p>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>

        <div class ="row well well-sm">
            <div class="row"  style="margin: 0 0 15px 0">
                <div class="col-sm-4 col-md-4" text align="center" >
                    <h4>Medication</h4>
                    <input type="text" name="med1" value="@viewModel.getMedication(0)" placeholder="Medication" class="form-control" disabled="true"/>
                </div>
                <div class="col-sm-4 col-md-4" align="center">
                    <h4>Replacement?</h4>
                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-default" id="yesReplace1" onclick="yesReplacement(1)">
                            <input type="radio" name="Medication1">Yes
                        </label>
                        <label class="btn btn-default active" id="noReplace1" onclick="noReplacement(1)">
                            <input type="radio" name="Medication1">No
                        </label>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4" align="center" style="margin: 35px 0 0 0">
                    <input type="text" id="replacementMedication1" placeholder="Replacement" class="hidden form-control"/>
                </div>
            </div>

            <div class="row"  style="margin: 0 0 15px 0">
                <div class="col-sm-4 col-md-4" align="center">
                    <input type="text" name="med2" value="@viewModel.getMedication(1)" placeholder="Medication" class="form-control" disabled="true"/>
                </div>
                <div class="col-sm-4 col-md-4" align="center">
                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-default" id="yesReplace2" onclick="yesReplacement(2)">
                            <input type="radio" name="Medication2">Yes
                        </label>
                        <label class="btn btn-default active" id="noReplace2" onclick="noReplacement(2)">
                            <input type="radio" name="Medication2">No
                        </label>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4" align="center">
                    <input type="text" id=replacementMedication2 placeholder="Replacement" class="hidden form-control"/>
                </div>
            </div>

            <div class="row"  style="margin: 0 0 15px 0">
                <div class="col-sm-4 col-md-4" align="center">
                    <input type="text" name="med3" value="@viewModel.getMedication(2)" placeholder="Medication" class="form-control" disabled="true"/>
                </div>
                <div class="col-sm-4 col-md-4" align="center">
                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-default" id="yesReplace3" onclick="yesReplacement(3)">
                            <input type="radio" name="Medication3">Yes
                        </label>
                        <label class="btn btn-default active" id="noReplace3" onclick="noReplacement(3)">
                            <input type="radio" name="Medication3">No
                        </label>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4">
                    <input type="text" id=replacementMedication3 placeholder="Replacement" class="hidden form-control"/>
                </div>
            </div>

            <div class="row"  style="margin: 0 0 15px 0">
                <div class="col-sm-4 col-md-4" align="center">
                    <input type="text" name="med4" value="@viewModel.getMedication(3)" placeholder="Medication" class="form-control" disabled="true"/>
                </div>
                <div class="col-sm-4 col-md-4" align="center">
                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-default" id="yesReplace4" onclick="yesReplacement(4)">
                            <input type="radio" name="Medication4">Yes
                        </label>
                        <label class="btn btn-default active" id="noReplace4" onclick="noReplacement(4)">
                            <input type="radio" name="Medication4">No
                        </label>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4" align="center">
                    <input type="text" id=replacementMedication4 placeholder="Replacement" class="hidden form-control"/>
                </div>
            </div>

            <div class="row" style="margin: 0 0 15px 0">
                <div class="col-sm-4 col-md-4" align="center">
                    <input type="text" name="med5" value="@viewModel.getMedication(4)" placeholder="Medication" class="form-control" disabled="true"/>
                </div>
                <div class="col-sm-4 col-md-4" align="center">
                    <div class="btn-group" data-toggle="buttons"  >
                        <label class="btn btn-default" id="yesReplace5" onclick="yesReplacement(5)">
                            <input type="radio" name="Medication5">Yes
                        </label>
                        <label class="btn btn-default active" id="noReplace5" onclick="noReplacement(5)">
                            <input type="radio" name="Medication5">No
                        </label>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4" align="center">
                    <input type="text" class="hidden form-control" id=replacementMedication5 placeholder="Replacement" />
                </div>
            </div>

            <div class="class row" align="right">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
        </form>
    </div>
}
